Repository fremtind/jokul, pull requests merged in 2019-10, with the labels that each got.

#373 Standardize form components
  packages/checkbox-react/example/index.tsx
  packages/checkbox-react/src/Checkbox.test.tsx
  packages/checkbox-react/src/Checkbox.tsx
  packages/core/core.scss
  packages/core/form-support-label.scss
  packages/core/labels.scss
  packages/core/normalize.scss
  packages/core/reset.scss
  packages/core/src/index.ts
  packages/core/variables/_colors.scss
  packages/core/variables/_font-size.scss
  packages/datepicker-react/example/index.tsx
  packages/datepicker-react/package.json
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker/datepicker.scss
  packages/datepicker/package.json
  packages/dropdown-react/example/index.html
  packages/dropdown-react/example/index.scss
  packages/dropdown-react/example/index.tsx
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown-react/src/Select.test.tsx
  packages/dropdown-react/src/Select.tsx
  packages/dropdown-react/src/SelectValuePair.test.ts
  packages/dropdown-react/src/SelectValuePair.ts
  packages/dropdown/dropdown.scss
  packages/field-group-react/example/index.html
  packages/field-group-react/example/index.scss
  packages/field-group-react/example/index.tsx
  packages/field-group-react/src/FieldGroup.tsx
  packages/field-group/example/index.html
  packages/field-group/example/index.scss
  packages/field-group/field-group.scss
  packages/radio-button-react/example/index.tsx
  packages/radio-button-react/src/RadioButton.tsx
  packages/radio-button-react/src/RadioButtonChoice.tsx
  packages/radio-button/radio-button.scss
  packages/table/table.scss
  packages/text-input-react/example/index.scss
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input/text-input.scss
  portal/src/examples/CheckboxExample.tsx
  portal/src/examples/DatepickerExample.tsx
  portal/src/examples/DropdownExample.tsx
  portal/src/examples/FieldGroupExample.tsx
  portal/src/examples/TextAreaExample.tsx
  portal/src/examples/TextFieldExample.tsx
Labels: design, enhancement

#399 fix(core): add and use wcag-compliant error/focus colors
  packages/accordion/accordion.scss
  packages/button/button.scss
  packages/checkbox/checkbox.scss
  packages/core/links.scss
  packages/core/variables/_colors.scss
  packages/dropdown/dropdown.scss
  packages/hamburger/hamburger.scss
  packages/radio-button/radio-button.scss
  packages/table/table.scss
  packages/text-input/text-input.scss
  packages/toggle-switch/toggle-switch.scss
Labels: bug

#404 feat(accordion): implement new design for regular page component
  packages/accordion/accordion.scss
  packages/accordion/example/index.tsx
Labels: enhancement

#416 fix(portal): reset style of accordions in main menu
  portal/src/components/Menu/Menu.scss
Labels: bug

#413 feat(loader): add aria-label and title to loader component
  packages/loader-react/example/index.tsx
  packages/loader-react/src/Loader.test.tsx
  packages/loader-react/src/Loader.tsx
  packages/loader/example/index.html
  packages/loader/example/index.scss
  packages/loader/example/index.tsx
Labels: enhancement

#419 Max length text field
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/TextField.test.tsx
  packages/text-input-react/src/TextField.tsx
Labels: enhancement

#423 Add compact mode for text fields
  packages/core/labels.scss
  packages/core/src/index.ts
  packages/core/variables/_font-size.scss
  packages/datepicker-react/example/index.tsx
  packages/dropdown-react/example/index.tsx
  packages/field-group-react/example/index.tsx
  packages/field-group-react/src/FieldGroup.tsx
  packages/radio-button-react/example/index.tsx
  packages/text-input-react/example/index.scss
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input/text-input.scss
  packages/typography-react/src/SupportLabel.tsx
  portal/src/examples/DatepickerExample.tsx
  portal/src/examples/DropdownExample.tsx
  portal/src/examples/TextAreaExample.tsx
  portal/src/examples/TextFieldExample.tsx
Labels: enhancement

#443 Add deploy action
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Labels: CI and deployment, enhancement

#442 Implement a separate Label component
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker/datepicker.scss
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown-react/src/Select.tsx
  packages/field-group-react/src/FieldGroup.tsx
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input/text-input.scss
  packages/typography-react/src/Label.tsx
  packages/typography-react/src/index.ts
Labels: enhancement

#461 chore(ci): fix branch filter on CI action
  .github/workflows/test.yml
Labels: CI and deployment, bug

#460 feat(button): implement forceCompact on buttons
  packages/button-react/example/index.html
  packages/button-react/example/index.scss
  packages/button-react/example/index.tsx
  packages/button-react/src/Button.test.tsx
  packages/button-react/src/Button.tsx
  packages/button/button.scss
Labels: enhancement

#462 feat(text-field): implement in line version of TextField
  packages/core/labels.scss
  packages/text-input-react/example/index.scss
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input/README.md
  packages/text-input/text-input.scss
  packages/typography-react/src/Label.tsx
  portal/src/examples/TextFieldExample.tsx
Labels: enhancement

#473 docs(portal): remove info about deleted tests
  guides/TestGuide.md
Labels: 📚 documentation

#476 Loader v1
  packages/loader-react/README.md
  packages/loader-react/src/Loader.tsx
  packages/loader/loader.scss
Labels: ✨ enhancement, 🎉 v1, 📚 documentation

#480 Button v1
  packages/button-react/README.md
  packages/button/button.scss
Labels: 🎉 v1, 📚 documentation

#479 Greenkeeper/default/nanoid 2.1.6
  packages/divider-line-react/package.json
  packages/dropdown-react/package.json
  yarn.lock
Labels: 🌱 greenkeeper, 👷‍♂️ CI and deployment

#484 Document deprecation of the Dropdown packages
  packages/dropdown-react/README.md
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown-react/src/Select.tsx
Labels: 🎉 v1, 📚 documentation

#487 Make radio button ready for v1
  packages/core/src/index.ts
  packages/core/src/utils/getValuePair.test.ts
  packages/core/src/utils/getValuePair.ts
  packages/core/src/utils/index.ts
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown-react/src/Select.tsx
  packages/dropdown-react/src/SelectValuePair.test.ts
  packages/dropdown-react/src/SelectValuePair.ts
  packages/radio-button-react/README.md
  packages/radio-button-react/example/index.html
  packages/radio-button-react/example/index.tsx
  packages/radio-button-react/src/RadioButtonChoice.tsx
  packages/radio-button-react/src/RadioButtonOption.test.tsx
  packages/radio-button-react/src/RadioButtonOption.tsx
  packages/radio-button-react/src/RadioButtons.test.tsx
  packages/radio-button-react/src/RadioButtons.tsx
  packages/radio-button-react/src/index.ts
  packages/radio-button/example/index.html
  packages/radio-button/radio-button.scss
  portal/src/examples/RadioButtonExample.tsx
Labels: ✨ enhancement, 🎉 v1, 📚 documentation
