Repository fremtind/jokul, pull requests merged in 2019-08, with the labels that each got.

#229 Portal portaldoc
  guides/GettingStarted.md
  guides/PortalGuide.md
  package.json
  packages/message-box/message-box.scss
  packages/text-input/text-input.scss
  portal/images/fremtind_hovedfoto.jpg
  portal/images/mountains.jpg
  portal/package.json
  portal/src/components/Example/Example.scss
  portal/src/components/Example/Example.tsx
  portal/src/components/Header/Header.scss
  portal/src/components/Layout/ComponentLayout.tsx
  portal/src/components/Layout/Layout.scss
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Menu/Menu.scss
  portal/src/components/Menu/Menu.tsx
  portal/src/components/Menu/links.ts
  portal/src/examples/LogoExample.tsx
  portal/src/pages/components/index.tsx
  portal/src/pages/developer/contribute.scss
  portal/src/pages/developer/contribute.tsx
  portal/src/pages/developer/portal.tsx
  portal/src/pages/index.tsx
  portal/src/pages/style.scss
  portal/src/presentation/markdownRenderer.ts
  portal/src/presentation/style.scss
Labels: documentation, enhancement

#232 Atomic layout
  packages/core/core.scss
  packages/core/spacing.scss
  packages/core/variables/_spacing.scss
  portal/src/components/Menu/Menu.tsx
  portal/src/examples/CheckboxExample.tsx
  portal/src/examples/LogoExample.tsx
  portal/src/examples/MessageBoxExample.tsx
  portal/src/examples/TypographyExample.tsx
  portal/src/presentation/markdownRenderer.ts
  portal/src/presentation/style.scss
Labels: enhancement

#233 Mozfocusring
  packages/accordion/accordion.scss
  packages/button/button.scss
  packages/core/links.scss
  packages/core/normalize.scss
  packages/dropdown/dropdown.scss
  packages/hamburger/hamburger.scss
  portal/src/components/Layout/Layout.scss
Labels: enhancement

#237 feat(portal): use same code highlighter for all example code
  portal/gatsby-browser.js
  portal/package.json
  portal/src/components/Example/CodeHighlight.tsx
  portal/src/components/Example/Example.scss
  portal/src/components/Example/Example.tsx
  portal/src/components/PrismHighlightedCode.tsx
  portal/src/utils/utils.ts
  yarn.lock
Labels: enhancement

#234 Help text
  packages/core/core.scss
  packages/core/form-support-text.scss
  packages/core/variables/_colors.scss
  packages/hamburger/hamburger.scss
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/SupportText.test.tsx
  packages/text-input-react/src/SupportText.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input/text-input.scss
  portal/src/components/Menu/Menu.scss
  portal/src/examples/TextAreaExample.tsx
  portal/src/examples/TextFieldExample.tsx
Labels: enhancement

#236 docs: add more information to core principle docs
  portal/src/texts/core/clarity.md
  portal/src/texts/core/elevation.md
  portal/src/texts/core/motion.md
  portal/src/texts/core/principle.md
  portal/src/texts/profile/colors.md
  portal/src/texts/profile/logo.md
Labels: documentation

#245 feat(logo): add logostamp
  packages/logo-react/example/index.tsx
  packages/logo-react/src/LogoAnimated.tsx
  packages/logo-react/src/LogoSymbol.tsx
  packages/logo-react/src/index.ts
  packages/logo-react/src/stamp/LogoStampDistributor.tsx
  packages/logo-react/src/stamp/LogoStampInnovation.tsx
  packages/logo-react/src/stamp/LogoStampInsurance.tsx
  packages/logo-react/src/stamp/LogoStampTechnology.tsx
  portal/src/components/Footer/Footer.scss
  portal/src/components/Footer/Footer.tsx
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Menu/Menu.scss
  portal/src/components/Menu/links.ts
  portal/src/components/index.ts
  portal/src/examples/LogoStampExample.tsx
  portal/src/examples/index.ts
  portal/src/pages/components/index.tsx
  portal/src/pages/components/logostamp.tsx
  portal/src/pages/index.tsx
Labels: enhancement

#261 feat(portal): add codesandbox example
  portal/src/components/Menu/Menu.tsx
  portal/src/components/Menu/links.ts
  portal/src/pages/example/codesandbox.tsx
Labels: documentation

#272 Oppdatert tekst på accordions, lagt til eksempler
  packages/accordion/README.md
Labels: documentation

#275 Oppdatert tekst inkl bruk som samtykkekomponent
  packages/checkbox/README.md
Labels: documentation

#278 Tekst inkl eksempler
  packages/loader/README.md
Labels: documentation

#279 Mini-tweak av tekst
  packages/logo/README.md
Labels: documentation

#280 Format på tekst, kort eksempel
  packages/radio-button/README.md
Labels: documentation

#281 Formattering, tekst og eksempler
  packages/text-input/README.md
Labels: documentation

#282 La til tekst
  packages/toggle-switch/README.md
Labels: documentation

#285 textinput fixes
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input/text-input.scss
  portal/src/examples/TextAreaExample.tsx
  portal/src/examples/TextFieldExample.tsx
Labels: enhancement

#273 feat(portal): add examples
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Menu/links.ts
  portal/src/components/Sandbox/Sandbox.tsx
  portal/src/components/index.ts
  portal/src/pages/example/footer.tsx
  portal/src/pages/example/header.tsx
  portal/src/pages/example/purchaseFlow.tsx
  portal/src/pages/index.tsx
Labels: documentation

#286 fix(checkbox): add classnames to props
  packages/checkbox-react/src/Checkbox.tsx
Labels: enhancement

#277 fix(dropdown)
  packages/dropdown-react/example/index.tsx
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown-react/src/Select.tsx
  packages/dropdown/dropdown.scss
  packages/text-input-react/package.json
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.tsx
  packages/typography-react/src/SupportText.test.tsx
  packages/typography-react/src/SupportText.tsx
  packages/typography-react/src/index.ts
  portal/src/examples/DropdownExample.tsx
Labels: enhancement

#291 fix(datepicker): allow classname to pass
  packages/datepicker-react/src/DatePicker.tsx
Labels: bug

#296 Tekst og eksempler
  packages/dropdown/README.md
Labels: documentation

#297 Tekst
  packages/datepicker/README.md
Labels: documentation

#298 Meldingsbokser
  packages/message-box/README.md
Labels: documentation

#294 refactor supportText & dropdown
  packages/core/core.scss
  packages/core/form-support-label.scss
  packages/dropdown-react/example/index.tsx
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown-react/src/Select.tsx
  packages/dropdown/dropdown.scss
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.tsx
  packages/typography-react/src/SupportLabel.test.tsx
  packages/typography-react/src/SupportLabel.tsx
  packages/typography-react/src/SupportText.test.tsx
  packages/typography-react/src/SupportText.tsx
  packages/typography-react/src/index.ts
  portal/src/examples/DropdownExample.tsx
  portal/src/examples/TextAreaExample.tsx
  portal/src/examples/TextFieldExample.tsx
Labels: enhancement

#299 fix(toggleswitch): update styling of toggler
  packages/toggle-switch-react/src/ToggleSwitch.tsx
  packages/toggle-switch/toggle-switch.scss
Labels: design, enhancement

#295 feat(link): updated link style
  packages/core/links.scss
  packages/typography-react/example/index.tsx
  packages/typography-react/src/Link.tsx
  portal/src/components/Info/WebComponentInfo.tsx
  portal/src/examples/TypographyExample.tsx
Labels: enhancement

#325 Update MessageBoxExample.tsx
  portal/src/examples/MessageBoxExample.tsx
Labels: documentation
