Repository fremtind/jokul, pull requests merged in 2019-07, with the labels that each got.

#92 feat(bullet list)
  packages/bullet-list-react/example/index.html
  packages/bullet-list-react/example/index.scss
  packages/bullet-list-react/example/index.tsx
  packages/bullet-list-react/package.json
  packages/bullet-list-react/src/BulletList.tsx
  packages/bullet-list-react/src/BulletListItem.tsx
  packages/bullet-list-react/src/List.stories.tsx
  packages/bullet-list-react/src/List.test.tsx
  packages/bullet-list-react/src/index.ts
  packages/bullet-list-react/tsconfig-for-declarations.json
  packages/bullet-list/README.md
  packages/bullet-list/bullet-list.scss
  packages/bullet-list/example/index.html
  packages/bullet-list/example/index.scss
  packages/bullet-list/package.json
Labels: enhancement

#130 feat(messagebox): add error,info and success message
  packages/message-box-react/README.md
  packages/message-box-react/example/index.html
  packages/message-box-react/example/index.tsx
  packages/message-box-react/package.json
  packages/message-box-react/src/MessageBox.test.tsx
  packages/message-box-react/src/MessageBox.tsx
  packages/message-box-react/src/index.ts
  packages/message-box-react/tsconfig-for-declarations.json
  packages/message-box/README.md
  packages/message-box/example/index.html
  packages/message-box/example/index.tsx
  packages/message-box/message-box.scss
  packages/message-box/package.json
Labels: enhancement

#178 Toggle switch 0
  packages/toggle-switch-react/CHANGELOG.md
  packages/toggle-switch-react/README.md
  packages/toggle-switch-react/example/index.html
  packages/toggle-switch-react/example/index.tsx
  packages/toggle-switch-react/package.json
  packages/toggle-switch-react/src/ToggleSwitch.test.tsx
  packages/toggle-switch-react/src/ToggleSwitch.tsx
  packages/toggle-switch-react/src/index.ts
  packages/toggle-switch-react/tsconfig-for-declarations.json
  packages/toggle-switch/CHANGELOG.md
  packages/toggle-switch/README.md
  packages/toggle-switch/example/index.html
  packages/toggle-switch/example/index.tsx
  packages/toggle-switch/gulpfile.js
  packages/toggle-switch/package.json
  packages/toggle-switch/toggle-switch.scss
  portal/src/components/Menu/links.ts
  portal/src/examples/ToggleSwitchExample.tsx
  portal/src/examples/index.ts
  portal/src/pages/components/index.tsx
  portal/src/pages/components/toggleswitch.tsx
Labels: enhancement

#185 fix(checkbox): fix style for older browser, add onchange handler
  packages/checkbox-react/example/index.tsx
  packages/checkbox-react/src/Checkbox.test.tsx
  packages/checkbox-react/src/Checkbox.tsx
  packages/checkbox/checkbox.scss
  packages/checkbox/example/index.tsx
  packages/toggle-switch-react/example/index.tsx
  packages/toggle-switch-react/src/ToggleSwitch.test.tsx
  packages/toggle-switch-react/src/ToggleSwitch.tsx
  portal/src/examples/CheckboxExample.tsx
  portal/src/examples/ToggleSwitchExample.tsx
Labels: bug

#187 Nanoid
  packages/divider-line-react/example/index.html
  packages/divider-line-react/package.json
  packages/divider-line-react/src/DividerLine.tsx
  packages/divider-line/divider-line.scss
  packages/divider-line/example/index.html
  packages/divider-line/example/index.tsx
  packages/radio-button-react/package.json
  packages/radio-button-react/src/RadioButton.tsx
  yarn.lock
Labels: bug

#192 feat(messagebox): add warning msgbox, add wc info in portal
  packages/message-box-react/example/index.tsx
  packages/message-box-react/src/MessageBox.test.tsx
  packages/message-box-react/src/MessageBox.tsx
  packages/message-box-react/src/index.ts
  packages/message-box/message-box.scss
  portal/src/components/Info/WebComponentInfo.tsx
  portal/src/components/Info/style.scss
  portal/src/examples/MessageBoxExample.tsx
  portal/src/pages/components/accordion.tsx
  portal/src/pages/components/datepicker.tsx
  portal/src/pages/components/dropdown.tsx
Labels: documentation, enhancement

#193 feat(text-input): update style according to sketches
  packages/datepicker-react/example/index.html
  packages/datepicker/datepicker.scss
  packages/text-input-react/example/index.scss
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input/text-input.scss
Labels: enhancement

#195 Add <select>-based dropdown
  packages/dropdown-react/example/index.tsx
  packages/dropdown-react/src/Select.test.tsx
  packages/dropdown-react/src/Select.tsx
  packages/dropdown-react/src/index.ts
  packages/dropdown/dropdown.scss
  packages/dropdown/example/index.html
  packages/dropdown/example/index.scss
  packages/dropdown/example/index.ts
  packages/dropdown/package.json
  portal/src/examples/DropdownExample.tsx
Labels: enhancement

#196 fix(message-box): dont let it grow beoynd its size
  packages/message-box/message-box.scss
Labels: bug

#194 Hamburger
  packages/core/mixins/_motion.scss
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/useClickOutside.ts
  packages/hamburger-react/CHANGELOG.md
  packages/hamburger-react/README.md
  packages/hamburger-react/example/index.html
  packages/hamburger-react/example/index.tsx
  packages/hamburger-react/package.json
  packages/hamburger-react/src/Hamburger.test.tsx
  packages/hamburger-react/src/Hamburger.tsx
  packages/hamburger-react/src/index.ts
  packages/hamburger-react/tsconfig-for-declarations.json
  packages/hamburger/CHANGELOG.md
  packages/hamburger/README.md
  packages/hamburger/example/index.html
  packages/hamburger/example/index.tsx
  packages/hamburger/gulpfile.js
  packages/hamburger/hamburger.scss
  packages/hamburger/package.json
  portal/src/components/Menu/links.ts
  portal/src/examples/HamburgerExample.tsx
  portal/src/examples/index.ts
  portal/src/pages/components/hamburger.tsx
  portal/src/pages/components/index.tsx
Labels: enhancement

#198 fix(dropdown): make dropdown use passed classname prop
  packages/dropdown-react/example/index.scss
  packages/dropdown-react/example/index.tsx
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown/dropdown.scss
Labels: bug

#197 Portal 7
  CONTRIBUTING.md
  guides/CodeGuide.md
  guides/GettingStarted.md
  guides/PullRequestGuide.md
  portal/gatsby-config.js
  portal/images/fremtind_hovedfoto.jpg
  portal/package.json
  portal/src/components/Layout/ComponentLayout.tsx
  portal/src/components/Layout/Layout.scss
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Menu/Menu.scss
  portal/src/components/Menu/Menu.tsx
  portal/src/components/Menu/links.ts
  portal/src/pages/components/checkbox.tsx
  portal/src/pages/components/index.tsx
  portal/src/pages/developer/contribute.scss
  portal/src/pages/developer/contribute.tsx
  portal/src/pages/developer/getting-started.tsx
  portal/src/pages/index.tsx
  portal/src/pages/style.scss
  portal/src/texts/FrontPage.md
  portal/src/texts/frontpage/Hero.md
  yarn.lock
Labels: documentation

#202 Update CodeGuide.md
  guides/CodeGuide.md
Labels: documentation

#203 fix(radio-button): style fieldset and label correctly
  packages/radio-button/radio-button.scss
Labels: enhancement

#204 fix(text-input): show underline in mobile Safari
  packages/text-input/text-input.scss
Labels: bug

#206 Update GettingStarted.md
  guides/GettingStarted.md
Labels: documentation

#208 fix(tablistener): only listen to Tab key, not arrows
  packages/core/src/utils/tabListener.ts
Labels: bug

#209 feat(datepicker-react): use select from jkl-dropdown for month picker
  packages/datepicker-react/package.json
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker/datepicker.scss
Labels: enhancement

#212 feat(portal): add github links, add figma iframe to button
  guides/CodeGuide.md
  portal/src/components/Example/Example.scss
  portal/src/components/Example/Example.tsx
  portal/src/components/Layout/CodeLink.tsx
  portal/src/components/Layout/ComponentLayout.tsx
  portal/src/components/Layout/Layout.scss
  portal/src/components/icons/ReactIcon.tsx
  portal/src/components/icons/SassIcon.tsx
  portal/src/components/icons/index.ts
  portal/src/components/icons/style.scss
  portal/src/examples/ButtonExample.tsx
  portal/src/pages/components/accordion.tsx
  portal/src/pages/components/bulletlist.tsx
  portal/src/pages/components/button.tsx
  portal/src/pages/components/card.tsx
  portal/src/pages/components/checkbox.tsx
  portal/src/pages/components/datepicker.tsx
  portal/src/pages/components/dividerline.tsx
  portal/src/pages/components/dropdown.tsx
  portal/src/pages/components/hamburger.tsx
  portal/src/pages/components/loader.tsx
  portal/src/pages/components/logo.tsx
  portal/src/pages/components/messagebox.tsx
  portal/src/pages/components/radiobutton.tsx
  portal/src/pages/components/textarea.tsx
  portal/src/pages/components/textfield.tsx
  portal/src/pages/components/toggleswitch.tsx
  portal/src/pages/components/typography.tsx
Labels: documentation

#214 Update README.md
  packages/hamburger-react/README.md
  packages/hamburger/README.md
Labels: documentation

#217 Add style and component for links
  packages/core/core.scss
  packages/core/links.scss
  packages/typography-react/src/Link.tsx
  packages/typography-react/src/index.ts
  portal/src/components/Info/WebComponentInfo.tsx
  portal/src/examples/TypographyExample.tsx
  portal/src/presentation/markdownRenderer.ts
Labels: enhancement

#225 Fix issues with text field
  packages/text-input-react/src/TextArea.test.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.test.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input/text-input.scss
Labels: bug, enhancement

#224 Fix issues with dropdown
  packages/dropdown-react/example/index.tsx
  packages/dropdown-react/src/Dropdown.test.tsx
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown-react/src/Select.tsx
  packages/dropdown/dropdown.scss
Labels: bug, enhancement

#227 feat(datepicker-react): add support for custom month/day names
  packages/datepicker-react/example/index.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker/datepicker.scss
  portal/src/examples/DatepickerExample.tsx
Labels: enhancement

#228 fix(datepicker-react): stop datepicker from submitting forms when opened
  packages/datepicker-react/src/DatePicker.tsx
  portal/src/examples/DatepickerExample.tsx
Labels: bug
