Repository fremtind/jokul, pull requests merged in 2019-12, with the labels that each got.

#540 fix(portal): use prefix path when loading webfonts
  portal/src/pages/style.scss
Labels: 🐝 bug

#469 docs: update information on colors
  portal/src/texts/profile/colors.md
Labels: 📚 documentation

#541 refactor: unify titles in examples
  packages/accordion-react/example/index.html
  packages/accordion/example/index.html
  packages/button-react/example/index.html
  packages/button/example/index.html
  packages/card-react/example/index.html
  packages/card/example/index.html
  packages/checkbox-react/example/index.html
  packages/checkbox/example/index.html
  packages/datepicker-react/example/index.html
  packages/divider-line-react/example/index.html
  packages/divider-line/example/index.html
  packages/field-group-react/example/index.html
  packages/field-group/example/index.html
  packages/hamburger-react/example/index.html
  packages/hamburger/example/index.html
  packages/list-react/example/index.html
  packages/list/example/index.html
  packages/loader-react/example/index.html
  packages/loader/example/index.html
  packages/logo-react/example/index.html
  packages/message-box-react/example/index.html
  packages/message-box/example/index.html
  packages/progress-bar-react/example/index.html
  packages/progress-bar/example/index.html
  packages/radio-button-react/example/index.html
  packages/radio-button/example/index.html
  packages/select-react/example/index.html
  packages/select/example/index.html
  packages/table-react/example/index.html
  packages/table/example/index.html
  packages/text-input-react/example/index.html
  packages/text-input/example/index.html
  packages/toggle-switch-react/example/index.html
  packages/toggle-switch/example/index.html
  packages/typography-react/example/index.html
Labels: 📚 documentation

#536 chore(core): upgrade to typescript 3.7 and update react with types
  package.json
  yarn.lock
Labels: 🚇 infrastructure

#538 chore(lint): use eslint to perform prettier, cleans up pkgjson
  .eslintrc.js
  package.json
  yarn.lock
Labels: 👷‍♂️ CI and deployment

#539 chore(ci): force use of lockfile on ci
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Labels: 👷‍♂️ CI and deployment

#542 docs: document breaking changes in v1 to ease migration
  MIGRATION.md
Labels: 🎉 v1, 📚 documentation

#550 fix(button): use correct shade of white on the buttons
  packages/button/button.scss
Labels: ✅ bugfix

#565 fix(webfonts): update @font-face rules to handle locally installed fonts
  packages/webfonts/webfonts.scss
Labels: ✅ bugfix

#571 feat(accordion-react): add support for custom className on AccordionItem
  packages/accordion-react/src/AccordionItem.test.tsx
  packages/accordion-react/src/AccordionItem.tsx
Labels: ✅ bugfix, ✨ enhancement

#573 fix(select): stop native arrow from showing in IE11
  packages/select/select.scss
Labels: ✅ bugfix

#465 Update logo.md
  portal/src/texts/profile/logo.md
Labels: 📚 documentation

#584 fix(toggle-switch): fix formatting of toggle switch label
  packages/toggle-switch-react/src/ToggleSwitch.tsx
  packages/toggle-switch/toggle-switch.scss
Labels: ✅ bugfix

#566 feat(core): make a component of screenreader only
  packages/core/core.scss
  packages/core/example/index.tsx
  packages/core/screen-reader.scss
  packages/core/src/components/ScreenReaderOnly.test.tsx
  packages/core/src/components/ScreenReaderOnly.tsx
  packages/core/src/components/index.ts
  packages/core/src/index.ts
Labels: ✨ enhancement

#586 fix(progressbar): change to allowed semantic components
  package.json
  packages/progress-bar-react/src/ProgressBar.test.tsx
  packages/progress-bar-react/src/ProgressBar.tsx
  yarn.lock
Labels: ✅ bugfix, 🦽 a11y

#578 fix(card): lets title be a optional prop
  packages/card-react/example/index.tsx
  packages/card-react/src/Card.test.tsx
  packages/card-react/src/Card.tsx
Labels: ✅ bugfix

#587 fix(field-group): remove float in field-group to fix wrapping issue
  packages/field-group/field-group.scss
Labels: ✅ bugfix

#545 Jokul components on dark background
  packages/button/button.scss
  packages/core/mixins/_all.scss
  packages/core/mixins/_underline.scss
  packages/datepicker/datepicker.scss
  packages/select-react/example/index.scss
  packages/select-react/example/index.tsx
  packages/select/select.scss
  packages/text-input/text-input.scss
Labels: ✨ enhancement

#588 feat(release): setup release of master to next tag
  .github/workflows/canary.yml
  .github/workflows/deploy.yml
  lerna.json
Labels: 👷‍♂️ CI and deployment, 🚇 infrastructure
