Repository fremtind/jokul, pull requests merged in 2019-06, with the labels that each got.

#27 refactor(core): change demo/example to match new folder structure
  packages/core/example/index.html
  packages/core/example/index.tsx
  packages/core/example/style.scss
  packages/core/package.json
Labels: documentation, enhancement

#30 docs(card-react): update card stories with more correct information
  packages/card-react/src/Card.stories.tsx
Labels: enhancement

#32 feat(dropdown): clean up from hackaton
  README.md
  packages/dropdown/README.md
  packages/dropdown/dropdown.scss
  packages/dropdown/example/index.tsx
  packages/dropdown/package.json
  yarn.lock
Labels: enhancement

#47 feat(ci): activate travis
  .travis.yml
  README.md
  package.json
Labels: documentation, enhancement

#49 Update README.md
  README.md
Labels: documentation

#22 feat(dividerline): add dividerline
  packages/divider-line-react/README.md
  packages/divider-line-react/example/index.html
  packages/divider-line-react/example/index.tsx
  packages/divider-line-react/package.json
  packages/divider-line-react/src/DividerLine.stories.tsx
  packages/divider-line-react/src/DividerLine.tsx
  packages/divider-line-react/src/index.ts
  packages/divider-line-react/tsconfig-for-declarations.json
  packages/divider-line-react/tsconfig.json
  packages/divider-line/README.md
  packages/divider-line/divider-line.scss
  packages/divider-line/example/index.html
  packages/divider-line/example/index.tsx
  packages/divider-line/package.json
Labels: enhancement

#65 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .travis.yml
Labels: documentation

#70 feat(logo): add logo package, better animate logo
  packages/header/package.json
  packages/logo-react/example/index.tsx
  packages/logo-react/package.json
  packages/logo-react/src/Logo.stories.tsx
  packages/logo-react/src/LogoAnimated.tsx
  packages/logo-react/src/LogoMain.tsx
  packages/logo-react/src/LogoSymbol.tsx
  packages/logo-react/src/styles.scss
  packages/logo/README.md
  packages/logo/logo.scss
  packages/logo/package.json
Labels: enhancement

#78 feat(dropdown): add react wrapper for dropdown
  .travis.yml
  package.json
  packages/dropdown-react/README.md
  packages/dropdown-react/example/index.html
  packages/dropdown-react/example/index.tsx
  packages/dropdown-react/package.json
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown-react/src/index.ts
  packages/dropdown-react/tsconfig-for-declarations.json
  packages/dropdown-react/tsconfig.json
  packages/dropdown/README.md
  packages/dropdown/dropdown.scss
  packages/dropdown/example/index.html
  packages/dropdown/example/index.tsx
  packages/dropdown/package.json
  packages/text-field/package.json
  rollup.config.js
  yarn.lock
Labels: enhancement

#86 test(dropdown): add dropdown test
  packages/dropdown-react/src/Dropdown.test.tsx
  packages/dropdown-react/src/Dropdown.tsx
Labels: documentation
