Repository fremtind/jokul, pull requests merged in 2019-09, with the labels that each got.

#355 feat(portal): add page title and fix accessibility issues
  portal/package.json
  portal/src/components/Example/Example.tsx
  portal/src/components/Header/Header.tsx
  portal/src/components/Layout/CodeLink.tsx
  portal/src/components/Layout/ComponentLayout.tsx
  portal/src/components/Layout/Layout.scss
  portal/src/components/Layout/Layout.tsx
  portal/src/presentation/markdownRenderer.ts
  yarn.lock
Labels: enhancement

#358 Clean up README.md
  README.md
Labels: documentation

#344 Utkast til bildestil
  portal/src/texts/profile/picture.md
Labels: Text, design, documentation

#334 Update README.md
  packages/radio-button/README.md
Labels: Text, documentation

#367 Fix dependencies in dropdown and accordion
  packages/accordion-react/package.json
  packages/dropdown-react/package.json
  yarn.lock
Labels: bug

#374 feat(loader-react): make loader accept className as prop
  packages/loader-react/src/Loader.test.tsx
  packages/loader-react/src/Loader.tsx
Labels: enhancement

#375 Dropdown value pairs
  packages/dropdown-react/example/index.tsx
  packages/dropdown-react/src/Dropdown.tsx
  packages/dropdown-react/src/Select.test.tsx
  packages/dropdown-react/src/Select.tsx
  packages/dropdown-react/src/SelectValuePair.test.ts
  packages/dropdown-react/src/SelectValuePair.ts
Labels: enhancement
