Repository fremtind/jokul, pull requests merged in 2019-11, with the labels that each got.

#488 refactor: move all text input components to same package
  packages/action-icon-react/README.md
  packages/action-icon-react/example/index.html
  packages/action-icon-react/example/index.scss
  packages/action-icon-react/example/index.tsx
  packages/action-icon-react/package.json
  packages/action-icon-react/src/index.ts
  packages/action-icon-react/tsconfig-for-declarations.json
  packages/action-text-field-react/README.md
  packages/action-text-field-react/example/index.html
  packages/action-text-field-react/example/index.tsx
  packages/action-text-field-react/package.json
  packages/action-text-field-react/src/ActionTextField.tsx
  packages/action-text-field-react/src/index.ts
  packages/action-text-field-react/tsconfig-for-declarations.json
  packages/action-text-field/README.md
  packages/action-text-field/action-text-field.scss
  packages/action-text-field/gulpfile.js
  packages/action-text-field/package.json
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/ActionIcon.tsx
  packages/text-input-react/src/ActionTextField.tsx
  packages/text-input-react/src/BaseInputField.tsx
  packages/text-input-react/src/Icons/IconClear.tsx
  packages/text-input-react/src/Icons/IconDelete.tsx
  packages/text-input-react/src/Icons/IconEdit.tsx
  packages/text-input-react/src/Icons/IconSearch.tsx
  packages/text-input-react/src/InlineTextField.test.tsx
  packages/text-input-react/src/InlineTextField.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.test.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input-react/src/index.ts
  packages/text-input/text-input.scss
  packages/typography-react/src/Label.tsx
  yarn.lock
Labels: ✨ enhancement, 🎉 v1

#495 feat(progressbar): add progressbar
  .eslintrc.js
  packages/core/mixins/_motion.scss
  packages/core/variables/_colors.scss
  packages/progress-bar-react/CHANGELOG.md
  packages/progress-bar-react/README.md
  packages/progress-bar-react/example/index.html
  packages/progress-bar-react/example/index.tsx
  packages/progress-bar-react/package.json
  packages/progress-bar-react/src/ProgressBar.test.tsx
  packages/progress-bar-react/src/ProgressBar.tsx
  packages/progress-bar-react/src/index.ts
  packages/progress-bar-react/tsconfig-for-declarations.json
  packages/progress-bar/CHANGELOG.md
  packages/progress-bar/README.md
  packages/progress-bar/example/index.html
  packages/progress-bar/example/index.tsx
  packages/progress-bar/gulpfile.js
  packages/progress-bar/package.json
  packages/progress-bar/progress-bar.scss
  portal/src/components/Menu/links.ts
  portal/src/examples/ProgressBarExample.tsx
  portal/src/examples/index.ts
  portal/src/pages/components/index.tsx
  portal/src/pages/components/progressbar.tsx
Labels: ✨ enhancement, 💼 needed by client

#498 fix(datepicker): fix alignment of year value in picker
  packages/datepicker/datepicker.scss
Labels: 🐝 bug

#502 fix(datepicker-react): datepicker fire onChange on edit
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/DatePicker.tsx
Labels: 🐝 bug

#496 feat: add support for global compact mode
  packages/button/button.scss
  packages/checkbox/checkbox.scss
  packages/core/README.md
  packages/core/headings.scss
  packages/core/labels.scss
  packages/core/mixins/_helpers.scss
  packages/core/paragraphs.scss
  packages/radio-button/radio-button.scss
  packages/select/select.scss
  packages/text-input/text-input.scss
Labels: ✨ enhancement

#503 fix(select-react): make Select & NativeSelect useable as uncontrolled
  packages/select-react/example/index.tsx
  packages/select-react/src/NativeSelect.test.tsx
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
Labels: 🐝 bug

#472 Update typography.md
  portal/src/texts/profile/typography.md
Labels: 📚 documentation

#508 feat(core): move fieldset styling to reset.css
  packages/core/reset.scss
  packages/field-group-react/src/FieldGroup.tsx
  packages/field-group/field-group.scss
Labels: 🐝 bug

#507 feat(toggle-switch-react): add disabled state
  packages/core/labels.scss
  packages/toggle-switch-react/README.md
  packages/toggle-switch-react/example/index.tsx
  packages/toggle-switch-react/package.json
  packages/toggle-switch-react/src/ToggleSwitch.test.tsx
  packages/toggle-switch-react/src/ToggleSwitch.tsx
  packages/toggle-switch/toggle-switch.scss
  packages/typography-react/src/SupportLabel.tsx
  portal/src/components/Menu/Menu.tsx
Labels: ✨ enhancement, 🎉 v1

#511 docs: add deprecation warning for usage of BulletList
  packages/bullet-list-react/README.md
  packages/bullet-list-react/src/BulletList.tsx
  packages/bullet-list-react/src/BulletListItem.tsx
  packages/bullet-list/README.md
Labels: 📚 documentation

#513 fix(toggle-switch-react): update dependencies
  packages/toggle-switch-react/package.json
Labels: 🐝 bug

#514 chore: ugradee jest type definitions
  package.json
  yarn.lock
Labels: 🚇 infrastructure

#505 feat: add ordered list (and support for all paragraph styles)
  packages/bullet-list-react/README.md
  packages/bullet-list-react/example/index.scss
  packages/bullet-list-react/example/index.tsx
  packages/bullet-list-react/src/BulletList.test.tsx
  packages/bullet-list-react/src/BulletList.tsx
  packages/bullet-list-react/src/BulletListItem.tsx
  packages/bullet-list-react/src/index.ts
  packages/bullet-list/bullet-list.scss
  packages/bullet-list/example/index.html
  packages/list-react/CHANGELOG.md
  packages/list-react/README.md
  packages/list-react/example/index.html
  packages/list-react/example/index.scss
  packages/list-react/example/index.tsx
  packages/list-react/package.json
  packages/list-react/src/List.test.tsx
  packages/list-react/src/List.tsx
  packages/list-react/src/ListItem.tsx
  packages/list-react/src/index.ts
  packages/list-react/tsconfig-for-declarations.json
  packages/list/CHANGELOG.md
  packages/list/README.md
  packages/list/example/index.html
  packages/list/example/index.scss
  packages/list/gulpfile.js
  packages/list/list.scss
  packages/list/package.json
  packages/message-box-react/README.md
  portal/src/components/Menu/links.ts
  portal/src/examples/BulletListExample.tsx
  portal/src/examples/ListExample.tsx
  portal/src/examples/MessageBoxExample.tsx
  portal/src/examples/index.ts
  portal/src/pages/components/bulletlist.tsx
  portal/src/pages/components/index.tsx
  portal/src/pages/components/list.tsx
  portal/src/pages/developer/contribute.scss
  portal/src/pages/style.scss
  portal/src/presentation/markdownRenderer.ts
Labels: ✨ enhancement, 🎉 v1, 🎨 design

#518 Table v1
  packages/table-react/README.md
  packages/table-react/example/index.tsx
  packages/table-react/src/Table.test.tsx
  packages/table-react/src/Table.tsx
  packages/table-react/src/TableData.tsx
  packages/table-react/src/TableRow.tsx
  packages/table-react/src/index.ts
  packages/table-react/src/types.ts
  packages/table/README.md
  packages/table/table.scss
  portal/src/examples/AnchorTableExample.tsx
Labels: ✨ enhancement, 🎉 v1, 📚 documentation

#522 chore(package): update @typescript-eslint/eslint-plugin to version 2.8.0
  package.json
Labels: 🌱 greenkeeper

#520 docs(field-group-react): document usage of react component
  packages/field-group-react/README.md
Labels: 🎉 v1, 📚 documentation

#519 fix(select-react): use valuePair label as initial display value
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
Labels: 🐝 bug

#509 Card component
  packages/card-react/README.md
  packages/card-react/example/img/car.jpg
  packages/card-react/example/img/grass.jpg
  packages/card-react/example/img/index.d.ts
  packages/card-react/example/index.html
  packages/card-react/example/index.scss
  packages/card-react/example/index.tsx
  packages/card-react/package.json
  packages/card-react/src/Card.test.tsx
  packages/card-react/src/Card.tsx
  packages/card/card.scss
Labels: ✨ enhancement

#521 Hamburger component v1
  packages/hamburger-react/README.md
  packages/hamburger-react/example/index.html
  packages/hamburger-react/example/index.tsx
  packages/hamburger-react/src/Hamburger.test.tsx
  packages/hamburger-react/src/Hamburger.tsx
  packages/hamburger/hamburger.scss
Labels: ✨ enhancement, 🎉 v1, 📚 documentation

#525 feat(ci): do not run CI tests on feature/release branches
  .github/workflows/test.yml
  .travis.yml
Labels: 👷‍♂️ CI and deployment

#527 fix(ci): fix predeploy step in travis
  .travis.yml
Labels: 👷‍♂️ CI and deployment

#528 Accordion v1
  packages/accordion-react/README.md
Labels: 🎉 v1, 📚 documentation

#456 Icon button
  packages/select-react/example/index.tsx
  packages/select-react/src/NativeSelect.test.tsx
  packages/table-react/src/Table.test.tsx
  packages/text-input-react/README.md
  packages/text-input-react/example/index.tsx
  packages/text-input-react/src/ActionIcon.tsx
  packages/text-input-react/src/ActionTextField.test.tsx
  packages/text-input-react/src/ActionTextField.tsx
  packages/text-input-react/src/BaseInputField.test.tsx
  packages/text-input-react/src/BaseInputField.tsx
  packages/text-input-react/src/Icons/IconClear.tsx
  packages/text-input-react/src/Icons/IconSearch.tsx
  packages/text-input-react/src/InlineTextField.test.tsx
  packages/text-input-react/src/InlineTextField.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.test.tsx
  packages/text-input-react/src/TextField.tsx
  packages/text-input-react/src/index.ts
  packages/text-input/text-input.scss
  packages/typography-react/src/Label.tsx
  portal/src/examples/AccordionExample.tsx
  portal/src/examples/ListExample.tsx
  yarn.lock
Labels: ✨ enhancement, 🎨 design, 👋 help wanted

#526 Datepicker v1
  packages/datepicker-react/README.md
  packages/datepicker-react/example/index.tsx
Labels: 🎉 v1, 📚 documentation

#529 feat(ci): add github action for deploying the portal
  .github/workflows/deploy.yml
Labels: 👷‍♂️ CI and deployment

#523 Add webfonts package
  packages/core/core.scss
  packages/core/font.scss
  packages/webfonts/README.md
  packages/webfonts/fonts/FremtindGrotesk-Bold-Web.woff
  packages/webfonts/fonts/FremtindGrotesk-Bold-Web.woff2
  packages/webfonts/fonts/FremtindGrotesk-BoldItalic-Web.woff
  packages/webfonts/fonts/FremtindGrotesk-BoldItalic-Web.woff2
  packages/webfonts/fonts/FremtindGrotesk-Display-Web.woff
  packages/webfonts/fonts/FremtindGrotesk-Display-Web.woff2
  packages/webfonts/fonts/FremtindGrotesk-Italic-Web.woff
  packages/webfonts/fonts/FremtindGrotesk-Italic-Web.woff2
  packages/webfonts/fonts/FremtindGrotesk-Regular-Web.woff
  packages/webfonts/fonts/FremtindGrotesk-Regular-Web.woff2
  packages/webfonts/fonts/FremtindGroteskMono-Regular-Web.woff
  packages/webfonts/fonts/FremtindGroteskMono-Regular-Web.woff2
  packages/webfonts/gulpfile.js
  packages/webfonts/package.json
  packages/webfonts/webfonts.scss
  portal/src/pages/profile/colors.scss
  portal/src/pages/style.scss
  portal/static/fonts/FremtindGrotesk-Bold-Web.woff
  portal/static/fonts/FremtindGrotesk-Bold-Web.woff2
  portal/static/fonts/FremtindGrotesk-BoldItalic-Web.woff
  portal/static/fonts/FremtindGrotesk-BoldItalic-Web.woff2
  portal/static/fonts/FremtindGrotesk-Display-Web.woff
  portal/static/fonts/FremtindGrotesk-Display-Web.woff2
  portal/static/fonts/FremtindGrotesk-Italic-Web.woff
  portal/static/fonts/FremtindGrotesk-Italic-Web.woff2
  portal/static/fonts/FremtindGrotesk-Regular-Web.woff
  portal/static/fonts/FremtindGrotesk-Regular-Web.woff2
  portal/static/fonts/FremtindGroteskMono-Regular-Web.woff
  portal/static/fonts/FremtindGroteskMono-Regular-Web.woff2
Labels: ✨ enhancement, 🎉 v1, 🎨 design

#534 (select-react) fix: fix visual jump when value is empty
  packages/select-react/example/index.html
  packages/select-react/src/Select.tsx
Labels: 🐝 bug

#535 docs(divider-line-react): import core style in example
  packages/divider-line-react/example/index.tsx
Labels: 🐝 bug, 📚 documentation
