Repository fremtind/jokul, pull requests merged in 2020-07, with the labels that each got.

#1068 Nye util-klasser for spacing, og dokumentasjon av spacing
  packages/core/documentation/Spacing/Spacing.scss
  packages/core/documentation/Spacing/Spacing.tsx
  packages/core/documentation/spacing.mdx
  packages/core/spacing.scss
  packages/core/variables/_spacing.scss
  portal/src/components/Documentation/Spacing/SpacingTable.scss
  portal/src/components/Documentation/Spacing/SpacingTable.tsx
  portal/src/texts/profile/formdesign.mdx
  portal/src/texts/profile/icon.mdx
  portal/src/texts/profile/picture.mdx
  portal/src/texts/profile/shadow.mdx
  portal/src/texts/profile/spacing.mdx
Labels: ✨ enhancement, 📚 documentation

#1071 Make portal code blocks accessible and add dark mode support
  portal/src/components/CodeBlock/CodeBlock.scss
  portal/src/components/CodeBlock/CodeBlock.tsx
  portal/src/components/CodeBlock/fremtindTheme.ts
  portal/src/components/CodeBlock/fremtindThemeDark.ts
  portal/src/components/CodeBlock/index.ts
  portal/src/components/Typography/Typography.tsx
  portal/src/components/Typography/typography.scss
Labels: ✅ bugfix, ✨ enhancement, 👽portal

#1084 chore: add yarn cache to cypress and portal action
  .github/workflows/cypress.yml
  .github/workflows/portal.yml
  cypress.json
  package.json
  portal/package.json
Labels: 👷‍♂️ CI and deployment, 🚇 infrastructure

#982 feat(portal): add animation to portal
  cypress/support/checkPortalPage.js
  cypress/support/index.js
  package.json
  packages/accordion-react/integration/accordion.spec.js
  packages/button-react/integration/button.spec.js
  portal/gatsby-config.js
  portal/integration/frontpage.spec.js
  portal/src/components/Documentation/Picture/HeroImage.tsx
  portal/src/components/Header/components/FullScreenMenu.tsx
  portal/src/components/Header/components/FullScreenMenuItem.tsx
  portal/src/components/Header/components/useFullScreenMenuAnimation.tsx
  portal/src/components/Layout/DocPageLayout.tsx
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Sidebar/Sidebar.scss
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/components/Sidebar/SidebarMenuItem.tsx
  portal/src/pages/404.tsx
  portal/src/pages/index.tsx
Labels: ✨ enhancement, 👽portal

#1085 feat: screen reader only label for select + width prop
  packages/select-react/src/Select.tsx
  packages/select/select.scss
Labels: ✨ enhancement

#1090 test: update tests to use new testing library syntax
  packages/accordion-react/src/Accordion.test.tsx
  packages/accordion-react/src/AccordionItem.test.tsx
  packages/alert-message-react/src/AlertMessage.test.tsx
  packages/button-react/src/Button.test.tsx
  packages/card-react/src/Card.test.tsx
  packages/checkbox-react/src/Checkbox.test.tsx
  packages/core/src/components/ScreenReaderOnly.test.tsx
  packages/core/src/components/SupportLabel.test.tsx
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/field-group-react/src/FieldGroup.test.tsx
  packages/hamburger-react/src/Hamburger.test.tsx
  packages/icon-button-react/src/IconButton.test.tsx
  packages/list-react/src/List.test.tsx
  packages/loader-react/src/Loader.test.tsx
  packages/message-box-react/src/MessageBox.test.tsx
  packages/progress-bar-react/src/ProgressBar.test.tsx
  packages/radio-button-react/src/RadioButtonOption.test.tsx
  packages/radio-button-react/src/RadioButtons.test.tsx
  packages/react-hooks/src/useClickOutside.test.tsx
  packages/react-hooks/src/useFocusOutside.test.tsx
  packages/select-react/src/NativeSelect.test.tsx
  packages/select-react/src/Select.test.tsx
  packages/table-react/src/Table.test.tsx
  packages/text-input-react/src/TextArea.test.tsx
  packages/text-input-react/src/TextInput.test.tsx
  packages/toggle-switch-react/src/ToggleSwitch.test.tsx
  packages/typography-react/src/SupportLabel.test.tsx
  packages/typography-react/src/Typography.test.tsx
Labels: ✨ enhancement, 🔬 tests

#992 feat(responsive radio/checkbox label): better responsive labels
  packages/checkbox-react/documentation/Example.tsx
  packages/checkbox-react/src/Checkbox.test.tsx
  packages/checkbox-react/src/Checkbox.tsx
  packages/checkbox/checkbox.scss
  packages/radio-button-react/documentation/Example.tsx
  packages/radio-button-react/src/RadioButtonOption.tsx
  packages/radio-button-react/src/RadioButtons.test.tsx
  packages/radio-button/radio-button.scss
Labels: ✅ bugfix

#1103 feat(checkbox): add support for refs to checkbox
  packages/checkbox-react/src/Checkbox.tsx
Labels: ✨ enhancement

#1078 Tilgjengelighetstester i portalen
  cypress/support/checkPortalPage.js
  portal/src/components/CodeBlock/CodeBlock.scss
  portal/src/components/CodeBlock/CodeBlock.tsx
  portal/src/texts/profile/picture.mdx
  portal/src/texts/profile/principle.mdx
Labels: ♿️ a11y, ✅ bugfix, 👽portal, 🔬 tests

#1093 docs(profile): update color docs to use new util classes
  portal/src/components/Documentation/Colors/ColorDescription.scss
  portal/src/components/Documentation/Colors/Colors.scss
  portal/src/components/Documentation/Colors/Colors.tsx
  yarn.lock
Labels: 📚 documentation

#1105 Fix small bug in spacing/typography docs
  packages/core/documentation/Spacing/Spacing.tsx
  portal/src/components/Documentation/Spacing/SpacingTable.tsx
  portal/src/components/Documentation/Typography/TypograhyTable/ExampleRow.tsx
Labels: ✅ bugfix, 👽portal, 📚 documentation

#1111 chore: update react-helmet
  portal/package.json
  portal/src/components/Layout/Layout.tsx
  yarn.lock
Labels: 🔗 dependencies

#1112 feat: legg til data-testautoid type og props på Select
  packages/core/src/index.ts
  packages/select-react/src/Select.tsx
Labels: ✨ enhancement

#1140 Optimize size of react components
  babel.config.js
  package.json
  packages/accordion-react/package.json
  packages/alert-message-react/package.json
  packages/button-react/package.json
  packages/card-react/package.json
  packages/checkbox-react/package.json
  packages/core/package.json
  packages/datepicker-react/package.json
  packages/divider-line-react/package.json
  packages/field-group-react/package.json
  packages/hamburger-react/package.json
  packages/icon-button-react/package.json
  packages/list-react/package.json
  packages/loader-react/package.json
  packages/logo-react/package.json
  packages/message-box-react/package.json
  packages/portal-components/package.json
  packages/progress-bar-react/package.json
  packages/radio-button-react/package.json
  packages/react-hooks/package.json
  packages/select-react/package.json
  packages/table-react/package.json
  packages/text-input-react/package.json
  packages/toggle-switch-react/package.json
  packages/typography-react/package.json
  packages/validations-util/package.json
  portal/package.json
  rollup.config.js
  yarn.lock
Labels: ✨ enhancement

#1092 chore: update all dependecies
  .eslintrc.js
  .github/workflows/test.yml
  jest/setupTests.ts
  package.json
  packages/accordion-react/src/AccordionItem.tsx
  packages/alert-message-react/documentation/AlertMessageExample.tsx
  packages/checkbox-react/src/Checkbox.test.tsx
  packages/datepicker-react/src/Calendar.tsx
  packages/message-box-react/documentation/Example.tsx
  packages/react-hooks/src/useFocusOutside.ts
  packages/react-hooks/src/useScrollIntoView/useScrollIntoView.test.tsx
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
  portal/package.json
  portal/src/components/Delaytext/DelayText.tsx
  portal/src/components/Examples/SimpleForm/AddressForm.tsx
  portal/src/components/Header/components/FullScreenMenu.tsx
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/components/VisibleDetector/VisibleDetector.tsx
  portal/src/pages/index.tsx
  yarn.lock
Labels: 🔗 dependencies, 🚇 infrastructure

#1145 chore: stop loading faling snapshot script
  cypress/plugins/index.js
  cypress/support/checkPortalPage.js
  cypress/support/index.js
  portal/integration/frontpage.spec.js
  portal/src/components/DoDontExample/DoDontExample.tsx
Labels: 🔬 tests, 🚇 infrastructure
