Repository fremtind/jokul, pull requests merged in 2020-02, with the labels that each got.

#724 test(text-input-react): add a11y-tests
  packages/text-input-react/src/ActionTextField.test.tsx
  packages/text-input-react/src/BaseInputField.test.tsx
  packages/text-input-react/src/InlineTextField.test.tsx
  packages/text-input-react/src/TextArea.test.tsx
  packages/text-input-react/src/TextField.test.tsx
Labels: 🔬 tests

#725 test(toggle-switch-react): add a11y-tests
  packages/toggle-switch-react/src/ToggleSwitch.test.tsx
Labels: 🔬 tests

#750 Implement classnames package to simplify how classes for elements are generated and controlled
  package.json
  packages/accordion-react/src/AccordionItem.tsx
  packages/button-react/documentation/Example.tsx
  packages/button-react/src/Button.tsx
  packages/card-react/src/Card.tsx
  packages/checkbox-react/src/Checkbox.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/field-group-react/src/FieldGroup.tsx
  packages/list-react/src/List.tsx
  packages/loader-react/src/Loader.tsx
  packages/logo-react/src/Logo.tsx
  packages/message-box-react/src/MessageBox.tsx
  packages/radio-button-react/src/RadioButtonOption.tsx
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.tsx
  packages/text-input-react/src/ActionTextField.tsx
  packages/text-input-react/src/InlineTextField.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextField.tsx
  packages/toggle-switch-react/src/ToggleSwitch.tsx
  packages/typography-react/src/Label.tsx
  packages/typography-react/src/SupportLabel.tsx
  portal/src/components/icons/ReactIcon.tsx
  rollup.config.js
  yarn.lock
Labels: ✨ enhancement

#754 Greenkeeper/dart sass 1.25.0
  package.json
  yarn.lock
Labels: ✨ enhancement, 🌱 greenkeeper

#751 Add support for className to RadioButtons
  packages/field-group-react/src/FieldGroup.test.tsx
  packages/radio-button-react/src/RadioButtons.tsx
Labels: ✅ bugfix

#757 chore(package): update @types/node to version 13.7.0
  package.json
  yarn.lock
Labels: 🌱 greenkeeper

#758 Greenkeeper/@types/jest 25.1.1
  package.json
  yarn.lock
Labels: 🌱 greenkeeper

#746 Refactor typography
  packages/accordion/accordion.scss
  packages/button-react/documentation/index.scss
  packages/button/button.scss
  packages/checkbox/checkbox.scss
  packages/core/MIGRATION.md
  packages/core/README.md
  packages/core/headings.scss
  packages/core/labels.scss
  packages/core/paragraphs.scss
  packages/core/variables/_font-size.scss
  packages/datepicker/datepicker.scss
  packages/radio-button/radio-button.scss
  packages/react-hooks/documentation/index.scss
  packages/select/select.scss
  packages/table/table.scss
  packages/text-input/text-input.scss
  packages/toggle-switch/toggle-switch.scss
  packages/typography-react/README.md
  packages/typography-react/documentation/Example.tsx
  packages/typography-react/documentation/Typography.mdx
  packages/typography-react/src/Typography.test.tsx
  packages/typography-react/src/Typography.tsx
  portal/src/components/Layout/ComponentLayout.tsx
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Menu/Menu.scss
  portal/src/pages/style.scss
  portal/src/presentation/markdownRenderer.ts
  portal/src/texts/profile/typography.md
Labels: ✨ enhancement, 📚 documentation

#767 feat(radio-button): add inverted mode
  packages/radio-button-react/documentation/Example.tsx
  packages/radio-button-react/src/RadioButtonOption.tsx
  packages/radio-button-react/src/RadioButtons.tsx
  packages/radio-button/radio-button.scss
Labels: ✨ enhancement

#764 Button fixes
  packages/button-react/src/Button.tsx
  packages/button/button.scss
Labels: ✅ bugfix, ✨ enhancement

#722 test(select-react): add a11y tests
  packages/select-react/src/NativeSelect.test.tsx
  packages/select-react/src/Select.test.tsx
Labels: 🔬 tests

#779 docs(logo-react): add deprecation warning to LogoStamp components
  packages/logo-react/src/stamp/LogoStampDistributor.tsx
  packages/logo-react/src/stamp/LogoStampInnovation.tsx
  packages/logo-react/src/stamp/LogoStampInsurance.tsx
  packages/logo-react/src/stamp/LogoStampTechnology.tsx
Labels: 📚 documentation

#778 Portal typography
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Typography/Typography.tsx
  portal/src/components/Typography/index.ts
  portal/src/components/Typography/typography.scss
  portal/src/presentation/markdownRenderer.ts
  portal/src/templates/docTemplate.js
  portal/src/texts/profile/colors.md
  portal/src/texts/profile/principle.md
Labels: ✨ enhancement, 🎨 design, 👽portal

#781 chore: update yarn.lock
  yarn.lock
Labels: 🚇 infrastructure

#782 feat: export scss files with style pkgs
  packages/accordion/package.json
  packages/button/package.json
  packages/card/package.json
  packages/checkbox/package.json
  packages/datepicker/package.json
  packages/divider-line/package.json
  packages/field-group/package.json
  packages/hamburger/package.json
  packages/list/package.json
  packages/loader/package.json
  packages/logo/package.json
  packages/message-box/package.json
  packages/progress-bar/package.json
  packages/radio-button/package.json
  packages/select/package.json
  packages/table/package.json
  packages/text-input/package.json
  packages/toggle-switch/package.json
Labels: ✨ enhancement

#783 docs(portal): correct heading levels in component docs
  packages/list-react/documentation/Example.tsx
  packages/list-react/documentation/List.mdx
  packages/react-hooks/documentation/hooks.mdx
  portal/src/components/Header/Header.tsx
Labels: 🎨 design, 📚 documentation

#785 feat(text-input): tweak action icon placement and add focus state
  packages/text-input-react/src/Icons/IconClear.tsx
  packages/text-input-react/src/Icons/IconSearch.tsx
  packages/text-input/text-input.scss
Labels: ✨ enhancement

#786 feat(datepicker): add button to open datepicker calendar
  packages/datepicker-react/package.json
  packages/datepicker-react/src/CalendarIcon.tsx
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker/datepicker.scss
  yarn.lock
Labels: ✨ enhancement, 💼 needed by client

#791 Text input tweaks
  packages/text-input-react/documentation/Example.tsx
  packages/text-input-react/src/Icons/IconClear.tsx
Labels: ✅ bugfix

#784 Refactor portal header
  portal/src/components/Header/header-react/src/header.tsx
  portal/src/components/Header/header/header.scss
  portal/src/components/Layout/layout-react/src/Layout.tsx
  yarn.lock
Labels: 👽portal

#707 docs(portal): ready documentation files for review
  portal/src/texts/FrontPage.md
  portal/src/texts/getstarted/CodeGuide.md
  portal/src/texts/getstarted/GettingStartedDev.md
  portal/src/texts/getstarted/PortalGuide.md
  portal/src/texts/getstarted/PullRequestGuide.md
  portal/src/texts/getstarted/TestGuide.md
  portal/src/texts/getstarted/gettingStartedDesign.md
  portal/src/texts/getstarted/processGuide.md
  portal/src/texts/profile/a11y.md
  portal/src/texts/profile/colors.md
  portal/src/texts/profile/formdesign.md
  portal/src/texts/profile/icon.md
  portal/src/texts/profile/layout.md
  portal/src/texts/profile/logo.md
  portal/src/texts/profile/pattern.md
  portal/src/texts/profile/picture.md
  portal/src/texts/profile/principle.md
  portal/src/texts/profile/shadow.md
  portal/src/texts/profile/tone.md
  portal/src/texts/profile/typography.md
Labels: 📚 documentation
