Repository fremtind/jokul, pull requests merged in 2020-04, with the labels that each got.

#878 fix: use correct height for compact text inputs
  packages/text-input/text-input.scss
Labels: ✅ bugfix

#882 fix(datepicker-react): use effect for initialDate
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/DatePicker.tsx
Labels: ✅ bugfix

#869 chore: remove deps from boot and reboot scripts
  package.json
Labels: 🚇 infrastructure

#883 docs(profile): fix incorrect list formatting
  portal/src/texts/profile/tone.mdx
Labels: 📚 documentation

#885 Update portal guide
  portal/src/texts/getstarted/PortalGuide.mdx
Labels: 📚 documentation

#887 feat(formatting): add code highlighting to mdx parser
  portal/gatsby-browser.js
  portal/src/components/Typography/FormatProvider.tsx
  portal/src/components/Typography/Typography.tsx
  portal/src/components/Typography/index.ts
  portal/src/components/Typography/typography.scss
Labels: ✨ enhancement, 👽portal

#891 fix(codeblock): account for code blocks without language
  portal/src/components/Typography/Typography.tsx
Labels: ✅ bugfix, 👽portal

#890 Add missing event handlers to Select and DatePicker
  packages/datepicker-react/documentation/Example.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/select-react/documentation/Example.tsx
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.tsx
  packages/text-input-react/documentation/Example.tsx
Labels: ✅ bugfix, ✨ enhancement, 💼 needed by client

#879 Messagebox new layout
  packages/message-box-react/documentation/Example.tsx
  packages/message-box-react/documentation/MessageBox.mdx
  packages/message-box-react/documentation/index.tsx
  packages/message-box-react/src/MessageBox.tsx
  packages/message-box/message-box.scss
Labels: ✨ enhancement, 🎨 design

#907 feat(portal): add favicon through Gatsby manifest
  portal/gatsby-config.js
  portal/package.json
  portal/static/assets/icon.png
Labels: ✨ enhancement, 👽portal

#912 fix(changehandlers): revert undocumented breaking change
  packages/select-react/src/Select.tsx
Labels: ✅ bugfix

#922 docs(migration): document upgrade of text input components
  packages/text-input-react/MIGRATION.md
Labels: 📚 documentation

#924 fix(icon-button): specify height of icon to correct alignment
  packages/icon-button/icon-button.scss
Labels: ✅ bugfix

#930 Fjerner browsers-list
  packages/icon-button/package.json
Labels: ✅ bugfix
