Repository fremtind/jokul, pull requests merged in 2020-05, with the labels that each got.

#928 Feat/new select
  packages/select-react/documentation/Example.tsx
  packages/select-react/src/ExpandArrow.tsx
  packages/select-react/src/NativeSelect.test.tsx
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
  packages/select/select.scss
Labels: ✨ enhancement

#929 fix: adjust label spacings
  packages/checkbox/checkbox.scss
  packages/core/labels.scss
  packages/radio-button/radio-button.scss
Labels: ✅ bugfix

#921 fix(example-knobs): use unique field names on knobs
  packages/portal-components/package.json
  packages/portal-components/src/ComponentExample.tsx
  yarn.lock
Labels: ✅ bugfix

#931 Add inverted mode to checkbox (plus POC of global dark mode)
  packages/checkbox-react/documentation/Checkbox.mdx
  packages/checkbox-react/documentation/Example.tsx
  packages/checkbox-react/documentation/index.tsx
  packages/checkbox-react/src/Checkbox.tsx
  packages/checkbox/checkbox.scss
Labels: ✨ enhancement

#940 feat(text-input-react): add functionality to pass onKey events
  packages/text-input-react/documentation/TextAreaExample.tsx
  packages/text-input-react/documentation/TextInputExample.tsx
  packages/text-input-react/src/BaseInputField.tsx
Labels: ✨ enhancement

#945 Nytt utseende på DatePicker
  packages/datepicker-react/documentation/Datepicker.mdx
  packages/datepicker-react/documentation/Example.tsx
  packages/datepicker-react/documentation/index.tsx
  packages/datepicker-react/package.json
  packages/datepicker-react/src/Calendar.tsx
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker-react/src/dateFunctions.test.ts
  packages/datepicker-react/src/dateFunctions.ts
  packages/datepicker/datepicker.scss
  packages/text-input-react/src/TextInput.tsx
  yarn.lock
Labels: ✨ enhancement, 🌙 dark mode

#949 Fix input border color
  packages/select/select.scss
  packages/text-input/text-input.scss
Labels: ✅ bugfix, 🎨 design

#950 fix(BaseInputField): fix proper passing of className prop
  packages/text-input-react/src/BaseInputField.tsx
Labels: ✅ bugfix

#954 Alert message fix
  package.json
  packages/alert-message-react/README.md
  packages/alert-message-react/src/AlertMessage.test.tsx
  packages/alert-message-react/src/AlertMessage.tsx
Labels: ✅ bugfix, 📚 documentation, 🔬 tests

#953 chore(ci): add continuous release action
  .github/workflows/release.yml
Labels: 👷‍♂️ CI and deployment

#956 chore(ci): remove infinite release loop
  .github/workflows/release.yml
Labels: ✅ bugfix, 👷‍♂️ CI and deployment

#955 chore: update nrk core dependencies to avoid bugs
  packages/accordion-react/package.json
  packages/datepicker-react/package.json
  packages/select-react/package.json
Labels: ✅ bugfix

#957 fix(ci): make git history available to release action
  .github/workflows/release.yml
Labels: ✅ bugfix, 👷‍♂️ CI and deployment

#958 fix(datepicker): add z-index to datepicker wrapper
  packages/datepicker/datepicker.scss
Labels: ✅ bugfix

#962 fix(typography-react): make deprecation warnings less intrusive
  packages/typography-react/src/Label.tsx
  packages/typography-react/src/Link.tsx
  packages/typography-react/src/SupportLabel.tsx
Labels: ✅ bugfix

#960 feat: expose prop interface for textinput and button
  packages/button-react/src/Button.tsx
  packages/button-react/src/index.ts
  packages/text-input-react/src/BaseInputField.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextInput.tsx
  packages/text-input-react/src/index.ts
Labels: ✨ enhancement

#959 feat(ci): add check for changes before running release script
  .github/workflows/release.yml
  package.json
Labels: 👷‍♂️ CI and deployment

#974 fix(text-input-react): add missing nanoid dependency
  packages/text-input-react/package.json
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextInput.tsx
  yarn.lock
Labels: ✅ bugfix, 💼 needed by client

#978 fix: fiks en bug hvor CSP vil blokkere inline CSS
  packages/datepicker/datepicker.scss
Labels: 🐝 bug
