Repository fremtind/jokul, pull requests merged in 2020-11, with the labels that each got.

#1535 feat: add more arrows
  packages/constants-util/src/unicode.ts
Labels: ✨ enhancement, 💼 needed by client

#1543 chore: add more complete codesandbox example
  .codesandbox/ci.json
Labels: 👷‍♂️ CI and deployment, 📚 documentation

#1522 feat(list): add check and cross list items
  packages/list-react/documentation/Example.tsx
  packages/list-react/documentation/List.mdx
  packages/list-react/documentation/index.tsx
  packages/list-react/documentation/internal/props.tsx
  packages/list-react/integration/__image_snapshots__/List  List should work #0.png
  packages/list-react/integration/__image_snapshots__/List  List should work #1.png
  packages/list-react/integration/__image_snapshots__/List  List should work #2.png
  packages/list-react/integration/__image_snapshots__/List  List should work #3.png
  packages/list-react/integration/__image_snapshots__/List  List should work #4.png
  packages/list-react/integration/__image_snapshots__/List  List should work #5.png
  packages/list-react/integration/__image_snapshots__/List  List should work #6.png
  packages/list-react/integration/__image_snapshots__/List  List should work #7.png
  packages/list-react/integration/list.spec.js
  packages/list-react/src/List.test.tsx
  packages/list-react/src/List.tsx
  packages/list-react/src/ListItem.tsx
  packages/list-react/src/index.ts
  packages/list/list.scss
  portal/src/components/Typography/FormatProvider.tsx
Labels: hacktoberfest-accepted, ✨ enhancement, 🌙 dark mode, 💼 needed by client

#1524 feat(toggle): add toggle slider
  packages/toggle-switch-react/documentation/Example.tsx
  packages/toggle-switch-react/documentation/ToggleSwitch.mdx
  packages/toggle-switch-react/integration/ToogleSlider.spec.js
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  ToggleSlider should work #0.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  ToggleSlider should work #1.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  ToggleSlider should work #2.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  ToggleSlider should work #3.png
  packages/toggle-switch-react/package.json
  packages/toggle-switch-react/src/ToggleSlider.test.tsx
  packages/toggle-switch-react/src/ToggleSlider.tsx
  packages/toggle-switch-react/src/index.ts
  packages/toggle-switch/toggle-slider.scss
  packages/toggle-switch/toggle-switch.scss
Labels: hacktoberfest-accepted, ✨ enhancement, 🌙 dark mode, 💼 needed by client

#1525 Refactor button
  packages/button-react/documentation/Example.tsx
  packages/button-react/documentation/buttons.mdx
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #0.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #1.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #10.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #11.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #2.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #3.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #4.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #5.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #6.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #7.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #8.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #9.png
  packages/button-react/integration/button.spec.js
  packages/button-react/src/Button.test.tsx
Labels: hacktoberfest-accepted, ✨ enhancement, 🌙 dark mode, 💼 needed by client

#1534 feat(flipper): add flipper component
  cypress/support/index.js
  packages/content-toggle-react/README.md
  packages/content-toggle-react/documentation/ContentToggle.mdx
  packages/content-toggle-react/documentation/Example.tsx
  packages/content-toggle-react/documentation/index.html
  packages/content-toggle-react/documentation/index.tsx
  packages/content-toggle-react/integration/ContentToggle.spec.js
  packages/content-toggle-react/integration/__image_snapshots__/ContentToggle  Content Toggler should work #0.png
  packages/content-toggle-react/integration/__image_snapshots__/ContentToggle  Content Toggler should work #1.png
  packages/content-toggle-react/package.json
  packages/content-toggle-react/src/ContentToggle.test.tsx
  packages/content-toggle-react/src/ContentToggle.tsx
  packages/content-toggle-react/src/index.ts
  packages/content-toggle-react/tsconfig-for-declarations.json
  packages/content-toggle/README.md
  packages/content-toggle/content-toggle.scss
  packages/content-toggle/gulpfile.js
  packages/content-toggle/package.json
  portal/gatsby-browser.js
Labels: ✨ enhancement, 💼 needed by client

#1573 chore(cypress): increase time cypress will wait for portal
  .github/workflows/cypress.yml
Labels: github_actions, 👷‍♂️ CI and deployment, 👽portal, 🔬 tests, 🚇 infrastructure

#1594 docs(blog): november update
  portal/src/texts/blog/updates/november2020.mdx
Labels: 👽portal, 📖 blog, 📚 documentation

#1612 chore: add missing dependency to feedback-react
  packages/feedback-react/README.md
  packages/feedback-react/package.json
Labels: ✅ bugfix, 📚 documentation

#1621 (feat): nativeselect width, (fix): calendar nativeselect width, (fix): select width
  packages/datepicker-react/src/Calendar.tsx
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.tsx
Labels: ✅ bugfix, ✨ enhancement

#1615 feat(core): expand layout spacing scale with new value
  packages/core/variables/_spacing.scss
Labels: ✨ enhancement

#1622 fix(react-hooks): fix small device check in useScreen
  packages/react-hooks/src/useScreen/state.ts
Labels: ✅ bugfix

#1614 feat(core): update value of suksess color
  packages/core/variables/_colors.scss
  portal/src/components/CodeBlock/CodeBlock.scss
  portal/src/components/CodeBlock/fremtindTheme.ts
Labels: ✨ enhancement, 🎨 design

#1628 feat: update to react 17
  package.json
  packages/accordion-react/package.json
  packages/alert-message-react/package.json
  packages/button-react/package.json
  packages/card-react/package.json
  packages/checkbox-react/package.json
  packages/content-toggle-react/package.json
  packages/datepicker-react/package.json
  packages/feedback-react/package.json
  packages/field-group-react/package.json
  packages/hamburger-react/package.json
  packages/icon-button-react/package.json
  packages/icons-react/package.json
  packages/image-react/package.json
  packages/list-react/package.json
  packages/loader-react/package.json
  packages/logo-react/package.json
  packages/message-box-react/package.json
  packages/portal-components/package.json
  packages/progress-bar-react/package.json
  packages/radio-button-react/package.json
  packages/react-hooks/package.json
  packages/select-react/package.json
  packages/summary-table-react/package.json
  packages/table-react/package.json
  packages/text-input-react/package.json
  packages/toggle-switch-react/package.json
  packages/typography-react/package.json
  portal/package.json
  yarn.lock
Labels: 👷‍♂️ CI and deployment, 👽portal, 🔗 dependencies, 🚇 infrastructure

#1648 fix(button): set classname on wrapper for with loader
  packages/button-react/src/Button.tsx
  packages/button/button.scss
Labels: ✅ bugfix, 🐝 bug

#1655 fix(portal): fix logo download links
  portal/src/components/DownloadAsset/DownloadAsset.tsx
  portal/src/texts/profile/logo.mdx
Labels: ✅ bugfix

#1649 feat(list): new checklist icons
  packages/list-react/integration/__image_snapshots__/List  List should work #3.png
  packages/list-react/integration/__image_snapshots__/List  List should work #7.png
  packages/list/list.scss
Labels: ✨ enhancement, 💼 needed by client, 📐 design→dev
