Repository fremtind/jokul, pull requests merged in 2020-06, with the labels that each got.

#973 Legg til prosessliste
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/funksjonalitets-nske.md
Labels: ✨ enhancement, 📚 documentation

#980 TextInput fixes
  packages/text-input-react/src/BaseInputField.tsx
  packages/text-input-react/src/TextInput.tsx
Labels: ✅ bugfix

#983 docs(blog): add blog
  cypress.json
  portal/integration/blog.spec.js
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/components/FullScreenMenu.tsx
  portal/src/components/Header/components/FullScreenMenuItem.tsx
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/components/Layout/DocPageLayout.tsx
  portal/src/components/Layout/components/BlogPageHeader.tsx
  portal/src/components/Layout/components/ComponentPageHeader.tsx
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/components/Sidebar/SidebarMenuItem.tsx
  portal/src/texts/FrontPage.md
  portal/src/texts/blog/framerMotion/Example.tsx
  portal/src/texts/blog/framerMotion/framerMotion.mdx
  portal/src/texts/blog/framerMotion/style.scss
  portal/src/texts/blog/hvordanBlogge/hvordanBlogge.mdx
  portal/static/assets/blog/hvordanBlogge/createFile.jpg
Labels: ✨ enhancement, 👽portal

#995 feat(button): this will add blue color on hover for all button variants
  packages/button/button.scss
Labels: ✨ enhancement

#999 fix: fix darkmode
  portal/src/components/Layout/Layout.scss
Labels: ✅ bugfix, 🐝 bug, 👽portal

#1003 chore: add dependabot to replace greenkeeper
  .github/dependabot.yml
Labels: 👷‍♂️ CI and deployment, 🚇 infrastructure

#990 Feature: responsive main menu
  packages/core/_functions.scss
  packages/core/mixins/_screens.scss
  portal/gatsby-config.js
  portal/integration/blog.spec.js
  portal/package.json
  portal/src/components/Footer/Footer.scss
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/components/FullScreenMenu.scss
  portal/src/components/Header/components/FullScreenMenu.tsx
  portal/src/components/Header/components/FullScreenMenuItem.scss
  portal/src/components/Header/components/FullScreenMenuItem.tsx
  portal/src/components/Header/components/MainMenu.scss
  portal/src/components/Header/components/MainMenu.tsx
  portal/src/components/Header/header.scss
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/components/Layout/DocPageLayout.tsx
  portal/src/components/Layout/Layout.scss
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Layout/components/index.ts
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/contexts/locationContext.tsx
  portal/src/pages/index.tsx
  yarn.lock
Labels: ↔️ responsiveness, ✨ enhancement, 👽portal

#1033 docs(core): add documentation of sass mixins
  packages/core/documentation/Mixins/Mixins.scss
  packages/core/documentation/Mixins/Motion.tsx
  packages/core/documentation/mixins.mdx
Labels: 👽portal

#1018 docs(colors): document color variables as component
  packages/core/documentation/Colors/Colors.tsx
  packages/core/documentation/Colors/colors.scss
  packages/core/documentation/Example.tsx
  packages/core/documentation/colors.mdx
  packages/core/documentation/core.mdx
  portal/gatsby-node.js
Labels: 👽portal

#1021 test(portal): add integration test
  .github/workflows/cypress.yml
  .gitignore
  cypress/support/checkPortalPage.js
  cypress/support/index.js
  package.json
  portal/integration/frontpage.spec.js
  portal/integration/gettingStarted.spec.js
  portal/integration/profile.spec.js
  portal/src/pages/index.tsx
  portal/src/texts/frontpage/Hero.md
  yarn.lock
Labels: 👽portal

#1024 docs: add documentation of typography vars/classes
  packages/core/documentation/Link.mdx
  packages/core/documentation/Link/LinkExample.tsx
  packages/core/documentation/Typography/Typography.scss
  packages/core/documentation/Typography/Typography.tsx
  packages/core/documentation/typography.mdx
  packages/typography-react/documentation/Typography.mdx
Labels: 👽portal

#1041 fix(portal): adjust margins and font sizes on mobile
  portal/src/components/Header/components/FullScreenMenuItem.scss
  portal/src/components/Header/header.scss
  portal/src/components/Layout/Layout.scss
Labels: ✅ bugfix, 👽portal

#1046 fix(label): add classname prop
  packages/core/src/components/Label.tsx
Labels: ✨ enhancement

#1045 fix: align nanoid version, and migrate to 3
  packages/checkbox-react/package.json
  packages/checkbox-react/src/Checkbox.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/divider-line-react/package.json
  packages/logo-react/package.json
  packages/logo-react/src/Logo.tsx
  packages/select-react/package.json
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.tsx
  packages/text-input-react/package.json
  rollup.config.js
  yarn.lock
Labels: ✅ bugfix, 🐝 bug, 👽portal, 🔗 dependencies, 🚇 infrastructure

#1049 fix(core): make text style util classes respect compact mode
  packages/core/headings.scss
  packages/core/paragraphs.scss
Labels: ✅ bugfix

#1057 feat(portal): add ids to level 2 headings for linking
  portal/src/components/Typography/Typography.tsx
Labels: ✨ enhancement, 👽portal

#1044 docs: add typography section in portal
  portal/src/components/Documentation/Typography/TypograhyTable/ExampleRow.tsx
  portal/src/components/Documentation/Typography/TypograhyTable/TableCell.tsx
  portal/src/components/Documentation/Typography/TypograhyTable/TableHeader.tsx
  portal/src/components/Documentation/Typography/TypograhyTable/TypographyTable.scss
  portal/src/components/Documentation/Typography/TypograhyTable/index.tsx
  portal/src/texts/profile/typography.mdx
Labels: 👽portal, 📚 documentation

#1056 docs(profile): improve documentation of colors
  portal/src/components/Documentation/Colors/ColorDescription.scss
  portal/src/components/Documentation/Colors/ColorDescription.tsx
  portal/src/components/Documentation/Colors/ColorTable.scss
  portal/src/components/Documentation/Colors/ColorTable.tsx
  portal/src/components/Documentation/Colors/Colors.scss
  portal/src/components/Documentation/Colors/Colors.tsx
  portal/src/texts/profile/colors.mdx
Labels: ✨ enhancement, 👽portal

#1058 fix(flow-example): add missing dependency to callback
  packages/portal-components/src/FlowExample.tsx
Labels: ✅ bugfix

#1040 feat(a validators utils package): a validators utils package
  packages/validations-util/README.md
  packages/validations-util/documentation/Example.tsx
  packages/validations-util/documentation/IsValidChassisnummerExample.tsx
  packages/validations-util/documentation/IsValidEpostExample.tsx
  packages/validations-util/documentation/IsValidRegistreringsnummerExample.tsx
  packages/validations-util/documentation/IsValidTelefonnummerExample.tsx
  packages/validations-util/documentation/index.html
  packages/validations-util/documentation/index.scss
  packages/validations-util/documentation/index.tsx
  packages/validations-util/documentation/validators.mdx
  packages/validations-util/package.json
  packages/validations-util/src/index.ts
  packages/validations-util/src/isValidChassisnummer/isValidChassisnummer.test.ts
  packages/validations-util/src/isValidChassisnummer/isValidChassisnummer.ts
  packages/validations-util/src/isValidEpost/isValidEpost.test.tsx
  packages/validations-util/src/isValidEpost/isValidEpost.ts
  packages/validations-util/src/isValidRegistreringsnummer/isValidRegistreringsnummer.test.ts
  packages/validations-util/src/isValidRegistreringsnummer/isValidRegistreringsnummer.ts
  packages/validations-util/src/isValidTelefonnummer/isValidTelefonnummer.test.tsx
  packages/validations-util/src/isValidTelefonnummer/isValidTelefonnummer.ts
  packages/validations-util/tsconfig-for-declarations.json
  portal/gatsby-node.js
Labels: 👽portal

#1066 docs(core): fix table showing typography mixins/classes
  packages/core/documentation/Typography/Typography.scss
  packages/core/documentation/Typography/Typography.tsx
Labels: 👽portal
