Repository fremtind/jokul, pull requests merged in 2020-09, with the labels that each got.

#1283 Universell dark mode
  cypress/support/index.js
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #0.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #1.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #2.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #3.png
  packages/accordion-react/integration/accordion.spec.js
  packages/accordion/accordion.scss
  packages/alert-message-react/documentation/AlertMessageExample.tsx
  packages/alert-message/alert-message.scss
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #0.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #1.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #2.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #3.png
  packages/button-react/integration/button.spec.js
  packages/button/button.scss
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  has correct focus state #0.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  has correct focus state #1.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  has correct focus state #2.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  has correct focus state #3.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #0.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #1.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #2.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #3.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #4.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #5.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #6.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #7.png
  packages/checkbox-react/integration/checkbox.spec.js
  packages/core/documentation/Link/LinkExample.tsx
  packages/core/documentation/Link/NavLinkExample.tsx
  packages/core/labels.scss
  packages/core/links.scss
  packages/hamburger-react/documentation/Example.tsx
  packages/hamburger-react/documentation/Hamburger.mdx
  packages/hamburger-react/documentation/index.tsx
  packages/hamburger/hamburger.scss
  packages/loader/loader.scss
  packages/logo-react/documentation/LogoExample.tsx
  packages/logo-react/src/Logo.tsx
  packages/logo/logo.scss
  packages/message-box/message-box.scss
  packages/portal-components/component-example.scss
  packages/portal-components/src/ComponentExample.tsx
  packages/select/select.scss
  packages/text-input/autosuggest.scss
  packages/text-input/text-input.scss
Labels: 🌙 dark mode

#1257 Oppdatert design på radio buttons
  cypress/support/index.js
  packages/field-group-react/src/FieldGroup.tsx
  packages/radio-button-react/integration/__image_snapshots__/Radio button  has correct focus state #0.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  has correct focus state #1.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  has correct focus state #2.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  has correct focus state #3.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #0.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #1.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #2.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #3.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #4.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #5.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #6.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #7.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #8.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #9.png
  packages/radio-button-react/integration/radio-button.spec.js
  packages/radio-button-react/src/RadioButtons.tsx
  packages/radio-button/radio-button.scss
Labels: ✨ enhancement, 🌙 dark mode

#1295 fix(core): add a font stack
  packages/core/core.scss
Labels: ✅ bugfix, ✨ enhancement, 🐝 bug, 💼 needed by client

#1212 September update post
  portal/src/texts/blog/updates/september2020.mdx
Labels: 👽portal, 📖 blog

#1303 docs(icons): use displayName in portal example
  packages/icons-react/documentation/Example.tsx
  packages/icons-react/documentation/internal/AnimatedIcon.tsx
  packages/icons-react/documentation/internal/IconExample.tsx
  packages/icons-react/src/animated-icons/ArrowHorizontalAnimated.tsx
  packages/icons-react/src/animated-icons/ArrowVerticalAnimated.tsx
  packages/icons-react/src/animated-icons/HamburgerCloseAnimated.tsx
  packages/icons-react/src/animated-icons/PlusRemoveAnimated.tsx
  packages/icons-react/src/icons/ArrowDown.tsx
  packages/icons-react/src/icons/ArrowLeft.tsx
  packages/icons-react/src/icons/ArrowRight.tsx
  packages/icons-react/src/icons/ArrowUp.tsx
  packages/icons-react/src/icons/ArrowUpRight.tsx
  packages/icons-react/src/icons/Calendar.tsx
  packages/icons-react/src/icons/CheckMark.tsx
  packages/icons-react/src/icons/Close.tsx
  packages/icons-react/src/icons/Error.tsx
  packages/icons-react/src/icons/Hamburger.tsx
  packages/icons-react/src/icons/Info.tsx
  packages/icons-react/src/icons/Plus.tsx
  packages/icons-react/src/icons/Search.tsx
  packages/icons-react/src/icons/Success.tsx
  packages/icons-react/src/icons/Warning.tsx
Labels: ✅ bugfix, 👽portal, 📚 documentation

#1309 Create ikoner_sept2020.mdx
  portal/src/texts/blog/ikoner_sept2020.mdx
  portal/static/assets/blog/ikon_illustrasjon.png
Labels: 📖 blog

#1315 Add files via upload
  portal/static/assets/blog/ikon_illustrasjon.png
Labels: 📖 blog

#1328 fix: actually bundle nrk core components
  jest/jest.core.js
  package.json
  packages/accordion-react/package.json
  packages/datepicker-react/package.json
  packages/select-react/package.json
  patches/@nrk+core-datepicker+3.0.8.patch
  patches/@nrk+core-toggle+3.0.8.patch
  rollup.config.js
Labels: ✅ bugfix

#1334 fix(text-input): uses search icon
  packages/text-input-react/src/autosuggest/BaseAutosuggest.tsx
  packages/text-input-react/src/autosuggest/ControllerButton.tsx
  packages/text-input/autosuggest.scss
Labels: ✅ bugfix, ✨ enhancement

#1256 docs(blog): add post about intersection
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/texts/blog/intersectionObserver/Intersection.mdx
  portal/static/assets/blog/intersectionObserver/intersection.gif
  portal/static/assets/blog/intersectionObserver/mobile.gif
Labels: 👽portal, 📖 blog

#1361 fix: fix a bug where alert-message would go outside screen bounds
  packages/alert-message/alert-message.scss
Labels: ✅ bugfix

#1356 fix(datepicker): make next/prev month buttons work properly
  packages/datepicker-react/documentation/Example.tsx
  patches/@nrk+core-datepicker+3.0.8.patch
Labels: ✅ bugfix

#1368 docs(blog): add blog post about dark mode
  portal/src/texts/blog/darkmode.mdx
  portal/static/assets/blog/dark-mode-inverted.png
Labels: 📖 blog

#1374 fix(text-input): changes alignment
  packages/text-input-react/documentation/AutosuggestExample.tsx
  packages/text-input-react/src/autosuggest/Menu.tsx
  packages/text-input/autosuggest.scss
Labels: ✨ enhancement
