Repository fremtind/jokul, pull requests merged in 2020-01, with the labels that each got.

#564 Update component documentation
  packages/accordion/README.md
  packages/button/README.md
  packages/checkbox/README.md
  packages/datepicker/README.md
  packages/field-group/README.md
  packages/loader/README.md
  packages/logo/README.md
  packages/message-box/README.md
  packages/radio-button/README.md
  packages/select/README.md
  packages/text-input/README.md
  packages/toggle-switch/README.md
  packages/typography-react/README.md
Labels: 📚 documentation

#608 chore(ci): run CI script on all branches (also with slashes)
  .github/workflows/test.yml
Labels: 👷‍♂️ CI and deployment

#610 Update deploy
  .github/workflows/portal.yml
Labels: 👷‍♂️ CI and deployment

#574 Oppdatering av Profiltekster
  portal/src/texts/core/principle.md
  portal/src/texts/profile/colors.md
  portal/src/texts/profile/typography.md
Labels: 📚 documentation

#620 Skjemadesign
  portal/src/texts/profile/formdesign.md
Labels: 📚 documentation

#613 Migrate component documentation
  packages/accordion-react/documentation/accordion.mdx
  packages/button-react/documentation/Example.tsx
  packages/button-react/documentation/buttons.mdx
  packages/button-react/documentation/index.scss
  packages/card-react/documentation/Example.tsx
  packages/checkbox-react/documentation/Checkbox.mdx
  packages/datepicker-react/documentation/Datepicker.mdx
  packages/divider-line-react/documentation/Dividerline.mdx
  packages/field-group-react/documentation/FieldGroup.mdx
  packages/list-react/documentation/List.mdx
  packages/loader-react/documentation/Loader.mdx
  packages/logo-react/documentation/Logo.mdx
  packages/message-box-react/documentation/Example.tsx
  packages/message-box-react/documentation/MessageBox.mdx
  packages/progress-bar-react/documentation/Example.tsx
  packages/progress-bar-react/documentation/ProgessBar.mdx
  packages/radio-button-react/documentation/RadioButton.mdx
  packages/select-react/documentation/Example.tsx
  packages/select-react/documentation/Select.mdx
  packages/select-react/documentation/index.scss
  packages/table-react/documentation/Table.mdx
  packages/text-input-react/documentation/Example.tsx
  packages/text-input-react/documentation/TextInput.mdx
  packages/toggle-switch-react/documentation/ToggleSwitch.mdx
Labels: 📚 documentation

#621 Clean up actions
  .github/workflows/canary.yml
  .github/workflows/test.yml
  .github/workflows/triage.yml
Labels: 👷‍♂️ CI and deployment

#594 feat(select): animate select
  packages/select-react/package.json
  packages/select-react/src/Select.tsx
  packages/select/select.scss
Labels: ✨ enhancement

#624 Slette sperring
  portal/src/texts/profile/spacing.md
Labels: 📚 documentation

#632 CI improvements
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/test.yml
Labels: 👷‍♂️ CI and deployment, 📚 documentation

#640 fix(text-input): change to bigger line-height
  packages/text-input/text-input.scss
Labels: 📚 documentation

#635 chore(project): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feilmelding.md
  .github/ISSUE_TEMPLATE/funksjonalitets-nske.md
Labels: 📚 documentation

#629 Rydde dokumentasjonsfilene + Layout tekst.md
  portal/src/texts/core/clarity.md
  portal/src/texts/core/elevation.md
  portal/src/texts/core/motion.md
  portal/src/texts/core/pattern.md
  portal/src/texts/profile/layout.md
  portal/src/texts/profile/pattern.md
  portal/src/texts/profile/principle.md
Labels: 📚 documentation

#646 Update to new function colors (notification colors)
  packages/core/documentation/Example.tsx
  packages/core/documentation/style.scss
  packages/core/variables/_colors.scss
  packages/message-box/message-box.scss
  packages/progress-bar/progress-bar.scss
  packages/toggle-switch/toggle-switch.scss
Labels: ✨ enhancement, 🎨 design, 📚 documentation

#652 chore(ci): remove malfunctioning triage action
  .github/labeler.yml
  .github/workflows/triage.yml
Labels: 👷‍♂️ CI and deployment

#656 chore(ci): remove malfunctioning release action
  .github/workflows/deploy.yml
  .github/workflows/pullrequest.yml
  .github/workflows/test.yml
Labels: ✅ bugfix, 👷‍♂️ CI and deployment

#649 Update colors.md
  portal/src/texts/profile/colors.md
Labels: 📚 documentation

#658 docs(portal): remove empty category from main menu
  portal/src/components/Menu/links.ts
Labels: ✅ bugfix, 👽portal, 📚 documentation

#659 fix(core): remove font-weight
  packages/core/variables/_font-size.scss
Labels: ✅ bugfix

#641 Typography naming, fix inconsistent naming of variables
  packages/card-react/documentation/Example.tsx
  packages/card/example/index.tsx
  packages/core/README.md
  packages/core/labels.scss
  packages/core/paragraphs.scss
  packages/core/variables/_font-size.scss
  packages/datepicker/datepicker.scss
  packages/field-group-react/documentation/Example.tsx
  packages/list-react/documentation/Example.tsx
  packages/list-react/src/List.tsx
  packages/list/example/index.html
  packages/message-box-react/README.md
  packages/message-box-react/src/MessageBox.tsx
  packages/message-box/example/index.html
  packages/select/example/index.html
  packages/text-input-react/documentation/Example.tsx
  packages/text-input/text-input.scss
  packages/toggle-switch/example/index.html
  packages/typography-react/documentation/Example.tsx
  packages/typography-react/src/Typography.test.tsx
  packages/typography-react/src/Typography.tsx
  packages/typography-react/src/index.ts
  portal/src/components/Layout/ComponentLayout.tsx
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Menu/Menu.tsx
  portal/src/presentation/markdownRenderer.ts
Labels: 📚 documentation

#660 feat(button): set minimum width for buttons
  packages/button/button.scss
Labels: ✨ enhancement, 🎨 design

#670 fix(links): adjust padding around links for new font
  packages/core/links.scss
Labels: ✅ bugfix, 🎨 design

#675 feat(react-hooks): add mutationobserver component
  .eslintrc.js
  package.json
  packages/react-hooks/documentation/AnimationExample.tsx
  packages/react-hooks/documentation/ClickOutsideExample.tsx
  packages/react-hooks/documentation/Example.tsx
  packages/react-hooks/documentation/MutationObserverExample.tsx
  packages/react-hooks/documentation/hooks.mdx
  packages/react-hooks/documentation/index.scss
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useMutationObserver/useMutationObserver.ts
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Menu/Menu.tsx
  yarn.lock
Labels: ✨ enhancement

#676 fix(dividerline): fixed potential memory leak
  packages/divider-line-react/documentation/Example.tsx
  packages/divider-line-react/src/DividerLine.tsx
Labels: 🐝 bug

#679 Update links in portal menu
  portal/src/components/Menu/links.ts
  portal/src/pages/style.scss
Labels: 👽portal

#681 reset-outline setter padding til 0
  packages/core/mixins/_helpers.scss
Labels: ✅ bugfix

#682 Oppdater tekststiler i tabeller
  packages/table-react/documentation/index.tsx
  packages/table/table.scss
Labels: ✅ bugfix, 🎨 design

#690 chore(ci): let greenkeeper update lockfile during branch checks
  .github/workflows/test.yml
Labels: 👷‍♂️ CI and deployment

#688 Use intersection observer
  packages/divider-line-react/package.json
  packages/divider-line-react/src/DividerLine.tsx
  packages/react-hooks/README.md
  packages/react-hooks/documentation/Example.tsx
  packages/react-hooks/documentation/IntersectionObserverExample.tsx
  packages/react-hooks/documentation/hooks.mdx
  packages/react-hooks/documentation/index.scss
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useIntersectionObserver/useIntersectionObserver.ts
Labels: ✨ enhancement

#691 Update colors.md
  portal/src/texts/profile/colors.md
Labels: 📚 documentation

#694 fix(react-hooks): fix click outside example
  packages/react-hooks/documentation/ClickOutsideExample.tsx
  packages/react-hooks/documentation/index.scss
Labels: ✅ bugfix, 📚 documentation

#695 fix(select-react): make select set selectedValue if items change
  packages/select-react/src/Select.tsx
Labels: ✅ bugfix

#697 docs(react-hooks): fixed link to portal
  packages/react-hooks/README.md
Labels: 🐝 bug, 📚 documentation

#696 Forsøk på forenkling
  portal/src/texts/FrontPage.md
  portal/src/texts/frontpage/Hero.md
Labels: 📚 documentation

#689 Portalrydding
  packages/message-box-react/documentation/MessageBox.mdx
  packages/progress-bar-react/documentation/ProgessBar.mdx
  packages/radio-button-react/documentation/RadioButton.mdx
  packages/text-input-react/documentation/TextInput.mdx
  portal/src/components/Menu/Menu.tsx
  portal/src/components/Menu/links.ts
  portal/src/components/Sandbox/Sandbox.tsx
  portal/src/components/index.ts
  portal/src/pages/patterns/footer.tsx
  portal/src/pages/patterns/header.tsx
  portal/src/pages/patterns/purchaseFlow.tsx
  portal/src/texts/designer/gettingStarted.md
  portal/src/texts/getstarted/CodeGuide.md
  portal/src/texts/getstarted/GettingStartedDev.md
  portal/src/texts/getstarted/PortalGuide.md
  portal/src/texts/getstarted/PullRequestGuide.md
  portal/src/texts/getstarted/TestGuide.md
  portal/src/texts/getstarted/gettingStartedDesign.md
  portal/src/texts/profile/a11y.md
  portal/src/texts/profile/colors.md
  portal/src/texts/profile/formdesign.md
  portal/src/texts/profile/icon.md
  portal/src/texts/profile/layout.md
  portal/src/texts/profile/logo.md
  portal/src/texts/profile/pattern.md
  portal/src/texts/profile/picture.md
  portal/src/texts/profile/principle.md
  portal/src/texts/profile/shadow.md
  portal/src/texts/profile/tone.md
  portal/src/texts/profile/typography.md
Labels: 📚 documentation

#669 docs(portal): update developer documentation for the portal
  portal/src/texts/getstarted/CodeGuide.md
  portal/src/texts/getstarted/GettingStartedDev.md
  portal/src/texts/getstarted/PortalGuide.md
  portal/src/texts/getstarted/PullRequestGuide.md
  portal/src/texts/getstarted/TestGuide.md
Labels: 👽portal, 📚 documentation

#700 Oppdater dokumentasjon av hooks
  packages/react-hooks/documentation/AnimationExample.tsx
  packages/react-hooks/documentation/ClickOutsideExample.tsx
  packages/react-hooks/documentation/Example.tsx
  packages/react-hooks/documentation/FocusOutsideExample.tsx
  packages/react-hooks/documentation/KeyListenerExample.tsx
  packages/react-hooks/documentation/MutationObserverExample.tsx
  packages/react-hooks/documentation/hooks.mdx
  packages/react-hooks/documentation/index.html
  packages/react-hooks/documentation/index.scss
  packages/react-hooks/documentation/index.tsx
  packages/react-hooks/src/useKeyListener.ts
Labels: 📚 documentation

#706 test(datepicker): add a11y-tests
  packages/datepicker-react/src/DatePicker.test.tsx
Labels: ♿️ a11y, 🔬 tests

#712 chore(jest-axe): move repeated setup to global
  jest/setupTests.ts
  packages/datepicker-react/src/DatePicker.test.tsx
Labels: 🔬 tests

#710 test(button-react): add a11y-test
  packages/button-react/src/Button.test.tsx
Labels: 🔬 tests

#709 test(accordion-item): add a11y-test
  packages/accordion-react/src/AccordionItem.test.tsx
Labels: 🔬 tests

#708 feat(button): add inverted color mode for buttons
  packages/button-react/documentation/Example.tsx
  packages/button-react/documentation/buttons.mdx
  packages/button-react/documentation/index.scss
  packages/button-react/package.json
  packages/button-react/src/Button.tsx
  packages/button/button.scss
Labels: ✅ bugfix, ✨ enhancement

#714 test(card-react): add a11y-tests
  packages/card-react/src/Card.test.tsx
Labels: 🔬 tests

#715 test(checkbox-react): add a11y-tests
  packages/checkbox-react/src/Checkbox.test.tsx
Labels: 🔬 tests

#716 test(field-group-react): add a11y-tests
  packages/field-group-react/src/FieldGroup.test.tsx
Labels: 🔬 tests

#717 test(hamburger-react): add a11y-test
  packages/hamburger-react/src/Hamburger.test.tsx
Labels: 🔬 tests

#718 test(list-react): add a11y-tests
  packages/list-react/src/List.test.tsx
Labels: 🔬 tests

#720 test(message-box-react): add a11y-tests
  packages/message-box-react/src/MessageBox.test.tsx
Labels: 🔬 tests

#721 test(radio-button-react): add a11y-tests
  packages/radio-button-react/src/RadioButtons.test.tsx
Labels: 🔬 tests

#723 test(table-react): add a11y-test
  packages/table-react/src/Table.test.tsx
Labels: 🔬 tests

#733 chore: remove unused mkdirp dependency
  package.json
Labels: 🚇 infrastructure

#732 feat(toggle-switch): change toggle switch to button element (from input)
  packages/button-react/documentation/Example.tsx
  packages/select-react/documentation/Example.tsx
  packages/text-input-react/documentation/Example.tsx
  packages/toggle-switch-react/README.md
  packages/toggle-switch-react/documentation/Example.tsx
  packages/toggle-switch-react/src/ToggleSwitch.test.tsx
  packages/toggle-switch-react/src/ToggleSwitch.tsx
  packages/toggle-switch/toggle-switch.scss
  portal/src/components/Menu/Menu.tsx
Labels: ♿️ a11y, ✨ enhancement

#737 fix(button-react): fix toggle-switch pressed state in button example
  packages/button-react/documentation/Example.tsx
Labels: 🐝 bug
