Repository fremtind/jokul, pull requests merged in 2020-03, with the labels that each got.

#794 feat(react-hooks): add hook for responsivity in js
  packages/core/src/index.ts
  packages/core/src/utils/breakpoints.ts
  packages/core/src/utils/index.ts
  packages/react-hooks/documentation/Example.tsx
  packages/react-hooks/documentation/ScreenExample.tsx
  packages/react-hooks/documentation/hooks.mdx
  packages/react-hooks/package.json
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useScreen/state.ts
  packages/react-hooks/src/useScreen/useScreen.ts
Labels: ✨ enhancement, 💼 needed by client

#799 feat(links): add indicator for external links
  packages/core/links.scss
Labels: ✨ enhancement

#800 fix(react-hooks): fix check for window object in useScreen
  packages/react-hooks/src/useScreen/state.ts
Labels: ✅ bugfix

#804 Implement new function colors
  packages/core/documentation/Example.tsx
  packages/core/documentation/style.scss
  packages/core/variables/_colors.scss
  packages/react-hooks/documentation/index.scss
Labels: ✨ enhancement

#805 feat(text-input-react): add autoExpand to TextArea
  packages/text-input-react/documentation/Example.tsx
  packages/text-input-react/src/TextArea.test.tsx
  packages/text-input-react/src/TextArea.tsx
Labels: ✨ enhancement, 💼 needed by client

#808 Portal ssr fixes
  portal/src/components/DoDontExample/DoDontExample.tsx
  portal/src/components/Layout/ComponentLayout.tsx
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/pages/404.tsx
  portal/src/pages/index.scss
  portal/src/pages/index.tsx
  portal/src/templates/docTemplate.js
  portal/static/Fremtind 31.jpg
  portal/static/assets/img/PTAIT 20150820 1062.jpg
  portal/static/assets/img/frontpage.jpg
  portal/static/mountains.jpg
Labels: ✅ bugfix

#812 feat(core): add support for prefers-reduced-motion
  packages/core/core.scss
Labels: ♿️ a11y, ✨ enhancement

#816 fix(datepicker-react): add handling of empty dates in datepicker
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/DatePicker.tsx
Labels: ✅ bugfix

#814 fix(button): unset min-width on compact tertiary button
  packages/button/button.scss
Labels: ✅ bugfix

#818 docs(portal): delete duplicate documentation page
  portal/src/texts/getstarted/ProcessGuide.md
  portal/src/texts/profile/tone.md
Labels: ✅ bugfix, 📚 documentation

#817 fix(react-hooks): correct return signature in useAnimatedHeight
  packages/react-hooks/src/animation.tsx
Labels: ✅ bugfix

#819 Refactor datepicker
  package.json
  packages/datepicker-react/package.json
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker/datepicker.scss
Labels: ✅ bugfix, ✨ enhancement

#820 Fix font weights
  packages/checkbox-react/package.json
  packages/checkbox-react/src/Checkbox.tsx
  packages/checkbox/checkbox.scss
  packages/select/select.scss
  packages/text-input/text-input.scss
  yarn.lock
Labels: ✅ bugfix

#823 chore(logo-react): add missing nanoid dependency
  packages/logo-react/package.json
  packages/logo-react/src/Logo.tsx
Labels: 🚇 infrastructure

#824 chore: add IntelliJ project file to .gitignore
  .gitignore
Labels: 🚇 infrastructure

#830 feat(logo-react): remove LogoStamp components
  packages/logo-react/documentation/LogoStamp.mdx
  packages/logo-react/documentation/LogoStampExample.tsx
  packages/logo-react/src/index.ts
  packages/logo-react/src/stamp/LogoStampDistributor.tsx
  packages/logo-react/src/stamp/LogoStampInnovation.tsx
  packages/logo-react/src/stamp/LogoStampInsurance.tsx
  packages/logo-react/src/stamp/LogoStampTechnology.tsx
Labels: ✨ enhancement

#825 Cache yarn in GitHub Actions
  .github/ISSUE_TEMPLATE/feilmelding.md
  .github/workflows/test.yml
Labels: 👷‍♂️ CI and deployment

#826 feat(browserslist-config): add explicit support for IE11
  packages/browserslist-config-jkl/index.js
Labels: 🚇 infrastructure

#829 fix(checkbox): make fake checkmark clickable again
  packages/checkbox-react/src/Checkbox.tsx
  packages/checkbox/checkbox.scss
Labels: ✅ bugfix

#822 Add boot script to project
  README.md
  package.json
  packages/accordion-react/package.json
  packages/accordion/package.json
  packages/browserslist-config-jkl/package.json
  packages/button-react/package.json
  packages/button/package.json
  packages/card-react/package.json
  packages/card/package.json
  packages/checkbox-react/package.json
  packages/checkbox/package.json
  packages/core/package.json
  packages/datepicker-react/package.json
  packages/datepicker/package.json
  packages/divider-line-react/package.json
  packages/divider-line/package.json
  packages/field-group-react/package.json
  packages/field-group/package.json
  packages/hamburger-react/package.json
  packages/hamburger/package.json
  packages/list-react/package.json
  packages/list/package.json
  packages/loader-react/package.json
  packages/loader/package.json
  packages/logo-react/package.json
  packages/logo/package.json
  packages/message-box-react/package.json
  packages/message-box/package.json
  packages/portal-components/package.json
  packages/progress-bar-react/package.json
  packages/progress-bar/package.json
  packages/radio-button-react/package.json
  packages/radio-button/package.json
  packages/react-hooks/package.json
  packages/select-react/package.json
  packages/select/package.json
  packages/table-react/package.json
  packages/table/package.json
  packages/text-input-react/package.json
  packages/text-input/package.json
  packages/toggle-switch-react/package.json
  packages/toggle-switch/package.json
  packages/typography-react/package.json
  packages/webfonts/package.json
  portal/package.json
Labels: 📚 documentation, 🚇 infrastructure

#833 fix(accordion): make accordion fill entire width of container
  packages/accordion/accordion.scss
Labels: ✅ bugfix

#836 Bildetekst
  portal/src/texts/profile/picture.md
Labels: 📚 documentation

#832 Portal bugfixes
  packages/accordion-react/README.md
  packages/accordion/README.md
  packages/button-react/README.md
  packages/button/README.md
  packages/card-react/README.md
  packages/card/README.md
  packages/checkbox-react/README.md
  packages/checkbox/README.md
  packages/datepicker-react/README.md
  packages/datepicker/README.md
  packages/divider-line-react/README.md
  packages/divider-line/README.md
  packages/field-group-react/README.md
  packages/hamburger-react/README.md
  packages/hamburger/README.md
  packages/list-react/README.md
  packages/list/README.md
  packages/loader-react/README.md
  packages/loader/README.md
  packages/logo-react/README.md
  packages/logo/README.md
  packages/message-box-react/README.md
  packages/message-box/README.md
  packages/progress-bar-react/README.md
  packages/progress-bar/README.md
  packages/radio-button-react/README.md
  packages/radio-button/README.md
  packages/select-react/README.md
  packages/select/README.md
  packages/table-react/README.md
  packages/table/README.md
  packages/text-input-react/README.md
  packages/text-input/README.md
  packages/toggle-switch-react/README.md
  packages/typography-react/README.md
  packages/webfonts/README.md
  portal/gatsby-browser.js
  portal/gatsby-node.js
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/components/FullScreenMenu.tsx
  portal/src/components/Header/components/FullScreenMenuItem.tsx
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/components/Layout/ComponentLayout.tsx
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/components/Sidebar/SidebarMenuItem.tsx
  portal/src/contexts/fullscreenMenuContext.tsx
  portal/src/contexts/locationContext.tsx
  portal/src/contexts/themeContext.tsx
Labels: ✅ bugfix, ✨ enhancement, 👽portal

#846 fix(button): use correct sizes for compact buttons
  packages/button/button.scss
Labels: ✅ bugfix, 🎨 design

#855 refactor(datepicker): remove redundant width
  packages/datepicker/datepicker.scss
Labels: ✅ bugfix

#849 fix(button): correct height for normal size button
  packages/button/button.scss
Labels: ✅ bugfix

#853 Fix portal page creation
  portal/gatsby-browser.js
  portal/gatsby-config.js
  portal/gatsby-node.js
  portal/package.json
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/header.scss
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/components/Layout/ComponentLayout.tsx
  portal/src/components/Layout/DocPageLayout.tsx
  portal/src/components/Layout/Layout.scss
  portal/src/components/Layout/Layout.tsx
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/components/index.ts
  portal/src/presentation/markdownRenderer.ts
  portal/src/templates/docTemplate.js
  portal/src/texts/getstarted/CodeGuide.mdx
  portal/src/texts/getstarted/GettingStartedDev.mdx
  portal/src/texts/getstarted/PortalGuide.mdx
  portal/src/texts/getstarted/PullRequestGuide.mdx
  portal/src/texts/getstarted/TestGuide.mdx
  portal/src/texts/getstarted/gettingStartedDesign.mdx
  portal/src/texts/getstarted/processGuide.mdx
  portal/src/texts/profile/a11y.mdx
  portal/src/texts/profile/colors.mdx
  portal/src/texts/profile/formdesign.mdx
  portal/src/texts/profile/icon.mdx
  portal/src/texts/profile/layout.mdx
  portal/src/texts/profile/logo.mdx
  portal/src/texts/profile/pattern.mdx
  portal/src/texts/profile/picture.mdx
  portal/src/texts/profile/principle.mdx
  portal/src/texts/profile/shadow.mdx
  portal/src/texts/profile/tone.mdx
  portal/src/texts/profile/typography.mdx
  yarn.lock
Labels: ✅ bugfix, ✨ enhancement, 👽portal

#857 docs: update webfonts readme
  packages/webfonts/README.md
Labels: 📚 documentation

#856 Autoexpand textarea
  packages/text-input-react/src/TextArea.test.tsx
  packages/text-input-react/src/TextArea.tsx
Labels: ✅ bugfix

#861 feat: update typescript, prettier and babel
  gulpfile.js
  package.json
  packages/checkbox-react/src/Checkbox.test.tsx
  packages/react-hooks/documentation/AnimationExample.tsx
  packages/react-hooks/documentation/MutationObserverExample.tsx
  packages/table-react/src/TableData.tsx
  packages/toggle-switch-react/src/ToggleSwitch.test.tsx
  yarn.lock
Labels: 🚇 infrastructure

#864 fix: move browserslist declaration to root package.json
  package.json
  packages/accordion-react/package.json
  packages/accordion/package.json
  packages/button-react/package.json
  packages/button/package.json
  packages/card-react/package.json
  packages/card/package.json
  packages/checkbox-react/package.json
  packages/checkbox/package.json
  packages/core/package.json
  packages/datepicker-react/package.json
  packages/datepicker/package.json
  packages/divider-line-react/package.json
  packages/divider-line/package.json
  packages/field-group-react/package.json
  packages/field-group/package.json
  packages/hamburger-react/package.json
  packages/hamburger/package.json
  packages/list-react/package.json
  packages/list/package.json
  packages/loader-react/package.json
  packages/loader/package.json
  packages/logo-react/package.json
  packages/logo/package.json
  packages/message-box-react/package.json
  packages/message-box/package.json
  packages/portal-components/package.json
  packages/progress-bar-react/package.json
  packages/progress-bar/package.json
  packages/radio-button-react/package.json
  packages/radio-button/package.json
  packages/react-hooks/package.json
  packages/select-react/package.json
  packages/select/package.json
  packages/table-react/package.json
  packages/table/package.json
  packages/text-input-react/package.json
  packages/text-input/package.json
  packages/toggle-switch-react/package.json
  packages/toggle-switch/package.json
  packages/typography-react/package.json
  packages/webfonts/package.json
Labels: ✅ bugfix, 🚇 infrastructure

#865 chore: remove greenkeeper-specific github action
  .github/workflows/test.yml
Labels: 👷‍♂️ CI and deployment

#867 feat: use new babel feature
  babel.config.js
Labels: ✨ enhancement

#873 fix(animation): ensure correct behavior on first load
  packages/react-hooks/src/animation.tsx
Labels: ✅ bugfix
