Repository fremtind/jokul, pull requests merged in 2020-08, with the labels that each got.

#1159 docs(mobile docs): mobile docs break-points responsive mm
  portal/integration/gettingStarted.spec.js
  portal/src/texts/getstarted/MobileGuide.mdx
Labels: 👽portal

#1168 test: add timeout to front page test
  portal/integration/frontpage.spec.js
Labels: 👽portal, 🔬 tests

#1169 IE 11 bloggpost
  portal/src/texts/blog/iePlussJokulErlikSant/iePlussJokulErlikSant.mdx
Labels: 👽portal

#1173 refactor(portal): add correct types to portal fromt page components
  portal/src/components/Delaytext/DelayText.tsx
  portal/src/components/VisibleDetector/VisibleDetector.tsx
  portal/src/pages/index.tsx
Labels: ✅ bugfix

#1175 docs(portal): make sure blog is ordered by date
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/pages/index.tsx
Labels: ✅ bugfix, 🐝 bug, 👽portal, 📖 blog, 📚 documentation

#1172 docs: add summer of 2020 blog post
  portal/src/texts/blog/updates/august2020.mdx
Labels: 👽portal, 📖 blog, 📚 documentation

#1176 Chore/cleaner changelogs
  package.json
  packages/message-box-react/CHANGELOG.md
  yarn.lock
Labels: 👷‍♂️ CI and deployment

#1179 Feat/portal menu context
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/components/FullScreenMenu.tsx
  portal/src/components/Header/components/FullScreenMenuItem.tsx
  portal/src/components/Header/components/MainMenu.tsx
  portal/src/components/Header/components/MainMenuLink.tsx
  portal/src/components/Header/components/mainMenuContext.tsx
  portal/src/components/Header/components/useFullScreenMenuAnimation.tsx
Labels: ✅ bugfix, 👽portal

#1142 Grouping sidemenu
  cypress/support/checkPortalPage.js
  cypress/support/index.js
  packages/accordion-react/documentation/accordion.mdx
  packages/alert-message-react/documentation/AlertMessage.mdx
  packages/button-react/documentation/buttons.mdx
  packages/card-react/documentation/card.mdx
  packages/checkbox-react/documentation/Checkbox.mdx
  packages/core/documentation/Link.mdx
  packages/core/documentation/colors.mdx
  packages/core/documentation/mixins.mdx
  packages/core/documentation/spacing.mdx
  packages/core/documentation/typography.mdx
  packages/datepicker-react/documentation/Datepicker.mdx
  packages/divider-line-react/documentation/Dividerline.mdx
  packages/field-group-react/documentation/FieldGroup.mdx
  packages/hamburger-react/documentation/Hamburger.mdx
  packages/icon-button-react/documentation/IconButton.mdx
  packages/list-react/documentation/List.mdx
  packages/loader-react/documentation/Loader.mdx
  packages/logo-react/documentation/Logo.mdx
  packages/message-box-react/documentation/MessageBox.mdx
  packages/progress-bar-react/documentation/ProgessBar.mdx
  packages/radio-button-react/documentation/RadioButton.mdx
  packages/react-hooks/documentation/hooks.mdx
  packages/select-react/documentation/Select.mdx
  packages/table-react/documentation/Table.mdx
  packages/text-input-react/documentation/TextInput.mdx
  packages/toggle-switch-react/documentation/ToggleSwitch.mdx
  packages/validations-util/documentation/validators.mdx
  portal/integration/frontpage.spec.js
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/components/Sidebar/Sidebar.scss
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/components/Sidebar/SidebarMenu.tsx
  portal/src/contexts/themeContext.tsx
Labels: 👽portal

#1139 feat(hook): add prefer reduced motion hook
  packages/react-hooks/documentation/ReducedMotionExample.tsx
  packages/react-hooks/documentation/hooks.mdx
  packages/react-hooks/documentation/index.tsx
  packages/react-hooks/src/animation.tsx
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useReducedMotion/useReducedMotion.tsx
  portal/gatsby-browser.js
  portal/src/components/Delaytext/DelayText.tsx
  portal/src/components/Documentation/Picture/MediaBox.tsx
  portal/src/components/Header/components/useFullScreenMenuAnimation.tsx
  portal/src/components/Layout/DocPageLayout.tsx
  portal/src/components/Sidebar/SidebarMenu.tsx
  portal/src/contexts/a11yContext.tsx
Labels: ♿️ a11y, 👽portal

#1184 Docs/split hook docs
  .gitignore
  packages/react-hooks/documentation/animation.mdx
  packages/react-hooks/documentation/clickOutside.mdx
  packages/react-hooks/documentation/focusOutside.mdx
  packages/react-hooks/documentation/hooks.mdx
  packages/react-hooks/documentation/intersectionObserver.mdx
  packages/react-hooks/documentation/keyListener.mdx
  packages/react-hooks/documentation/mutationObserver.mdx
  packages/react-hooks/documentation/reducedMotion.mdx
  packages/react-hooks/documentation/screen.mdx
  packages/react-hooks/documentation/scrollIntoView.mdx
  portal/src/components/Header/Header.tsx
Labels: 👽portal, 📚 documentation

#1189 Forsøk på bloggpost
  portal/src/texts/blog/FremtindFigma.mdx
  portal/static/assets/blog/OpprettCoverpage.png
Labels: 👽portal, 📚 documentation

#1154 Accordion
  packages/accordion-react/documentation/Example.tsx
  packages/accordion-react/documentation/index.tsx
  packages/accordion-react/src/Accordion.tsx
  packages/accordion-react/src/AccordionItem.tsx
  packages/accordion-react/src/ExpandArrow.tsx
  packages/accordion/accordion.scss
Labels: ✨ enhancement

#1192 chore(portal): handle images in mdx files
  cypress/support/index.js
  portal/integration/frontpage.spec.js
  portal/src/components/PortalImg/PortalImg.tsx
  portal/src/components/PortalImg/style.scss
  portal/src/components/Typography/FormatProvider.tsx
  portal/src/pages/index.tsx
Labels: ✅ bugfix, 👽portal, 📖 blog

#1199 fix(portal): add prefix to dowload logo
  portal/src/components/DownloadAsset/DownloadAsset.tsx
Labels: ✅ bugfix, 👽portal

#1200 fix(accordion): remove active bounce
  packages/accordion/accordion.scss
Labels: ✅ bugfix

#1158 Utvikleredocs
  portal/integration/gettingStarted.spec.js
  portal/src/texts/getstarted/CodeGuide.mdx
  portal/src/texts/getstarted/Examples.mdx
  portal/src/texts/getstarted/GettingStartedDev.mdx
  portal/src/texts/getstarted/PortalGuide.mdx
  portal/src/texts/getstarted/PullRequestGuide.mdx
  portal/src/texts/getstarted/TestGuide.mdx
Labels: 👽portal

#1207 fix(accordion): fix accordion spacing issue
  packages/accordion-react/documentation/accordion.mdx
  packages/accordion-react/documentation/index.html
  packages/accordion-react/documentation/index.tsx
  packages/accordion/accordion.scss
Labels: ✅ bugfix, 🐝 bug

#1191 feat: add icons package
  packages/core/core.scss
  packages/core/icons.scss
  packages/icons-react/README.md
  packages/icons-react/documentation/Example.tsx
  packages/icons-react/documentation/Icons.mdx
  packages/icons-react/documentation/index.html
  packages/icons-react/documentation/index.tsx
  packages/icons-react/documentation/internal/AnimatedIcon.tsx
  packages/icons-react/documentation/internal/Grid.tsx
  packages/icons-react/documentation/internal/IconExample.tsx
  packages/icons-react/documentation/internal/grid.scss
  packages/icons-react/documentation/internal/props.ts
  packages/icons-react/package.json
  packages/icons-react/src/IconFactory.tsx
  packages/icons-react/src/animated-icons/ArrowHorizontalAnimated.tsx
  packages/icons-react/src/animated-icons/ArrowVerticalAnimated.tsx
  packages/icons-react/src/animated-icons/HamburgerCloseAnimated.tsx
  packages/icons-react/src/animated-icons/PlusRemoveAnimated.tsx
  packages/icons-react/src/icons/ArrowDown.tsx
  packages/icons-react/src/icons/ArrowLeft.tsx
  packages/icons-react/src/icons/ArrowRight.tsx
  packages/icons-react/src/icons/ArrowUp.tsx
  packages/icons-react/src/icons/ArrowUpRight.tsx
  packages/icons-react/src/icons/Calendar.tsx
  packages/icons-react/src/icons/CheckMark.tsx
  packages/icons-react/src/icons/Close.tsx
  packages/icons-react/src/icons/Error.tsx
  packages/icons-react/src/icons/Hamburger.tsx
  packages/icons-react/src/icons/Info.tsx
  packages/icons-react/src/icons/Plus.tsx
  packages/icons-react/src/icons/Search.tsx
  packages/icons-react/src/icons/Success.tsx
  packages/icons-react/src/icons/Warning.tsx
  packages/icons-react/src/icons/types.ts
  packages/icons-react/src/index.ts
  packages/icons-react/tsconfig-for-declarations.json
  packages/icons/README.md
  packages/icons/animated-icons.scss
  packages/icons/gulpfile.js
  packages/icons/package.json
  portal/gatsby-browser.js
  portal/src/components/documentation/icon/Icon/index.tsx
  portal/src/components/documentation/icon/IconTable/index.tsx
Labels: javascript, ✨ enhancement, 🌙 dark mode, 👽portal

#1208 Oppdatert design på lenker
  packages/core/documentation/Example.tsx
  packages/core/links.scss
Labels: ✨ enhancement

#1214 Patch NRK core components
  package.json
  packages/accordion-react/package.json
  packages/select-react/package.json
  patches/@nrk+core-datepicker+3.0.8.patch
  patches/@nrk+core-toggle+3.0.8.patch
  rollup.config.js
  yarn.lock
Labels: ✅ bugfix, 👷‍♂️ CI and deployment

#1216 Ny komponent: NavLink
  packages/core/documentation/Example.tsx
  packages/core/documentation/Link.mdx
  packages/core/documentation/Link/NavLinkExample.tsx
  packages/core/links.scss
  packages/core/mixins/_helpers.scss
  packages/core/src/components/NavLink.test.tsx
  packages/core/src/components/NavLink.tsx
  packages/core/src/components/index.ts
  packages/core/src/index.ts
  packages/portal-components/src/ComponentExample.tsx
  portal/static/assets/documentation/link/link-tekst.svg
  portal/static/assets/documentation/link/navlink-alene.svg
  portal/static/assets/documentation/link/navlink-meny.svg
  portal/static/assets/documentation/link/navlink-tekst-feil.svg
Labels: ✨ enhancement

#1223 Fix portal menu styling
  packages/core/links.scss
  patches/@nrk+core-toggle+3.0.8.patch
  portal/src/components/Header/components/FullScreenMenuItem.scss
  portal/src/components/Header/components/FullScreenMenuItem.tsx
  portal/src/components/Header/components/MainMenu.scss
  portal/src/components/Sidebar/Sidebar.scss
  portal/src/components/Sidebar/SidebarMenuItem.tsx
Labels: ✨ enhancement

#1235 chore(portal): build portal without prefix paths when deploying
  package.json
  portal/package.json
Labels: 👷‍♂️ CI and deployment, 👽portal

#1241 Mobile portal
  packages/core/documentation/Colors/Colors.tsx
  packages/core/documentation/Colors/colors.scss
  packages/portal-components/component-example.scss
  portal/src/components/Card/card.scss
  portal/src/components/DoDontExample/DoDontExample.scss
  portal/src/components/DoDontExample/DoDontExample.tsx
  portal/src/components/Layout/Layout.scss
  portal/src/components/PortalImg/PortalImg.tsx
  portal/src/components/PortalImg/style.scss
  portal/src/pages/index.scss
Labels: ✨ enhancement, 👽portal, 📱mobile

#1246 Chore/enable cypress snapshots 2
  .github/workflows/cypress.yml
  cypress/plugins/index.js
  cypress/support/index.js
  package.json
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #0.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #1.png
  packages/accordion-react/integration/accordion.spec.js
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #0.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #1.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #2.png
  packages/button-react/integration/__image_snapshots__/Buttons  Buttons should work #3.png
  packages/button-react/integration/button.spec.js
  portal/src/components/Layout/Layout.tsx
  portal/src/contexts/locationContext.tsx
  yarn.lock
Labels: 🔬 tests

#1247 test(accordion): test all permutations
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #0.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #1.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #2.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #3.png
  packages/accordion-react/integration/accordion.spec.js
Labels: 🔬 tests

#1254 test(accordion): add a small timeout for animation to finish
  cypress/support/index.js
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #2.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  Accordion should work #3.png
  packages/accordion-react/integration/accordion.spec.js
Labels: 🔬 tests

#1263 feat(checkbox): update design to match sketches
  cypress/support/index.js
  packages/checkbox-react/documentation/index.tsx
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  has correct focus state #0.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  has correct focus state #1.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  has correct focus state #2.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  has correct focus state #3.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #0.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #1.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #2.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #3.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #4.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #5.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #6.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #7.png
  packages/checkbox-react/integration/checkbox.spec.js
  packages/checkbox/checkbox.scss
Labels: ✨ enhancement

#1240 feat(autosuggest): add autosuggest component
  packages/text-input-react/documentation/Autosuggest.mdx
  packages/text-input-react/documentation/AutosuggestExample.tsx
  packages/text-input-react/documentation/index.tsx
  packages/text-input-react/package.json
  packages/text-input-react/src/autosuggest/Autosuggest.test.tsx
  packages/text-input-react/src/autosuggest/Autosuggest.tsx
  packages/text-input-react/src/autosuggest/BaseAutosuggest.tsx
  packages/text-input-react/src/autosuggest/ControllerButton.tsx
  packages/text-input-react/src/autosuggest/Menu.tsx
  packages/text-input-react/src/autosuggest/index.ts
  packages/text-input-react/src/autosuggest/utils.ts
  packages/text-input-react/src/index.ts
  packages/text-input/autosuggest.scss
  packages/text-input/text-input.scss
  portal/gatsby-browser.js
  portal/src/components/Experimental/Experimental.tsx
  portal/src/components/Typography/FormatProvider.tsx
  rollup.config.js
  yarn.lock
Labels: javascript, ✨ enhancement, 💼 needed by client

#1275 fix(logo): fix sizing issues with logo
  packages/logo-react/src/Logo.tsx
Labels: ✅ bugfix

#1281 fix: override css custom properties when inverted mode is set
  packages/accordion/accordion.scss
  packages/checkbox/checkbox.scss
  packages/datepicker/datepicker.scss
Labels: ✅ bugfix

#1288 chore(ci): make cypress snapshot update trigger actions
  .github/workflows/cypress.yml
Labels: ✅ bugfix, 👷‍♂️ CI and deployment
