Repository fremtind/jokul, pull requests merged in 2020-12, with the labels that each got.

#1656 Sider for universell utforming i portalen
  portal/gatsby-config.js
  portal/gatsby-node.js
  portal/src/components/Header/Header.tsx
  portal/src/components/Typography/Typography.tsx
  portal/src/components/UU/UU.tsx
  portal/src/components/UU/index.tsx
  portal/src/components/UU/uu.scss
  portal/src/components/UU/wcag.ts
  portal/src/pages/index.tsx
  portal/src/pages/style.scss
  portal/src/texts/getstarted/EssentialsUU.mdx
  portal/src/texts/getstarted/MobileGuide.mdx
  portal/src/texts/getstarted/TestGuideUU.mdx
  portal/src/texts/getstarted/UU.mdx
  portal/src/texts/profile/a11y.mdx
  portal/src/texts/uu/alt-attributt-bilder.mdx
  portal/src/texts/uu/blinkende-innhold.mdx
  portal/src/texts/uu/dekorativt-innhold.mdx
  portal/src/texts/uu/dialog.mdx
  portal/src/texts/uu/farger.mdx
  portal/src/texts/uu/fokus-handtering.mdx
  portal/src/texts/uu/hoppe-over-blokker.mdx
  portal/src/texts/uu/ikoner.mdx
  portal/src/texts/uu/inndatafelter.mdx
  portal/src/texts/uu/konsekvent-identifikasjon.mdx
  portal/src/texts/uu/konsekvent-navigasjon.mdx
  portal/src/texts/uu/kontrast.mdx
  portal/src/texts/uu/lenker.mdx
  portal/src/texts/uu/liste.mdx
  portal/src/texts/uu/lyd-video.mdx
  portal/src/texts/uu/modal.mdx
  portal/src/texts/uu/overskrifter-struktur.mdx
  portal/src/texts/uu/skjema.mdx
  portal/src/texts/uu/skjemavalidering.mdx
  portal/src/texts/uu/sprak.mdx
  portal/src/texts/uu/tabell.mdx
  portal/src/texts/uu/tastaturnavigasjon.mdx
  portal/src/texts/uu/tekst-strl-avstander.mdx
  portal/src/texts/uu/tidsbegrensning.mdx
  portal/static/assets/uu/portal-taborder.png
  tsconfig.json
Labels: ♿️ a11y, 📚 documentation

#1671 docs(uu): fix dead links in accessibility pages
  portal/src/texts/uu/dialog.mdx
  portal/src/texts/uu/farger.mdx
  portal/src/texts/uu/liste.mdx
  portal/src/texts/uu/lyd-video.mdx
  portal/src/texts/uu/skjema.mdx
Labels: ✅ bugfix, 📚 documentation

#1647 docs(portal): add build info docs
  portal/integration/gettingStarted.spec.js
  portal/src/components/Typography/FormatProvider.tsx
  portal/src/texts/getstarted/Examples.mdx
  portal/src/texts/getstarted/GettingStartedDev.mdx
  portal/src/texts/getstarted/PortalGuide.mdx
  portal/src/texts/getstarted/PullRequestGuide.mdx
  portal/src/texts/getstarted/TestGuide.mdx
  portal/src/texts/getstarted/buildWithJkl.mdx
  portal/src/texts/getstarted/gettingStartedDesign.mdx
  portal/src/texts/getstarted/processGuide.mdx
Labels: ✨ enhancement, 👽portal, 💼 needed by client, 📚 documentation, 🚇 infrastructure

#1676 docs: add december post
  portal/src/texts/blog/updates/december2020.mdx
Labels: 👽portal, 📖 blog

#1683 chore(ci): move codeql workflow
  .github/workflows/codeql-analysis.yml
Labels: github_actions, 👷‍♂️ CI and deployment, 🚇 infrastructure

#1701 fix(button): add missing types from button
  packages/button-react/src/Button.tsx
Labels: ✨ enhancement

#1705 docs(uu): split to its own section
  packages/button-react/documentation/buttons.mdx
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/components/Sidebar/Sidebar.tsx
  portal/src/components/Typography/typography.scss
  portal/src/pages/index.tsx
  portal/src/texts/blog/updates/december2020.mdx
  portal/src/texts/getstarted/MobileGuide.mdx
  portal/src/texts/getstarted/TestGuideUU.mdx
  portal/src/texts/profile/a11y.mdx
  portal/src/texts/universell-utforming/EssentialsUU.mdx
  portal/src/texts/universell-utforming/ScreenReader.mdx
  portal/src/texts/universell-utforming/TestGuideKeyboard.mdx
  portal/src/texts/universell-utforming/TestGuideUU.mdx
  portal/src/texts/universell-utforming/ToolsUU.mdx
  portal/src/texts/universell-utforming/UU.mdx
  portal/src/texts/uu/dialog.mdx
  portal/src/texts/uu/farger.mdx
  portal/src/texts/uu/fokus-handtering.mdx
  portal/src/texts/uu/lyd-video.mdx
  portal/src/texts/uu/skjema.mdx
  portal/src/texts/uu/tabell.mdx
  portal/src/texts/uu/tastaturnavigasjon.mdx
Labels: ♿️ a11y, 👽portal, 📚 documentation
