Repository fremtind/jokul, pull requests merged in 2020-10, with the labels that each got.

#1406 Feat/data loader testautoid
  packages/loader-react/src/Loader.tsx
Labels: ✨ enhancement, 💼 needed by client

#1413 docs(blog): add my ide blog post
  portal/src/texts/blog/ide/lfberge-vs-code.mdx
  portal/static/assets/blog/ide/animation.gif
  portal/static/assets/blog/ide/command-palett.png
  portal/static/assets/blog/ide/file.png
  portal/static/assets/blog/ide/vs-code-1.png
Labels: 👽portal, 📖 blog

#1414 chore: add code quality check
  codeql-analysis.yml
Labels: github_actions, 👷‍♂️ CI and deployment, 🚇 infrastructure

#1407 Oppdateringspost
  portal/src/texts/blog/updates/october2020.mdx
Labels: 📖 blog, 📚 documentation

#1416 docs(colors): get color from element
  portal/src/components/Documentation/Colors/ColorTable.tsx
  portal/src/components/Documentation/Colors/Colors.tsx
  portal/src/components/Documentation/Typography/TypograhyTable/ExampleRow.tsx
  portal/src/texts/profile/colors.mdx
  portal/src/utils/getComputedProperty.ts
Labels: ✅ bugfix, 👽portal, 📚 documentation

#1434 docs(colors): change color tables to use computed color values
  portal/src/components/Documentation/Colors/ColorTable.tsx
  portal/src/components/Documentation/Colors/Colors.tsx
Labels: hacktoberfest, hacktoberfest2020, ✅ bugfix, 📚 documentation

#1435 refactor(hooks): use optional chaining
  packages/react-hooks/src/useClickOutside.ts
  packages/react-hooks/src/useFocusOutside.ts
  packages/react-hooks/src/useScrollIntoView/useScrollIntoView.tsx
Labels: hacktoberfest, hacktoberfest2020, javascript, ✨ enhancement

#1393 feat(image): add image component
  packages/image-react/README.md
  packages/image-react/documentation/Example.tsx
  packages/image-react/documentation/assets/defaultSize.jpg
  packages/image-react/documentation/assets/largeSize.jpg
  packages/image-react/documentation/assets/thumbnail.jpg
  packages/image-react/documentation/image.mdx
  packages/image-react/documentation/index.html
  packages/image-react/documentation/index.tsx
  packages/image-react/documentation/internal/props.ts
  packages/image-react/documentation/style.scss
  packages/image-react/package.json
  packages/image-react/src/Image-empty.test.tsx
  packages/image-react/src/Image.test.tsx
  packages/image-react/src/Image.tsx
  packages/image-react/src/index.ts
  packages/image-react/tsconfig-for-declarations.json
  packages/image/README.md
  packages/image/gulpfile.js
  packages/image/image.scss
  packages/image/package.json
  packages/react-hooks/documentation/ProgressivImgExample.tsx
  packages/react-hooks/documentation/progressiveImg.mdx
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useProgressiveImg/useProgressiveImg.tsx
  portal/gatsby-browser.js
Labels: javascript, ✨ enhancement, 🌙 dark mode, 💼 needed by client, 📱mobile

#1431 chore: add codesanbox examples to PRs
  .codesandbox/ci.json
  package.json
  packages/portal-components/package.json
Labels: hacktoberfest, hacktoberfest2020, 👷‍♂️ CI and deployment, 🚇 infrastructure

#1443 DatePicker refaktorering og fiksering
  jest/jest.unit.js
  package.json
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker-react/src/dateFunctions.test.ts
  packages/datepicker-react/src/dateFunctions.ts
  packages/datepicker-react/src/internal/hooks.ts
  packages/datepicker-react/src/internal/index.ts
  packages/datepicker-react/src/internal/init.ts
  packages/datepicker-react/src/internal/reducer.ts
  yarn.lock
Labels: hacktoberfest, hacktoberfest2020, ✅ bugfix, ✨ enhancement, 💼 needed by client

#1449 feat(useintersection): allow observing svg elements
  packages/react-hooks/src/useIntersectionObserver/useIntersectionObserver.ts
Labels: hacktoberfest, hacktoberfest2020, ✨ enhancement, 💼 needed by client

#1455 docs: update text-input header
  packages/text-input/README.md
Labels: hacktoberfest, hacktoberfest2020, 🐝 bug, 📚 documentation

#1456 fix(portal): fix title
  portal/src/components/Layout/Layout.tsx
Labels: hacktoberfest, hacktoberfest2020, ♿️ a11y, ✅ bugfix, 🐝 bug, 👽portal

#1478 Oppdater HTML lang attributt for bedre skjermleser opplevelse
  portal/src/components/Layout/Layout.tsx
Labels: hacktoberfest, hacktoberfest2020, ♿️ a11y, ✅ bugfix, ✨ enhancement, 👽portal

#1476 docs: add title to spacing example
  packages/core/documentation/Spacing/Spacing.tsx
  portal/src/components/Documentation/Spacing/SpacingTable.tsx
Labels: hacktoberfest, hacktoberfest2020, ♿️ a11y, ✨ enhancement, 💼 needed by client, 📚 documentation

#1465 Button touch animations
  packages/button-react/src/Button.tsx
  packages/button/button.scss
  packages/core/src/utils/tabListener.ts
Labels: hacktoberfest-accepted, ✨ enhancement

#1513 fix(image): fixes issue where loader color were overwitten
  packages/image/image.scss
Labels: ✅ bugfix

#1517 feat(feedback): initial feedback component
  packages/feedback-react/README.md
  packages/feedback-react/documentation/Example.tsx
  packages/feedback-react/documentation/Feedback.mdx
  packages/feedback-react/documentation/index.html
  packages/feedback-react/documentation/index.tsx
  packages/feedback-react/integration/__image_snapshots__/Feedback  Feedback should work #0.png
  packages/feedback-react/integration/__image_snapshots__/Feedback  Feedback should work #1.png
  packages/feedback-react/integration/feedback.spec.js
  packages/feedback-react/package.json
  packages/feedback-react/src/BaseFeedback.tsx
  packages/feedback-react/src/Feedback.test.tsx
  packages/feedback-react/src/Feedback.tsx
  packages/feedback-react/src/SimplifiedFeedback.tsx
  packages/feedback-react/src/Smiley.tsx
  packages/feedback-react/src/index.ts
  packages/feedback-react/src/types.ts
  packages/feedback-react/tsconfig-for-declarations.json
  packages/feedback/README.md
  packages/feedback/feedback.scss
  packages/feedback/gulpfile.js
  packages/feedback/package.json
  portal/gatsby-browser.js
Labels: ✨ enhancement, 💼 needed by client

#1523 feat: add support for more attributes on RadioButtonOption
  packages/radio-button-react/src/RadioButtonOption.tsx
Labels: hacktoberfest-accepted, ♿️ a11y, ✨ enhancement, 💼 needed by client

#1528 feat(constants): add constants package
  packages/constants-util/README.md
  packages/constants-util/documentation/Constants.mdx
  packages/constants-util/documentation/Example.tsx
  packages/constants-util/documentation/index.html
  packages/constants-util/documentation/index.tsx
  packages/constants-util/documentation/style.scss
  packages/constants-util/package.json
  packages/constants-util/src/index.ts
  packages/constants-util/src/unicode.ts
  packages/constants-util/tsconfig-for-declarations.json
  portal/src/components/Card/Card.tsx
Labels: hacktoberfest-accepted, javascript, ✨ enhancement, 💼 needed by client
