Repository fremtind/jokul, pull requests merged in 2021-07, with the labels that each got.

#2066 fix(feedback): fiks en bug hvor en allerede lagret tilbakemelding ble lagret på nytt
  packages/feedback-react/src/BaseFeedback.tsx
  packages/feedback-react/src/Feedback.test.tsx
Labels: ✅ bugfix

#2059 feat(loader-react): add aria-live and politeness prop
  packages/loader-react/README.md
  packages/loader-react/src/Loader.tsx
Labels: ✨ enhancement

#2078 Dark mode fixes
  packages/accordion-react/documentation/index.html
  packages/alert-message-react/documentation/index.html
  packages/button-react/documentation/index.html
  packages/card-react/documentation/index.html
  packages/checkbox-react/documentation/index.html
  packages/constants-util/documentation/index.html
  packages/content-toggle-react/documentation/index.html
  packages/cookie-consent-react/documentation/index.html
  packages/core/documentation/index.html
  packages/datepicker-react/documentation/index.html
  packages/description-list-react/documentation/index.html
  packages/feedback-react/documentation/index.html
  packages/field-group-react/documentation/index.html
  packages/hamburger-react/documentation/index.html
  packages/icon-button-react/documentation/index.html
  packages/icons-react/documentation/index.html
  packages/image-react/documentation/index.html
  packages/list-react/documentation/index.html
  packages/loader-react/documentation/index.html
  packages/logo-react/documentation/index.html
  packages/message-box-react/documentation/index.html
  packages/progress-bar-react/documentation/index.html
  packages/radio-button-react/documentation/index.html
  packages/react-hooks/documentation/index.html
  packages/select-react/documentation/index.html
  packages/summary-table-react/documentation/index.html
  packages/table-react/documentation/index.html
  packages/text-input-react/documentation/index.html
  packages/toggle-switch-react/documentation/index.html
  packages/typography-react/documentation/index.html
  packages/validators-util/documentation/index.html
  portal/src/components/UU/uu.scss
Labels: ✅ bugfix, 🌙 dark mode

#2077 feat(hamburger): update animation for hamburger component
  packages/hamburger-react/documentation/index.html
  packages/hamburger/hamburger.scss
Labels: Design pattern, ✨ enhancement, 🌙 dark mode, 🎨 design, 💼 needed by client, 📐 design→dev

#2083 fix(dark mode): use correct bg-color in dark mode
  packages/cookie-consent/cookie-consent.scss
Labels: ✅ bugfix, 🌙 dark mode

#2084 feat(hamburger): make hamburger controlled
  packages/hamburger-react/README.md
  packages/hamburger-react/documentation/Example.tsx
  packages/hamburger-react/src/Hamburger.test.tsx
  packages/hamburger-react/src/Hamburger.tsx
  packages/hamburger/hamburger.scss
  portal/src/components/Header/components/FullScreenMenu.tsx
  portal/src/components/Header/components/MainMenu.tsx
Labels: javascript, ✅ bugfix, ✨ enhancement, 👽portal, 💼 needed by client, 📚 documentation

#2085 fix: actually use correct bg in dark mode on cookie consent
  packages/cookie-consent/cookie-consent.scss
Labels: ✅ bugfix

#2092 feat(hamburger): add support for a text in the hamburger button
  packages/content-toggle-react/documentation/ContentToggle.mdx
  packages/content-toggle-react/documentation/Example.tsx
  packages/content-toggle-react/documentation/index.tsx
  packages/content-toggle-react/integration/__image_snapshots__/ContentToggle  Content Toggler should work #0.png
  packages/content-toggle-react/integration/__image_snapshots__/ContentToggle  Content Toggler should work #1.png
  packages/content-toggle-react/src/ContentToggle.test.tsx
  packages/content-toggle-react/src/ContentToggle.tsx
  packages/content-toggle/content-toggle.scss
  packages/hamburger-react/documentation/Example.tsx
  packages/hamburger-react/documentation/index.tsx
  packages/hamburger-react/package.json
  packages/hamburger-react/src/Hamburger.test.tsx
  packages/hamburger-react/src/Hamburger.tsx
  packages/hamburger/hamburger.scss
  yarn.lock
Labels: Design pattern, ✨ enhancement, 🎨 design, 💼 needed by client, 📖 blog, 📚 documentation
