Repository fremtind/jokul, pull requests merged in 2021-08, with the labels that each got.

#2109 fix typo
  packages/core/MIGRATION.md
Labels: 📚 documentation

#2107 Legg til mer snadder på hamburger, og gi den bedre breddekontroll
  packages/content-toggle-react/documentation/ContentToggle.mdx
  packages/content-toggle-react/documentation/Example.tsx
  packages/content-toggle-react/documentation/index.tsx
  packages/content-toggle-react/src/ContentToggle.tsx
  packages/content-toggle/content-toggle.scss
  packages/hamburger-react/documentation/Example.tsx
  packages/hamburger-react/documentation/Hamburger.mdx
  packages/hamburger-react/documentation/index.tsx
  packages/hamburger-react/src/Hamburger.tsx
  packages/hamburger/hamburger.scss
Labels: Design pattern, javascript, ✨ enhancement, 💼 needed by client, 📚 documentation

#2111 fix(text-styles): use correct weight for heading 2 on small screens
  packages/core/mixins/_text-style.scss
Labels: ✅ bugfix

#2119 fix(@fremtind/jkl-content-toggle-react): sets correct version for @fr…
  packages/content-toggle-react/package.json
Labels: ✅ bugfix

#2069 Dependency upgrades
  .husky/.gitignore
  .husky/_/husky.sh
  package.json
  packages/select-react/src/useListNavigation.ts
  packages/text-input-react/package.json
  portal/package.json
  yarn.lock
Labels: 🚇 infrastructure

#2138 chore: upgrades dependencies
  yarn.lock
Labels: 🔗 dependencies

#2137 fix: add hover color and cursor for select
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
  packages/select/select.scss
Labels: ✨ enhancement, 💼 needed by client, ✅ bugfix, ♿️ a11y, Design pattern

#2153 chore: update dependencies
  yarn.lock
Labels: 🔗 dependencies

#2159 chore: update dependencies
  package.json
  yarn.lock
Labels: 🔗 dependencies

#2162 feat(sass): forward functions to new jkl entrypoint
  packages/core/_jkl.scss
Labels: ✨ enhancement
