Repository fremtind/jokul, pull requests merged in 2021-12, with the labels that each got.

#2548 feat: inline og forsinket versjon av loader
  packages/loader-react/documentation/Loader.mdx
  packages/loader-react/documentation/LoaderExample.tsx
  packages/loader-react/documentation/QuickLoaderExample.tsx
  packages/loader-react/src/Loader.tsx
  packages/loader-react/src/index.ts
  packages/loader/loader.scss
Labels: 📚 documentation, ✨ enhancement

#2552 feat: logostempel, komponentdok for logo, og tilbakemelding i portalen
  packages/feedback-react/src/types.ts
  packages/logo-react/documentation/Logo.mdx
  packages/logo-react/documentation/LogoExample.tsx
  packages/logo-react/documentation/LogoStampExample.tsx
  packages/logo-react/integration/__image_snapshots__/Logo  dark mode  renders correctly #0.png
  packages/logo-react/integration/__image_snapshots__/Logo  dark mode  renders correctly #1.png
  packages/logo-react/integration/__image_snapshots__/Logo  dark mode  renders correctly #2.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #0.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #1.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #2.png
  packages/logo-react/integration/logo.spec.js
  packages/logo-react/src/Logo.tsx
  packages/logo-react/src/LogoStamp.tsx
  packages/logo-react/src/index.ts
  packages/logo/logo.scss
  portal/src/components/Footer/Footer.scss
  portal/src/components/Footer/Footer.tsx
Labels: 📚 documentation, ✨ enhancement, 👽portal

#2560 feat: eksporter komponentprops for Checkbox, komponentdok
  packages/checkbox-react/documentation/Checkbox.mdx
  packages/checkbox-react/documentation/CheckboxExample.tsx
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  dark mode  renders correctly #0.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  dark mode  renders correctly #1.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  dark mode  renders correctly #2.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  dark mode  renders correctly #3.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  dark mode  renders correctly #4.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #0.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #1.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #2.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #3.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #4.png
  packages/checkbox-react/integration/checkbox.spec.js
  packages/checkbox-react/src/Checkbox.tsx
  packages/checkbox-react/src/index.ts
Labels: 📚 documentation, ✨ enhancement

#2553 chore: fjern gatsby som eget steg ved pull_request
  .github/workflows/pull_request.yml
Labels: 👷‍♂️ CI and deployment

#2562 feat: eksporter typer fra Cookie consent og legg til kodeeksempel, demo av ulike samtykker
  packages/cookie-consent-react/documentation/Blocking.tsx
  packages/cookie-consent-react/documentation/CookieConsent.mdx
  packages/cookie-consent-react/documentation/CookieConsentExample.tsx
  packages/cookie-consent-react/integration/__image_snapshots__/Cookie Consent  blocking  works as expected #0.png
  packages/cookie-consent-react/src/CookieConsent.tsx
  packages/cookie-consent-react/src/CookieConsentContext.tsx
  packages/cookie-consent-react/src/index.ts
Labels: 📚 documentation, ✨ enhancement

#2556 feat: eksporter typer for liste og dokumenter komponenten med kodeeksempler
  packages/list-react/documentation/List.mdx
  packages/list-react/documentation/ListExample.tsx
  packages/list-react/documentation/index.tsx
  packages/list-react/documentation/internal/props.tsx
  packages/list-react/integration/__image_snapshots__/List  dark mode  renders correctly #0.png
  packages/list-react/integration/__image_snapshots__/List  dark mode  renders correctly #1.png
  packages/list-react/integration/__image_snapshots__/List  dark mode  renders correctly #2.png
  packages/list-react/integration/__image_snapshots__/List  renders correctly #0.png
  packages/list-react/integration/__image_snapshots__/List  renders correctly #1.png
  packages/list-react/integration/__image_snapshots__/List  renders correctly #2.png
  packages/list-react/integration/__image_snapshots__/List  renders correctly #3.png
  packages/list-react/integration/__image_snapshots__/List  renders correctly #4.png
  packages/list-react/integration/__image_snapshots__/List  renders correctly #5.png
  packages/list-react/integration/__image_snapshots__/List  renders correctly #6.png
  packages/list-react/integration/__image_snapshots__/List  renders correctly #7.png
  packages/list-react/integration/list.spec.js
  packages/list-react/src/List.tsx
  packages/list-react/src/ListItem.tsx
  packages/list-react/src/index.ts
Labels: 📚 documentation, ✨ enhancement

#2567 docs: komponentdokumentasjon description list
  packages/description-list-react/documentation/DescriptionList.mdx
  packages/description-list-react/documentation/DescriptionListExample.scss
  packages/description-list-react/documentation/DescriptionListExample.tsx
  packages/description-list-react/integration/__image_snapshots__/description list  renders correctly #0.png
  packages/description-list-react/integration/__image_snapshots__/description list  renders correctly #1.png
Labels: 📚 documentation

#2569 feat: eksporter tabelltyper, fiks justering av tall i eksempler
  package.json
  packages/table-react/documentation/ActionTableExample.tsx
  packages/table-react/documentation/ClickableTableExample.tsx
  packages/table-react/documentation/DataTableExample.tsx
  packages/table-react/documentation/HeadlessTableExample.tsx
  packages/table-react/documentation/MobileListTableExample.tsx
  packages/table-react/documentation/MobileScrollTableExample.tsx
  packages/table-react/documentation/Table.mdx
  packages/table-react/documentation/TableExample.tsx
  packages/table-react/documentation/index.tsx
  packages/table-react/integration/__image_snapshots__/Table  dark mode  renders correctly #0.png
  packages/table-react/integration/__image_snapshots__/Table  dark mode  renders correctly #1.png
  packages/table-react/integration/__image_snapshots__/Table  dark mode  renders correctly #3.png
  packages/table-react/integration/__image_snapshots__/Table  renders correctly #0.png
  packages/table-react/integration/__image_snapshots__/Table  renders correctly #1.png
  packages/table-react/integration/__image_snapshots__/Table  renders correctly #3.png
  packages/table-react/package.json
  packages/table-react/src/DataTable.tsx
  packages/table-react/src/Table.tsx
  packages/table-react/src/TableBody.tsx
  packages/table-react/src/TableCaption.tsx
  packages/table-react/src/TableCell.tsx
  packages/table-react/src/TableColumn.tsx
  packages/table-react/src/TableColumnGroup.tsx
  packages/table-react/src/TableFooter.tsx
  packages/table-react/src/TableHead.tsx
  packages/table-react/src/TableHeader.tsx
  packages/table-react/src/TableRow.tsx
  packages/table-react/src/index.ts
  packages/table-react/src/tableContext.tsx
  packages/table-react/src/tableSectionContext.tsx
  yarn.lock
Labels: 📚 documentation, ✨ enhancement

#2574 docs: komponentdok for Select
  packages/select-react/documentation/Select.mdx
Labels: 📚 documentation

#2587 fix: make all button elements respect width constraint
  packages/button/button.scss
Labels: 🐝 bug, ✅ bugfix

#2586 fix: maxWidth bug på smale skjermer
  packages/text-input-react/src/BaseInputField.tsx
  packages/text-input/text-input.scss
Labels: ✅ bugfix

#2572 Komponentdok for Summary table
  packages/summary-table-react/documentation/SummaryTable.mdx
  packages/summary-table-react/documentation/SummaryTableExample.tsx
  packages/summary-table-react/mocks/index.ts
  packages/table-react/documentation/Table.mdx
  packages/tag-react/documentation/Tag.mdx
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/templates/DocPageLayout.tsx
Labels: 📚 documentation

#2582 docs: kodeeksempler og mer utfyllende ikondokumentasjon
  packages/icons-react/documentation/AnimatedIconsExample.tsx
  packages/icons-react/documentation/Icons.mdx
  packages/icons-react/documentation/IconsExample.tsx
  portal/src/texts/profile/icon.mdx
Labels: 📚 documentation

#2577 docs: dokumenter Autosuggest, deprecate leadText
  packages/text-input-react/documentation/Autosuggest.mdx
  packages/text-input-react/documentation/AutosuggestExample.tsx
  packages/text-input-react/documentation/TextInput.mdx
  packages/text-input-react/src/autosuggest/Autosuggest.tsx
  packages/text-input-react/src/autosuggest/index.ts
  packages/text-input-react/src/index.ts
  portal/src/components/Experimental/Experimental.tsx
Labels: 📚 documentation

#2592 docs: updates Toggle documentation
  packages/toggle-switch-react/documentation/ToggleSwitch.mdx
  packages/toggle-switch-react/documentation/ToggleSwitchExample.tsx
  packages/toggle-switch-react/integration/ToogleSlider.spec.js
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  dark mode  renders correctly #0.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  dark mode  renders correctly #1.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  dark mode  renders correctly #2.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  renders correctly #0.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  renders correctly #1.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSlider  renders correctly #2.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSwitch  dark mode  renders correctly #0.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSwitch  dark mode  renders correctly #1.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSwitch  dark mode  renders correctly #2.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSwitch  renders correctly #0.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSwitch  renders correctly #1.png
  packages/toggle-switch-react/integration/__image_snapshots__/ToggleSwitch  renders correctly #2.png
  packages/toggle-switch-react/src/ToggleSwitch.tsx
  packages/toggle-switch/toggle-switch.scss
Labels: 📚 documentation

#2598 chore: bekreft eierskap i Google Search Console
  portal/static/googled9beb0ffe5fd21db.html
Labels: 🚇 infrastructure, 👽portal

#2584 feat: eksporter typer for ikonknapp, dokumentasjon
  .eslintrc.js
  packages/alert-message-react/documentation/AlertMessage.mdx
  packages/alert-message-react/documentation/AlertMessageExample.tsx
  packages/checkbox-react/documentation/Checkbox.mdx
  packages/content-toggle-react/documentation/ContentToggle.mdx
  packages/cookie-consent-react/documentation/CookieConsent.mdx
  packages/description-list-react/documentation/DescriptionList.mdx
  packages/field-group-react/documentation/FieldGroup.mdx
  packages/icon-button-react/documentation/IconButton.mdx
  packages/icon-button-react/documentation/IconButtonExample.tsx
  packages/icon-button-react/src/IconButton.tsx
  packages/icon-button-react/src/index.ts
  packages/icons-react/documentation/Icons.mdx
  packages/list-react/documentation/List.mdx
  packages/message-box-react/documentation/MessageBox.mdx
  packages/message-box-react/documentation/MessageBoxExample.tsx
  packages/radio-button-react/documentation/RadioButton.mdx
  packages/summary-table-react/documentation/SummaryTable.mdx
  packages/tag-react/documentation/Tag.mdx
  packages/text-input-react/documentation/Autosuggest.mdx
  packages/text-input-react/documentation/TextInput.mdx
  packages/toggle-switch-react/documentation/ToggleSwitch.mdx
  packages/toggle-switch-react/documentation/ToggleSwitchExample.tsx
Labels: 📚 documentation

#2597 fix: gjenopprett React Hooks menypunkt
  portal/src/components/Header/components/MainMenu.tsx
Labels: ✅ bugfix, 👽portal

#2604 fix: sett forceCompact på child components av Datepicker
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  dark mode  renders correctly #2.png
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  dark mode  renders correctly #3.png
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  dark mode  renders correctly #4.png
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  renders correctly #2.png
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  renders correctly #3.png
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  renders correctly #4.png
  packages/datepicker-react/integration/datepicker.spec.js
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/feedback-react/integration/feedback.spec.js
Labels: ✅ bugfix

#2599 Dokumentasjon av responsiv design, hjelpeverktøy for media queries
  packages/core/mixins/_screens.scss
  portal/src/texts/getstarted/MobileGuide.mdx
Labels: 📚 documentation, ✨ enhancement

#2609 docs: komponentdok for fieldgroup
  packages/field-group-react/documentation/FieldGroup.mdx
  packages/field-group-react/documentation/FieldGroupExample.tsx
  packages/field-group-react/src/FieldGroup.tsx
Labels: 📚 documentation

#2613 docs: komponentdok for accordion
  packages/accordion-react/documentation/AccordionExample.tsx
  packages/accordion-react/documentation/accordion.mdx
Labels: 📚 documentation

#2611 fix: sett default aria-live til polite
  packages/content-toggle-react/documentation/ContentToggle.mdx
  packages/content-toggle-react/documentation/ContentToggleExample.tsx
  packages/content-toggle-react/src/ContentToggle.test.tsx
  packages/content-toggle-react/src/ContentToggle.tsx
Labels: 📚 documentation, ✅ bugfix

#2616 chore: legg til ordet designsystem i title, endre sidetitler
  portal/gatsby-config.js
  portal/src/texts/getstarted/buildWithJkl.mdx
  portal/src/texts/getstarted/gettingStartedDesign.mdx
Labels: 👽portal

#2457 docs: farger
  packages/core/color-classes.scss
  packages/core/documentation/Colors/Colors.tsx
  packages/core/documentation/Colors/colors.scss
  packages/core/documentation/CoreExample.tsx
  packages/core/documentation/colors.mdx
  packages/core/documentation/index.html
  packages/core/documentation/index.tsx
  packages/core/variables/_colors.scss
  packages/icons-react/documentation/AnimatedIconsExample.tsx
  packages/icons-react/documentation/IconsExample.tsx
  packages/icons-react/integration/__image_snapshots__/Icons  dark mode  renders correctly #0.png
  packages/icons-react/integration/__image_snapshots__/Icons  renders correctly #0.png
  portal/src/components/Documentation/Colors/ColorDescription.scss
  portal/src/components/Documentation/Colors/ColorDescription.tsx
  portal/src/components/Documentation/Colors/ColorTable.tsx
  portal/src/components/Documentation/Colors/Colors.scss
  portal/src/components/Documentation/Colors/Colors.tsx
  portal/src/components/colors/ColorInfo.tsx
  portal/src/components/colors/ColorSwatch.tsx
  portal/src/components/colors/ColorTable.tsx
  portal/src/components/colors/ColorTableRow.tsx
  portal/src/components/colors/PrimaryColor.tsx
  portal/src/components/colors/color-info.scss
  portal/src/components/colors/color-swatch.scss
  portal/src/components/colors/color-table.scss
  portal/src/components/colors/colorUtils.ts
  portal/src/components/colors/colors.d.ts
  portal/src/components/colors/index.ts
  portal/src/components/colors/primary-color.scss
  portal/src/texts/profile/farger.mdx
  portal/static/assets/documentation/farger/betaling_faktura.png
  portal/static/assets/documentation/farger/bilforsikring_detaljside.png
  portal/static/assets/documentation/farger/hund_feilmelding.png
  portal/static/assets/documentation/farger/tilganger_suksess.png
Labels: 📚 documentation

#2620 chore: memo eksempelkomponenten
  doc-utils/ExampleBase.tsx
Labels: 👽portal

#2622 docs: pek på useAnimatedHeight og fiks en typo
  packages/content-toggle-react/documentation/ContentToggle.mdx
  packages/react-hooks/documentation/AnimationExample.tsx
  packages/react-hooks/documentation/animation.mdx
Labels: 📚 documentation

#2624 feat: add onChange event to tabs
  packages/tabs-react/package.json
  packages/tabs-react/src/Tabs.test.tsx
  packages/tabs-react/src/Tabs.tsx
Labels: ✨ enhancement, 💼 needed by client

#2627 fix: clean også node_modules på rotnivå
  package.json
  portal/src/texts/getstarted/GettingStartedDev.mdx
Labels: 📚 documentation, 🚇 infrastructure

#2607 fix: rett a11y-problemer i Hamburger
  packages/hamburger-react/README.md
  packages/hamburger-react/documentation/Hamburger.mdx
  packages/hamburger-react/documentation/HamburgerExample.tsx
  packages/hamburger-react/integration/__image_snapshots__/🍔 Hamburger  dark mode  renders correctly #0.png
  packages/hamburger-react/integration/__image_snapshots__/🍔 Hamburger  dark mode  renders correctly #1.png
  packages/hamburger-react/integration/__image_snapshots__/🍔 Hamburger  dark mode  renders correctly #2.png
  packages/hamburger-react/integration/__image_snapshots__/🍔 Hamburger  dark mode  renders correctly #3.png
  packages/hamburger-react/integration/__image_snapshots__/🍔 Hamburger  renders correctly #0.png
  packages/hamburger-react/integration/__image_snapshots__/🍔 Hamburger  renders correctly #1.png
  packages/hamburger-react/integration/__image_snapshots__/🍔 Hamburger  renders correctly #2.png
  packages/hamburger-react/integration/__image_snapshots__/🍔 Hamburger  renders correctly #3.png
  packages/hamburger-react/src/Hamburger.test.tsx
  packages/hamburger-react/src/Hamburger.tsx
  packages/hamburger-react/src/index.ts
  portal/src/components/Header/components/MainMenu.tsx
Labels: 📚 documentation, ✅ bugfix

#2594 docs: dokumenter hvordan vi tenker skjemavalidering bør gjøres, med et interaktivt eksempel
  packages/message-box-react/documentation/FormErrorMessageBoxExample.tsx
  packages/message-box-react/documentation/MessageBox.mdx
  packages/message-box-react/integration/message-box.spec.js
  packages/message-box-react/package.json
  packages/message-box-react/src/FormErrorMessageBox.tsx
  packages/message-box-react/src/index.ts
  packages/message-box/message-box.scss
  portal/src/pages/eksempler/skjemavalidering.tsx
  portal/src/pages/style.scss
  portal/src/texts/profile/skjemadesign.mdx
  portal/static/assets/documentation/skjemadesign/skjemavalidering_blocker.png
  portal/static/assets/documentation/skjemadesign/skjemavalidering_error_summary.png
Labels: 📚 documentation, ✨ enhancement
