Repository fremtind/jokul, pull requests merged in 2021-06, with the labels that each got.

#2006 fix(text-area): remove describedby attr when field has no message
  packages/text-input-react/src/TextArea.tsx
Labels: ♿️ a11y, ✅ bugfix

#2027 feat(useAnimatedHeight): add callbacks for animation start and end
  packages/react-hooks/documentation/AnimationExample.tsx
  packages/react-hooks/src/animation.tsx
Labels: ✨ enhancement, 💼 needed by client

#2035 fix(useAnimatedHeight): ignore bubbling transitions
  packages/react-hooks/src/animation.tsx
Labels: ✅ bugfix, 💼 needed by client

#2034 Lukk kalender når en gyldig dato er skrevet inn
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/internal/reducer.ts
Labels: ✨ enhancement

#2039 docs: remove vulnerabilities badge from README
  README.md
Labels: 📚 documentation

#2014 docs(MobilGuide): reorganized "read more" links
  portal/src/texts/getstarted/MobileGuide.mdx
Labels: 👽portal

#2049 revert(cypress): add back bot token to cypress workflow
  .github/workflows/cypress.yml
Labels: ✅ bugfix, 👷‍♂️ CI and deployment

#2052 feat(): add support for submit when unmounting the component
  packages/feedback-react/src/BaseFeedback.tsx
  packages/feedback-react/src/Feedback.test.tsx
Labels: ✨ enhancement

#2057 Flere oppdateringer
  package.json
  packages/cookie-consent/package.json
  packages/portal-components/package.json
  packages/react-hooks/package.json
  portal/package.json
  yarn.lock
Labels: ✅ bugfix, 🚇 infrastructure
