Repository fremtind/jokul, pull requests merged in 2021-01, with the labels that each got.

#1689 Legg til ref forwarding i Select
  packages/select-react/documentation/Example.tsx
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.tsx
Labels: ✨ enhancement

#1724 fix(select): remove background color from select wrapper div
  packages/select/select.scss
Labels: ✅ bugfix

#1727 fix(summary-table-react): add style pkg as dependency
  packages/summary-table-react/package.json
Labels: ✅ bugfix

#1733 feat(core): add back nav link
  packages/core/documentation/Example.tsx
  packages/core/documentation/Link/NavLinkExample.tsx
  packages/core/links.scss
  packages/core/src/components/NavLink.tsx
Labels: ✨ enhancement, 💼 needed by client

#1734 docs(core): add missing nav documentation
  packages/core/documentation/Link.mdx
Labels: 👽portal, 📚 documentation

#1745 fix(datepicker): fix broken aria reference when no supportlabel
  packages/datepicker-react/src/DatePicker.tsx
Labels: ♿️ a11y, ✅ bugfix, 🐝 bug

#1762 feat(summarytable): add bold th option
  packages/summary-table-react/integration/__image_snapshots__/SummaryTable  SummaryTable should work #0.png
  packages/summary-table-react/mocks/index.ts
  packages/summary-table-react/src/SummaryTable.tsx
  packages/summary-table/summary-table.scss
Labels: 💼 needed by client

#1747 docs(core): document layout-spacing--xs
  packages/core/documentation/Spacing/Spacing.tsx
Labels: 📚 documentation

#1711 Create SECURITY.md
  SECURITY.md
Labels: 👷‍♂️ CI and deployment, 💬 discussion, 📚 documentation, 🚇 infrastructure

#1771 docs(tone): add read more section
  portal/src/texts/profile/tone.mdx
Labels: 👽portal, 📚 documentation

#1772 chore(portal): update gatsby
  portal/package.json
  yarn.lock
Labels: 👽portal
