Repository fremtind/jokul, pull requests merged in 2021-10, with the labels that each got.

#2324 fix: oppdater valideringsreglene for chassisnummer
  packages/validators-util/src/isValidChassisnummer/isValidChassisnummer.test.ts
  packages/validators-util/src/isValidChassisnummer/isValidChassisnummer.ts
Labels: ✅ bugfix

#2320 Delete dependabot.yml
  .github/dependabot.yml
Labels: 👷‍♂️ CI and deployment

#2323 chore: begrens hvilke filer som starter en GitHub Action
  .github/workflows/cypress.yml
  .github/workflows/portal.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  lerna.json
Labels: 👋 help wanted, 👷‍♂️ CI and deployment

#2326 chore(ci): ikke feile release-flyt når det ikke er endringer
  .github/workflows/release.yml
Labels: 👷‍♂️ CI and deployment

#2302 feat: støtte for loader i Button uten at layout endres til block, `a.jkl-button`
  doc-utils/ComponentExample.tsx
  doc-utils/ExampleBase.tsx
  doc-utils/ResponsiveExample.tsx
  doc-utils/index.ts
  packages/button-react/documentation/Anchors.tsx
  packages/button-react/documentation/Primary.tsx
  packages/button-react/documentation/Secondary.tsx
  packages/button-react/documentation/Tertiary.tsx
  packages/button-react/documentation/buttons.mdx
  packages/button-react/documentation/index.tsx
  packages/button-react/integration/__image_snapshots__/Buttons  dark mode  render correctly #0.png
  packages/button-react/integration/__image_snapshots__/Buttons  dark mode  render correctly #1.png
  packages/button-react/integration/__image_snapshots__/Buttons  dark mode  render correctly #2.png
  packages/button-react/integration/__image_snapshots__/Buttons  dark mode  render correctly #3.png
  packages/button-react/integration/__image_snapshots__/Buttons  dark mode  render correctly #4.png
  packages/button-react/integration/__image_snapshots__/Buttons  dark mode  render correctly #5.png
  packages/button-react/integration/__image_snapshots__/Buttons  dark mode  render correctly #6.png
  packages/button-react/integration/__image_snapshots__/Buttons  dark mode  render correctly #7.png
  packages/button-react/integration/__image_snapshots__/Buttons  dark mode  render correctly #8.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #0.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #1.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #2.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #3.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #4.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #5.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #6.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #7.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #8.png
  packages/button-react/src/Button.test.tsx
  packages/button-react/src/Button.tsx
  packages/button/button.scss
  packages/loader-react/README.md
  packages/loader-react/documentation/Example.tsx
  packages/loader-react/documentation/Loader.mdx
  packages/loader-react/documentation/styles.scss
  packages/loader-react/src/Loader.test.tsx
  packages/loader-react/src/Loader.tsx
  packages/loader-react/src/index.ts
  packages/loader/loader.scss
  portal/src/components/Typography/FormatProvider.tsx
Labels: 💼 needed by client, ✅ bugfix
