Repository fremtind/jokul, pull requests merged in 2021-11, with the labels that each got.

#2430 Bedre visning av React API på komponentsidene i portalen
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #1.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #3.png
  packages/accordion/accordion.scss
  packages/table-react/src/DataTable.tsx
  packages/table-react/src/Table.tsx
  packages/table-react/src/TableBody.tsx
  packages/table-react/src/TableCaption.tsx
  packages/table-react/src/TableCell.tsx
  packages/table-react/src/TableColumn.tsx
  packages/table-react/src/TableColumnGroup.tsx
  packages/table-react/src/TableFooter.tsx
  packages/table-react/src/TableHead.tsx
  packages/table-react/src/TableHeader.tsx
  packages/table-react/src/TableRow.tsx
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/components/Layout/DocPageLayout.tsx
  portal/src/components/Layout/components/APIDocumentation/APIDocumentation.scss
  portal/src/components/Layout/components/APIDocumentation/APIDocumentation.tsx
  portal/src/components/Layout/components/APIDocumentation/utils.tsx
Labels: 📚 documentation, ✨ enhancement, 👽portal

#2433 chore: strukturer om workflow ved pull request
  .github/workflows/cypress.yml
  .github/workflows/pull_request.yml
  .github/workflows/test.yml
Labels: 👷‍♂️ CI and deployment

#2431 docs: legg inn et hint om jkl-klassen
  packages/webfonts/README.md
Labels: 📚 documentation

#2418 feature: tags
  doc-utils/ExampleBase.tsx
  package.json
  packages/core/documentation/Spacing/Spacing.tsx
  packages/table-react/documentation/Table.mdx
  packages/tag-react/README.md
  packages/tag-react/documentation/Tag.mdx
  packages/tag-react/documentation/TagExample.tsx
  packages/tag-react/documentation/index.html
  packages/tag-react/documentation/index.tsx
  packages/tag-react/integration/__image_snapshots__/Tag  dark mode  renders correctly #0.png
  packages/tag-react/integration/__image_snapshots__/Tag  renders correctly #0.png
  packages/tag-react/integration/tag.spec.js
  packages/tag-react/package.json
  packages/tag-react/src/Tag.tsx
  packages/tag-react/src/index.ts
  packages/tag-react/tsconfig-for-declarations.json
  packages/tag/README.md
  packages/tag/gulpfile.js
  packages/tag/package.json
  packages/tag/tag.scss
  portal/gatsby-browser.js
  portal/src/components/DoDontExample/DoDontExample.scss
  portal/src/components/DoDontExample/DoDontExample.tsx
  portal/src/components/Documentation/Spacing/SpacingTable.scss
  portal/src/components/Documentation/Spacing/SpacingTable.tsx
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/components/Layout/DocPageLayout.tsx
  portal/src/texts/profile/animation.mdx
  portal/src/texts/profile/spacing.mdx
  yarn.lock
Labels: ✨ enhancement

#2439 refactor: upgrade to parcel2
  .gitignore
  .parcelrc
  doc-utils/CodeBlock/CodeBlock.scss
  package.json
  packages/accordion-react/documentation/index.html
  packages/alert-message-react/documentation/index.html
  packages/button-react/documentation/index.html
  packages/card-react/documentation/index.html
  packages/checkbox-react/documentation/index.html
  packages/constants-util/documentation/index.html
  packages/content-toggle-react/documentation/index.html
  packages/cookie-consent-react/documentation/index.html
  packages/datepicker-react/documentation/index.html
  packages/description-list-react/documentation/index.html
  packages/feedback-react/documentation/index.html
  packages/field-group-react/documentation/index.html
  packages/hamburger-react/documentation/index.html
  packages/icon-button-react/documentation/index.html
  packages/icons-react/documentation/index.html
  packages/image-react/documentation/index.html
  packages/list-react/documentation/index.html
  packages/loader-react/documentation/index.html
  packages/logo-react/documentation/index.html
  packages/message-box-react/documentation/index.html
  packages/progress-bar-react/documentation/index.html
  packages/radio-button-react/documentation/index.html
  packages/react-hooks/documentation/index.html
  packages/select-react/documentation/index.html
  packages/slider-react/documentation/index.html
  packages/summary-table-react/documentation/index.html
  packages/table-react/documentation/index.html
  packages/tag-react/documentation/index.html
  packages/text-input-react/documentation/index.html
  packages/toggle-switch-react/documentation/index.html
  packages/validators-util/documentation/index.html
  yarn.lock
Labels: ✨ enhancement

#2416 docs(blogg): legg til blogpost om refaktorering av spacing
  portal/src/texts/blog/migrer-spacing.mdx
Labels: 📚 documentation

#2444 chore: workflow hardening
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/external-contributions-sync.yml
  .github/workflows/portal.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/weekly-tasks.yml
  CODEOWNERS
Labels: 👷‍♂️ CI and deployment

#2441 feature: tabs
  packages/tabs-react/README.md
  packages/tabs-react/documentation/Tabs.mdx
  packages/tabs-react/documentation/TabsExample.tsx
  packages/tabs-react/documentation/index.html
  packages/tabs-react/documentation/index.tsx
  packages/tabs-react/integration/__image_snapshots__/Tabs  dark mode  renders correctly #0.png
  packages/tabs-react/integration/__image_snapshots__/Tabs  renders correctly #0.png
  packages/tabs-react/integration/tabs.spec.js
  packages/tabs-react/package.json
  packages/tabs-react/src/Tab.tsx
  packages/tabs-react/src/TabList.tsx
  packages/tabs-react/src/TabPanel.tsx
  packages/tabs-react/src/Tabs.test.tsx
  packages/tabs-react/src/Tabs.tsx
  packages/tabs-react/src/index.ts
  packages/tabs-react/tsconfig-for-declarations.json
  packages/tabs/README.md
  packages/tabs/gulpfile.js
  packages/tabs/package.json
  packages/tabs/tabs.scss
  yarn.lock
Labels: ✨ enhancement, 💼 needed by client, 👽portal, 📐 design→dev

#2443 feat: legg til bedre støtte for react-hook-form i radioknappene
  .github/workflows/codeql-analysis.yml
  .github/workflows/pull_request.yml
  doc-utils/ExampleBase.tsx
  packages/alert-message-react/documentation/AlertMessage.mdx
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #0.png
  packages/core/src/components/Label.tsx
  packages/core/src/components/Link.tsx
  packages/core/src/components/NavLink.tsx
  packages/core/src/components/ScreenReaderOnly.tsx
  packages/core/src/components/SupportLabel.tsx
  packages/core/src/components/index.ts
  packages/core/src/index.ts
  packages/feedback-react/src/questions/RadioQuestion.tsx
  packages/field-group-react/src/FieldGroup.tsx
  packages/field-group-react/src/index.ts
  packages/radio-button-react/MIGRATION.md
  packages/radio-button-react/README.md
  packages/radio-button-react/documentation/RadioButton.mdx
  packages/radio-button-react/documentation/RadioButtonExample.tsx
  packages/radio-button-react/documentation/RadioButtonInputRequiredExample.tsx
  packages/radio-button-react/documentation/RadioButtonPreselectedExample.tsx
  packages/radio-button-react/documentation/index.tsx
  packages/radio-button-react/integration/__image_snapshots__/Radio button  dark mode  renders correctly #0.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  dark mode  renders correctly #1.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  dark mode  renders correctly #2.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  dark mode  renders correctly #3.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  dark mode  renders correctly #4.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #0.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #1.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #2.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #3.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #4.png
  packages/radio-button-react/integration/radio-button.spec.js
  packages/radio-button-react/src/RadioButton.tsx
  packages/radio-button-react/src/RadioButtonGroup.test.tsx
  packages/radio-button-react/src/RadioButtonGroup.tsx
  packages/radio-button-react/src/RadioButtonOption.test.tsx
  packages/radio-button-react/src/RadioButtonOption.tsx
  packages/radio-button-react/src/RadioButtons.test.tsx
  packages/radio-button-react/src/RadioButtons.tsx
  packages/radio-button-react/src/index.ts
  packages/radio-button-react/src/radioGroupContext.tsx
  portal/src/components/Examples/SimpleForm/AddressForm.tsx
  portal/src/components/Examples/SimpleForm/HouseDetailsForm.tsx
  portal/src/components/Sidebar/SidebarMenu.tsx
  portal/src/texts/getstarted/buildWithJkl.mdx
Labels: ✨ enhancement, ✅ bugfix

#2486 chore: stopp versjonering av portalen
  lerna.json
Labels: 👷‍♂️ CI and deployment

#2490 docs: bloggpost om dropping av IE
  portal/src/texts/blog/bye-ie.mdx
  portal/src/texts/blog/iePlussJokulErlikSant/iePlussJokulErlikSant.mdx
  portal/src/texts/blog/jokul-dropper-ie-stotte.mdx
Labels: 📖 blog

#2497 fix: gjenopprett bilder i Bildebruk
  portal/gatsby-config.js
Labels: ✅ bugfix, 👽portal

#2499 fix: legg til støtte for react-hook-form i select-react
  packages/accordion-react/src/Accordion.test.tsx
  packages/select-react/documentation/SelectExample.tsx
  packages/select-react/src/NativeSelect.test.tsx
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
  packages/select-react/src/index.ts
  portal/src/components/Examples/SimpleForm/AddressForm.tsx
Labels: ✅ bugfix

#2489 docs: konsolider skjemaeksempel
  packages/core/documentation/Link.mdx
  portal/gatsby-config.js
  portal/src/components/DoDontExample/DoDontExample.scss
  portal/src/components/DoDontExample/DoDontExample.tsx
  portal/src/components/Examples/SimpleForm.tsx
  portal/src/components/Examples/SimpleForm/AddressForm.scss
  portal/src/components/Examples/SimpleForm/AddressForm.tsx
  portal/src/components/Examples/SimpleForm/HouseDetailsForm.tsx
  portal/src/components/Examples/SimpleForm/PersonalInfoForm.tsx
  portal/src/components/PortalImg/PortalImg.tsx
  portal/src/components/PortalImg/style.scss
  portal/src/components/Typography/FormatProvider.tsx
  portal/src/components/form-components/FormComponentsExample.tsx
  portal/src/components/form-components/index.ts
  portal/src/components/form-field-anatomy/FormFieldAnatomy.tsx
  portal/src/components/form-field-anatomy/form-field-anatomy.scss
  portal/src/components/form-field-anatomy/index.ts
  portal/src/components/portal-image/AnimatedImage.tsx
  portal/src/components/portal-image/BlurredBackground.tsx
  portal/src/components/portal-image/PortalImage.tsx
  portal/src/components/portal-image/index.ts
  portal/src/components/portal-image/portal-image.scss
  portal/src/texts/getstarted/Examples.mdx
  portal/src/texts/profile/formdesign.mdx
  portal/src/texts/profile/skjemadesign.mdx
  portal/static/assets/documentation/link/link-tekst.svg
  portal/static/assets/documentation/link/navlink-meny.svg
  portal/static/assets/documentation/link/navlink-tekst-feil.svg
  portal/static/assets/documentation/skjemadesign/skjemadesign_hund.png
Labels: 📚 documentation

#2509 fix: unngå å kutte toppen av Å i Chrome
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #4.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #5.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #6.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #8.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #9.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #4.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #5.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #6.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #8.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #9.png
  packages/text-input-react/integration/text-input.spec.js
  packages/text-input/text-input.scss
Labels: ✅ bugfix

#2511 Komponentdok for Link og NavLink
  packages/core/documentation/Link.mdx
  packages/core/documentation/Link/LinkExample.tsx
  packages/core/documentation/Link/NavLinkExample.tsx
  portal/gatsby-node.js
Labels: 📚 documentation

#2507 Komponentdok for Alert message
  packages/alert-message-react/documentation/AlertMessage.mdx
  packages/alert-message-react/documentation/AlertMessageExample.tsx
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  dark mode  renders correctly #0.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  dark mode  renders correctly #1.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  dark mode  renders correctly #2.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  dark mode  renders correctly #3.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  dark mode  renders correctly #4.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #0.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #1.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #2.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #3.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #4.png
  packages/alert-message-react/src/AlertMessage.tsx
Labels: 📚 documentation

#2517 fix: rett feil linjehøyde for kompakte tekstfelt
  packages/text-input/text-input.scss
Labels: ✅ bugfix

#2522 docs: oppdater forsidekort
  portal/src/pages/index.tsx
Labels: 👽portal

#2525 Komponentdok for Message box
  packages/alert-message-react/documentation/AlertMessageExample.tsx
  packages/message-box-react/documentation/MessageBox.mdx
  packages/message-box-react/documentation/MessageBoxExample.tsx
  packages/message-box-react/src/MessageBox.tsx
  packages/message-box-react/src/index.ts
Labels: 📚 documentation

#2536 feat: bruk Tag i uu-guiden i portalen
  portal/src/components/UU/UU.tsx
  portal/src/components/UU/uu.scss
Labels: ✨ enhancement

#2532 fix: animasjonsfix for Safari
  packages/checkbox/checkbox.scss
  packages/datepicker/datepicker.scss
  packages/radio-button/radio-button.scss
  packages/select/select.scss
  packages/text-input/text-input.scss
Labels: ✅ bugfix

#2528 chore: endre mulige assignees i weekly
  .github/workflows/weekly-tasks.yml
Labels: 🚇 infrastructure

#2535 Dokumenter minstekrav til dokumentasjon
  doc-utils/ComponentExample.tsx
  doc-utils/ExampleBase.tsx
  doc-utils/index.ts
  portal/src/texts/getstarted/GettingStartedDev.mdx
  portal/src/texts/getstarted/gettingStartedDesign.mdx
  scripts/scaffold/templates/component-react/README.md
  scripts/scaffold/templates/component-react/documentation/Scaffold.mdx
  scripts/scaffold/templates/component-react/documentation/ScaffoldExample.tsx
  scripts/scaffold/templates/component/README.md
Labels: 📚 documentation

#2514 docs: legg til kodeeksempler med mer for textinput
  packages/text-input-react/documentation/TextAreaExample.tsx
  packages/text-input-react/documentation/TextInput.mdx
  packages/text-input-react/documentation/TextInputExample.tsx
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #0.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #1.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #2.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #3.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #4.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #5.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #6.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #7.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #8.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  dark mode  renders correctly #9.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #0.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #1.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #2.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #3.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #4.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #5.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #6.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #7.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #8.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #9.png
  packages/text-input-react/integration/text-input.spec.js
Labels: 📚 documentation

#2519 chore: oppdater avhengigheter
  package.json
  packages/accordion-react/package.json
  packages/alert-message-react/package.json
  packages/button-react/package.json
  packages/button-react/src/Button.tsx
  packages/card-react/package.json
  packages/checkbox-react/package.json
  packages/checkbox-react/src/Checkbox.tsx
  packages/constants-util/package.json
  packages/content-toggle-react/package.json
  packages/cookie-consent-react/package.json
  packages/core/package.json
  packages/datepicker-react/package.json
  packages/datepicker-react/src/DatePicker.tsx
  packages/description-list-react/package.json
  packages/feedback-react/package.json
  packages/field-group-react/package.json
  packages/hamburger-react/package.json
  packages/icon-button-react/package.json
  packages/icons-react/package.json
  packages/image-react/package.json
  packages/list-react/package.json
  packages/list-react/src/List.tsx
  packages/loader-react/package.json
  packages/logo-react/package.json
  packages/message-box-react/package.json
  packages/progress-bar-react/package.json
  packages/radio-button-react/package.json
  packages/react-hooks/package.json
  packages/select-react/package.json
  packages/select-react/src/Select.tsx
  packages/summary-table-react/package.json
  packages/table-react/package.json
  packages/tabs-react/package.json
  packages/tag-react/package.json
  packages/text-input-react/package.json
  packages/toggle-switch-react/package.json
  packages/validators-util/package.json
  patches/gatsby+4.1.0.patch
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies

#1924 docs: update roles
  portal/src/texts/universell-utforming/Roller.mdx
Labels: ♿️ a11y, 💬 discussion

#2539 docs: utvid Bidra til designsystemet
  portal/src/components/portal-image/PortalImage.tsx
  portal/src/components/portal-image/portal-image.scss
  portal/src/texts/getstarted/processGuide.mdx
  portal/static/assets/kom-i-gang/bidra-discussions.png
  portal/static/assets/kom-i-gang/bidra-figma-components.png
  portal/static/assets/kom-i-gang/bidra-forslag.png
Labels: 📚 documentation

#2543 chore: oppdater avhengigheter uke 47
  package.json
  packages/cookie-consent-react/package.json
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies

#2540 Feedback med smileys
  packages/feedback-react/documentation/FeedbackExample.tsx
  packages/feedback-react/integration/__image_snapshots__/Feedback  dark mode renders correctly #0.png
  packages/feedback-react/integration/__image_snapshots__/Feedback  dark mode renders correctly #1.png
  packages/feedback-react/integration/__image_snapshots__/Feedback  renders correctly #0.png
  packages/feedback-react/integration/__image_snapshots__/Feedback  renders correctly #1.png
  packages/feedback-react/src/Feedback.tsx
  packages/feedback-react/src/main-question/MainQuestion.tsx
  packages/feedback-react/src/presets.tsx
  packages/feedback-react/src/questions/SliderQuestion.tsx
  packages/feedback-react/src/questions/SmileyQuestion.tsx
  packages/feedback-react/src/questions/index.ts
  packages/feedback-react/src/questions/smileyUtils.tsx
  packages/feedback-react/src/types.ts
  packages/feedback-react/src/utils.ts
  packages/feedback/feedback.scss
Labels: ✨ enhancement

#2538 Komponentdok for Slider
  packages/slider-react/documentation/Slider.mdx
  packages/slider-react/documentation/SliderExample.tsx
  packages/slider-react/integration/__image_snapshots__/Slider  dark mode  renders correctly #0.png
  packages/slider-react/integration/__image_snapshots__/Slider  dark mode  renders correctly #1.png
  packages/slider-react/integration/__image_snapshots__/Slider  renders correctly #0.png
  packages/slider-react/integration/__image_snapshots__/Slider  renders correctly #1.png
  packages/slider-react/integration/slider.spec.js
  packages/slider-react/src/Slider.test.tsx
  packages/slider-react/src/Slider.tsx
  packages/text-input-react/documentation/TextInput.mdx
  packages/toggle-switch-react/documentation/ToggleSwitch.mdx
  packages/toggle-switch-react/documentation/ToggleSwitchExample.tsx
  packages/toggle-switch-react/documentation/index.tsx
  portal/src/components/DoDontExample/DoDontExample.scss
Labels: 📚 documentation

#2544 Forny Kom i gang som designer og sett Kom i gang først i toppmenyen
  portal/src/components/Header/Header.tsx
  portal/src/components/portal-image/PortalImage.tsx
  portal/src/texts/getstarted/gettingStartedDesign.mdx
  portal/static/assets/kom-i-gang/design-branchdiagram.png
  portal/static/assets/kom-i-gang/design-figma-components.png
  portal/static/assets/kom-i-gang/design-variants.png
Labels: 📚 documentation, 👽portal

#2551 chore: update dependencies
  package.json
  packages/cookie-consent-react/package.json
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies

#2554 feat: eksporter proptypes fra hooks, fiks diamantfarge i dark mode
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useBrowserPreferences/useBrowserPreferences.tsx
  packages/react-hooks/src/useProgressiveImg/useProgressiveImg.tsx
  packages/react-hooks/src/useReducedMotion/useReducedMotion.tsx
  packages/react-hooks/src/useScrollIntoView/useScrollIntoView.tsx
  portal/src/components/PrincipleDiamond/PrincipleDiamond.tsx
  portal/src/pages/index.tsx
Labels: ✨ enhancement, ✅ bugfix
