Repository fremtind/jokul, pull requests merged in 2021-03, with the labels that each got.

#1872 fix(text-input): add better keyboard focus to action
  packages/text-input/text-input.scss
Labels: ♿️ a11y, ✅ bugfix

#1871 Legg til mulighet for å lukke AlertMessage
  packages/alert-message-react/documentation/AlertMessage.mdx
  packages/alert-message-react/documentation/AlertMessageExample.tsx
  packages/alert-message-react/documentation/index.tsx
  packages/alert-message-react/package.json
  packages/alert-message-react/src/AlertMessage.tsx
  packages/alert-message/alert-message.scss
Labels: ✨ enhancement, 💼 needed by client

#1868 docs(blog): february update
  portal/src/texts/blog/updates/february2021.mdx
Labels: 👽portal, 📖 blog, 📚 documentation

#1867 feat(portal): update to gatsby 3
  .gitignore
  portal/gatsby-config.js
  portal/package.json
  portal/src/components/Documentation/Picture/HeroImage.tsx
  portal/src/components/Documentation/Picture/PictureBox.tsx
  yarn.lock
Labels: 👽portal, 🔗 dependencies, 🚇 infrastructure

#1847 docs(portal): legg til play og pause-knapper på videoeksempler i animasjon
  portal/src/components/ExampleVideo/ExampleVideo.scss
  portal/src/components/ExampleVideo/ExampleVideo.tsx
  portal/src/components/ExampleVideo/F_Pause_Knapp.svg
  portal/src/components/ExampleVideo/F_Play_Knapp.svg
  portal/src/components/ExampleVideo/index.ts
  portal/src/components/Typography/FormatProvider.tsx
  portal/src/texts/profile/animation.mdx
Labels: ✨ enhancement, 👽portal, 📚 documentation, 🧸 good first issue

#1879 Legg til mulighet for variabel etikett for tilbakemelding i Feedback
  packages/feedback-react/documentation/Feedback.mdx
  packages/feedback-react/src/BaseFeedback.tsx
  packages/feedback-react/src/Feedback.tsx
  packages/feedback-react/src/FeedbackValues.tsx
  packages/feedback-react/src/SimplifiedFeedback.tsx
  packages/feedback-react/src/Smiley.tsx
  packages/feedback/feedback.scss
Labels: ✨ enhancement, 💼 needed by client

#1882 fix(datepicker): better handling of invalid dates
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker-react/src/dateFunctions.test.ts
  packages/datepicker-react/src/dateFunctions.ts
Labels: ✅ bugfix, 💼 needed by client

#1775 docs(uu): add a11y role info
  portal/src/components/Typography/FormatProvider.tsx
  portal/src/components/Typography/Typography.tsx
  portal/src/components/Typography/index.ts
  portal/src/components/Typography/typography.scss
  portal/src/texts/universell-utforming/Roller.mdx
Labels: ♿️ a11y, 👽portal, 💬 discussion, 📚 documentation

#1890 docs(uu): update uu roles for test
  portal/src/texts/universell-utforming/Roller.mdx
Labels: ♿️ a11y, 👽portal, 📚 documentation

#1895 feat(icons): add title and desc as props
  packages/icons-react/src/animated-icons/HamburgerCloseAnimated.tsx
  packages/icons-react/src/animated-icons/PlusRemoveAnimated.tsx
  packages/icons-react/src/icons/ArrowDown.tsx
  packages/icons-react/src/icons/ArrowLeft.tsx
  packages/icons-react/src/icons/ArrowRight.tsx
  packages/icons-react/src/icons/ArrowUp.tsx
  packages/icons-react/src/icons/ArrowUpRight.tsx
  packages/icons-react/src/icons/Calendar.tsx
  packages/icons-react/src/icons/CheckMark.tsx
  packages/icons-react/src/icons/Close.tsx
  packages/icons-react/src/icons/Error.tsx
  packages/icons-react/src/icons/Hamburger.tsx
  packages/icons-react/src/icons/Info.tsx
  packages/icons-react/src/icons/Plus.tsx
  packages/icons-react/src/icons/Search.tsx
  packages/icons-react/src/icons/Success.tsx
  packages/icons-react/src/icons/Warning.tsx
  packages/icons-react/src/icons/types.ts
  packages/icons/animated-icons.scss
Labels: ✅ bugfix
