Repository fremtind/jokul, pull requests merged in 2021-09, with the labels that each got.

#2161 chore(ci): change dependabot frequency to weekly
  .github/dependabot.yml
Labels: 👷‍♂️ CI and deployment, 🔗 dependencies

#2172 Update CodeSandbox CI
  .codesandbox/ci.json
Labels: 👷‍♂️ CI and deployment

#2168 chore(deps): update dependencies
  package.json
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies

#2210 chore(sass): make sass build compatible with Node 16
  gulpfile.js
  package.json
  yarn.lock
Labels: 👷‍♂️ CI and deployment

#2213 Inline radio button questions in Feedback when less than three options
  packages/feedback-react/integration/__image_snapshots__/Feedback  dark mode  renders correctly #0.png
  packages/feedback-react/integration/__image_snapshots__/Feedback  dark mode  renders correctly #1.png
  packages/feedback-react/integration/__image_snapshots__/Feedback  renders correctly #0.png
  packages/feedback-react/integration/__image_snapshots__/Feedback  renders correctly #1.png
  packages/feedback-react/src/questions/RadioQuestion.tsx
Labels: ✅ bugfix

#2214 fix: add back className prop to Feedback
  packages/feedback-react/src/Feedback.tsx
Labels: ✅ bugfix

#2215 fix: add missing dependencies
  packages/feedback-react/package.json
Labels: ✅ bugfix, 🔗 dependencies

#2197 chore: fjern regelendringer som ikke lenger trengs
  packages/select-react/src/Select.test.tsx
Labels: 👷‍♂️ CI and deployment

#2224 chore: publish packages to GitHub Packages in parallel
  .github/workflows/release.yml
  package.json
Labels: 👷‍♂️ CI and deployment

#2225 fix(ci): split invalid workflow step
  .github/workflows/release.yml
Labels: 👷‍♂️ CI and deployment, ✅ bugfix

#2222 chore: bruk GitHub API og CLI for å gjøre branch sync
  .github/workflows/external-contributions-sync.yml
Labels: 👷‍♂️ CI and deployment

#2239 chore: bruk en cache for Gatsby-bygget
  .github/workflows/portal.yml
Labels: 👷‍♂️ CI and deployment

#2227 fix: rett en typefeil i Hamburger sin onClick, chore: refactor menykoden i portalen for å fikse animasjonen på desktop
  packages/hamburger-react/src/Hamburger.tsx
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/components/FullScreenMenu.scss
  portal/src/components/Header/components/FullScreenMenu.tsx
  portal/src/components/Header/components/FullScreenMenuItem.tsx
  portal/src/components/Header/components/MainMenu.scss
  portal/src/components/Header/components/MainMenu.tsx
  portal/src/components/Header/components/MainMenuLink.tsx
  portal/src/components/Header/components/mainMenuContext.tsx
  portal/src/contexts/fullscreenMenuContext.tsx
Labels: ✅ bugfix

#2243 Fiks duplikat melding i Feedback
  packages/feedback-react/src/main-question/MainQuestion.tsx
Labels: ✅ bugfix

#2260 chore(ci): use PAT for publishing to github packages
  .github/workflows/release.yml
Labels: 👷‍♂️ CI and deployment, ✅ bugfix

#2242 Bedre semantikk og tilgjengelighet i Hamburger
  packages/hamburger-react/README.md
  packages/hamburger-react/src/Hamburger.test.tsx
  packages/hamburger-react/src/Hamburger.tsx
  packages/hamburger/hamburger.scss
Labels: ♿️ a11y

#2263 Oppdater lenke til hjemmeside i package.json-filene
  packages/accordion-react/package.json
  packages/accordion/package.json
  packages/alert-message-react/package.json
  packages/browserslist-config-jkl/package.json
  packages/button-react/package.json
  packages/button/package.json
  packages/card-react/package.json
  packages/card/package.json
  packages/checkbox-react/package.json
  packages/checkbox/package.json
  packages/content-toggle-react/package.json
  packages/content-toggle/package.json
  packages/cookie-consent-react/package.json
  packages/cookie-consent/package.json
  packages/core/package.json
  packages/datepicker-react/package.json
  packages/datepicker/package.json
  packages/description-list-react/package.json
  packages/description-list/package.json
  packages/feedback-react/package.json
  packages/feedback/package.json
  packages/field-group-react/package.json
  packages/field-group/package.json
  packages/hamburger-react/package.json
  packages/hamburger/package.json
  packages/icon-button-react/package.json
  packages/icon-button/package.json
  packages/icons/package.json
  packages/image-react/package.json
  packages/image/package.json
  packages/list/package.json
  packages/loader-react/package.json
  packages/loader/package.json
  packages/logo-react/package.json
  packages/logo/package.json
  packages/message-box-react/package.json
  packages/progress-bar-react/package.json
  packages/progress-bar/package.json
  packages/radio-button-react/package.json
  packages/radio-button/package.json
  packages/react-hooks/package.json
  packages/select-react/package.json
  packages/select/package.json
  packages/summary-table-react/package.json
  packages/summary-table/package.json
  packages/table/package.json
  packages/text-input/package.json
  packages/toggle-switch-react/package.json
  packages/toggle-switch/package.json
  packages/validators-util/package.json
  packages/webfonts/package.json
Labels: 📚 documentation

#2264 chore: add repository field to package.json
  .github/workflows/release.yml
  packages/image/package.json
Labels: 👷‍♂️ CI and deployment, ✅ bugfix

#2267 Juster skriftstørrelse i portalmenyene
  portal/src/components/Header/components/FullScreenMenuItem.scss
  portal/src/components/Header/components/MainMenu.scss
Labels: ✅ bugfix, 👽portal

#2275 Endre tidspunktet dependabot sjekker etter nye oppdateringer
  .github/dependabot.yml
Labels: 🔗 dependencies

#2266 feat: use cursor:pointer style on select
  packages/select/select.scss
  portal/src/texts/blog/cursor-pointer.mdx
Labels: 📚 documentation, ✨ enhancement, 👋 help wanted, 👽portal, 📖 blog, Design pattern

#2305 fix: venstrejuster menyknapper, lukk ved klikk på Jøkul
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/components/FullScreenMenuItem.scss
Labels: ✅ bugfix, 👽portal
