Repository fremtind/jokul, pull requests merged in 2021-04, with the labels that each got.

#1953 fix(portal): add focus state and trap to portalimg
  portal/package.json
  portal/src/components/PortalImg/PortalImg.tsx
  portal/src/components/PortalImg/style.scss
  yarn.lock
Labels: ♿️ a11y, 👽portal

#1960 Avvisbar melding
  cypress/support/index.js
  packages/message-box-react/documentation/Example.tsx
  packages/message-box-react/documentation/MessageBox.mdx
  packages/message-box-react/documentation/index.tsx
  packages/message-box-react/integration/__image_snapshots__/MessageBox  is dismissable #0.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  is dismissable #1.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #0.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #1.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #2.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #3.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #4.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #5.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #6.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #7.png
  packages/message-box-react/integration/message-box.spec.js
  packages/message-box-react/package.json
  packages/message-box-react/src/MessageBox.tsx
  packages/message-box/message-box.scss
Labels: ✨ enhancement, 💼 needed by client

#1949 fix(datepicker): use better clickOutside target for closing calendar
  packages/datepicker-react/src/DatePicker.tsx
  packages/text-input/text-input.scss
Labels: ✅ bugfix
