Repository fremtind/jokul, pull requests merged in 2021-05, with the labels that each got.

#1954 fix(portal): add skip sidemenu invisible link
  portal/src/components/ContentLink/ContentLink.tsx
  portal/src/components/ContentLink/style.scss
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/header.scss
  portal/src/components/Sidebar/Sidebar.tsx
Labels: ♿️ a11y, 👽portal

#1991 fix(@fremtind/jkl-feedback-react): fixes a11y-issues on the feedback …
  packages/feedback-react/documentation/Example.tsx
  packages/feedback-react/integration/__image_snapshots__/Feedback  Feedback should work #0.png
  packages/feedback-react/integration/__image_snapshots__/Feedback  Feedback should work #1.png
  packages/feedback-react/src/BaseFeedback.tsx
  packages/feedback-react/src/Feedback.test.tsx
  packages/feedback-react/src/Feedback.tsx
  packages/feedback-react/src/FeedbackValues.tsx
  packages/feedback-react/src/SimplifiedFeedback.tsx
  packages/feedback-react/src/Smiley.tsx
  packages/feedback-react/src/types.ts
  packages/feedback-react/src/utils.test.tsx
  packages/feedback-react/src/utils.ts
Labels: ✅ bugfix

#1995 fix: restore keyboard focus indication
  packages/feedback/feedback.scss
Labels: ♿️ a11y, ✅ bugfix

#1981 docs: remove progress bar documentation from portal
  packages/progress-bar-react/documentation/ProgessBar.mdx_
Labels: 👽portal, 📚 documentation
