Repository fremtind/jokul, pull requests merged in 2021-02, with the labels that each got.

#1784 fix(button): fix rerender issue
  packages/button-react/src/BaseButton.tsx
  packages/button-react/src/Button.test.tsx
  packages/button-react/src/Button.tsx
  packages/button-react/src/index.ts
  packages/button-react/src/types.ts
Labels: ✅ bugfix

#1765 docs(portal): add animation documentation to the portal
  portal/src/texts/profile/animation.mdx
Labels: Design pattern, 👽portal, 📚 documentation, 🧸 good first issue

#1807 feat(core): add keyboard mixin
  packages/core/documentation/Example.tsx
  packages/core/documentation/Mixins/Keyboard.tsx
  packages/core/documentation/Mixins/keyboard.scss
  packages/core/documentation/mixins.mdx
  packages/core/mixins/_all.scss
  packages/core/mixins/_navigation.scss
Labels: ✨ enhancement, 💼 needed by client

#1825 docs(blog): add january post
  portal/src/texts/blog/updates/january2021.mdx
Labels: 👽portal, 📖 blog, 📚 documentation

#1828 fix(list): fix display of icon list in IE
  packages/list-react/src/ListItem.tsx
  packages/list/list.scss
Labels: ✅ bugfix

#1830 docs(spacing): document layout-spacing-xs under profile
  portal/src/components/Documentation/Spacing/SpacingTable.tsx
Labels: ✅ bugfix, 📚 documentation

#1839 fix(list): set className in correct position
  packages/list-react/src/List.test.tsx
  packages/list-react/src/ListItem.tsx
Labels: 🐝 bug

#1829 docs(portal): juster tekst i animasjonsdokumentasjon
  portal/src/texts/profile/animation.mdx
Labels: 📚 documentation
