Repository fremtind/jokul, pull requests merged in 2022-03, with the labels that each got.

#2765 feat: legg til støtte for landkode i telefonnummer
  packages/formatters-util/documentation/FormattersExample.tsx
  packages/formatters-util/src/telefonnummer/formatTelefonnummer.test.ts
  packages/formatters-util/src/telefonnummer/formatTelefonnummer.ts
Labels: ✨ enhancement

#2771 fix: intern tilstand oppdateres selv med onBlur
  packages/text-input-react/src/TextArea.tsx
Labels: ✅ bugfix

#2778 chore: oppdater avhengigheter uke 9
  .github/workflows/codeql-analysis.yml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_close.yml
  .github/workflows/release.yml
  .nvmrc
  package.json
  packages/cookie-consent-react/package.json
  packages/formatters-util/package.json
  packages/message-box-react/package.json
  packages/stylelint-config-jkl/package.json
  packages/tabs-react/package.json
  portal/gatsby-browser.tsx
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies

#2773 docs: oppdater Bygg med Jøkul med blant annet råd om browserslist
  jest/setupTests.ts
  package.json
  packages/browserslist-config-jkl/README.md
  packages/stylelint-config-jkl/README.md
  portal/src/texts/getstarted/buildWithJkl.mdx
  portal/src/texts/getstarted/byggMedJøkul.mdx
  yarn.lock
Labels: 📚 documentation

#2781 fix: et par tilgjengelighetsbugs og fjerner en CSS-selector som ikke fungerte som forventet
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #0.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #1.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #2.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #3.png
  packages/core/links.scss
  packages/core/mixins/_index.scss
  packages/core/mixins/_ornaments.scss
  packages/list/list.scss
  packages/select/select.scss
  packages/stylelint-config-jkl/examples/styles.scss
  packages/text-input-react/src/TextArea.test.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input/autosuggest.scss
  packages/text-input/text-input.scss
  portal/src/components/Delaytext/delay-text.scss
  portal/src/components/Layout/components/GitHubLinks.scss
Labels: ✅ bugfix, ♿️ a11y

#2782 feat: make parseNumber less naive and including
  packages/formatters-util/src/util/parseNumber.test.ts
  packages/formatters-util/src/util/parseNumber.ts
  tsconfig.json
Labels: ✨ enhancement

#2775 feat: added optional arrows to buttons
  packages/button-react/documentation/ButtonExample.tsx
  packages/button-react/documentation/Primary.tsx
  packages/button-react/documentation/Secondary.tsx
  packages/button-react/documentation/Tertiary.tsx
  packages/button-react/documentation/buttons.mdx
  packages/button-react/documentation/index.tsx
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #0.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #1.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #10.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #11.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #12.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #13.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #14.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #15.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #16.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #17.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #18.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #19.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #2.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #20.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #21.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #22.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #23.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #3.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #4.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #5.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #6.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #7.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #8.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly #9.png
  packages/button-react/package.json
  packages/button-react/src/Button.tsx
  packages/button-react/src/types.ts
Labels: ✨ enhancement

#2785 fix: krasjende release-workflow
  .github/workflows/release.yml
  portal/package.json
Labels: 🚇 infrastructure

#2786 fix: makes header and content props of SummaryTableRow more flexible
  packages/summary-table-react/documentation/SummaryTableExample.tsx
  packages/summary-table-react/mocks/index.tsx
  packages/summary-table-react/src/SummaryTableRow.tsx
Labels: ♿️ a11y

#2788 chore: dropp CodeQL på ci skip release
  .github/workflows/codeql-analysis.yml
  .github/workflows/pull_request.yml
Labels: 🚇 infrastructure

#2790 fix: annonser endring av kalenderåret i datovelger
  packages/datepicker-react/src/Calendar.tsx
Labels: ✅ bugfix, ♿️ a11y

#2792 feat: add support for a callback when open state changes
  packages/table-react/documentation/ExpandableTableExample.tsx
  packages/table-react/documentation/index.tsx
  packages/table-react/src/ExpandableTableRow.tsx
  packages/table-react/src/ExpandableTableRowController.tsx
  packages/table/table-cell.scss
Labels: 🐝 bug, 📚 documentation, ✨ enhancement, ✅ bugfix

#2793 feat: fix animation timing for expandable tablerow
  packages/table/table-row.scss
Labels: 📐 design→dev

#2795 fix: bruk riktig React-interface som base for typer
  packages/card-react/src/NavCard.tsx
  packages/checkbox-react/src/Checkbox.tsx
  packages/field-group-react/src/FieldGroup.tsx
  packages/icon-button-react/src/IconButton.tsx
  packages/table-react/src/DataTable.tsx
  packages/table-react/src/Table.tsx
  packages/table-react/src/TableColumn.tsx
  packages/table-react/src/TableColumnGroup.tsx
  packages/table-react/src/TableHeader.tsx
  packages/tag-react/src/Tag.tsx
  packages/tag-react/src/index.ts
  packages/text-input-react/src/TextInput.tsx
Labels: ✅ bugfix

#2794 DX-forbedringer for `useAnimatedHeight` og `motion`, bugfix `Checkbox`
  doc-utils/ExampleBase.tsx
  package.json
  packages/accordion/accordion.scss
  packages/button/button.scss
  packages/card-react/documentation/TaskCardExample.tsx
  packages/card/card.scss
  packages/checkbox-react/src/Checkbox.tsx
  packages/checkbox/checkbox.scss
  packages/core/links.scss
  packages/core/mixins/_motion.scss
  packages/core/src/index.ts
  packages/core/src/utils/breakpoints.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/motion.ts
  packages/datepicker/datepicker.scss
  packages/expand-button/expand-button.scss
  packages/feedback/feedback.scss
  packages/radio-button/radio-button.scss
  packages/react-hooks/MIGRATION.md
  packages/react-hooks/documentation/AnimationExample.tsx
  packages/react-hooks/documentation/ReducedMotionExample.tsx
  packages/react-hooks/documentation/animation.mdx
  packages/react-hooks/documentation/index.scss
  packages/react-hooks/documentation/index.tsx
  packages/react-hooks/documentation/reducedMotion.mdx
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/mediaQueryUtils.ts
  packages/react-hooks/src/useAnimatedHeight.tsx
  packages/react-hooks/src/useBrowserPreferences/useBrowserPreferences.tsx
  packages/react-hooks/src/useReducedMotion/useReducedMotion.tsx
  packages/react-hooks/src/useScreen/useScreen.ts
  packages/select-react/src/Select.tsx
  packages/select/select.scss
  packages/text-input/text-input.scss
  packages/toggle-switch/toggle-switch.scss
  portal/src/components/Header/components/MainMenu.scss
  portal/src/components/Layout/Layout.scss
Labels: ✨ enhancement, ✅ bugfix

#2789 docs: bloggpost om dagens infrastruktur
  portal/src/texts/blog/infrastrukturen-til-jokul-2022.mdx
Labels: 📖 blog

#2731 Mer performant useScreen
  doc-utils/ExampleBase.tsx
  package.json
  packages/accordion/accordion.scss
  packages/button/button.scss
  packages/card-react/documentation/TaskCardExample.tsx
  packages/card/card.scss
  packages/checkbox-react/src/Checkbox.tsx
  packages/checkbox/checkbox.scss
  packages/core/links.scss
  packages/core/mixins/_motion.scss
  packages/core/src/index.ts
  packages/core/src/utils/breakpoints.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/motion.ts
  packages/datepicker/datepicker.scss
  packages/expand-button/expand-button.scss
  packages/feedback/feedback.scss
  packages/radio-button/radio-button.scss
  packages/react-hooks/MIGRATION.md
  packages/react-hooks/documentation/AnimationExample.tsx
  packages/react-hooks/documentation/ReducedMotionExample.tsx
  packages/react-hooks/documentation/ScreenExample.tsx
  packages/react-hooks/documentation/animation.mdx
  packages/react-hooks/documentation/index.scss
  packages/react-hooks/documentation/index.tsx
  packages/react-hooks/documentation/reducedMotion.mdx
  packages/react-hooks/documentation/screen.mdx
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/mediaQueryUtils.ts
  packages/react-hooks/src/useAnimatedHeight.tsx
  packages/react-hooks/src/useBrowserPreferences/useBrowserPreferences.tsx
  packages/react-hooks/src/useElementDimensions.ts
  packages/react-hooks/src/useReducedMotion/useReducedMotion.tsx
  packages/react-hooks/src/useScreen/state.ts
  packages/react-hooks/src/useScreen/useScreen.ts
  packages/select-react/src/Select.tsx
  packages/select/select.scss
  packages/text-input/text-input.scss
  packages/toggle-switch/toggle-switch.scss
  portal/integration/portal-smoketest.spec.js
  portal/src/components/Header/components/MainMenu.scss
  portal/src/components/Layout/Layout.scss
Labels: ✨ enhancement

#2800 feat: make expand row more appealing on mobile
  packages/table/table-row.scss
Labels: ✨ enhancement

#2803 feat: add support for left/right aligning table header
  packages/table-react/documentation/Table.mdx
  packages/table-react/src/TableHeader.tsx
  packages/table/table-header.scss
Labels: ✨ enhancement

#2802 docs: flere visuelle eksempler på bruk av komponenter og farger
  packages/accordion-react/documentation/accordion.mdx
  packages/alert-message-react/documentation/AlertMessage.mdx
  packages/button-react/documentation/buttons.mdx
  packages/select-react/documentation/Select.mdx
  packages/tabs-react/documentation/Tabs.mdx
  packages/toggle-switch-react/documentation/ToggleSwitch.mdx
  portal/src/components/DoDontExample/DoDontExample.scss
  portal/src/texts/profile/farger.mdx
  portal/static/assets/documentation/accordion/accordion-betaling-faktura.png
  portal/static/assets/documentation/accordion/accordion-fakturaarkiv.gif
  portal/static/assets/documentation/alert-message/alert-error.png
  portal/static/assets/documentation/alert-message/alert-info.png
  portal/static/assets/documentation/button/button-changing-priority.gif
  portal/static/assets/documentation/button/button-primary-loading.gif
  portal/static/assets/documentation/farger/bsf_forside.png
  portal/static/assets/documentation/farger/liv_detaljside.png
  portal/static/assets/documentation/select/select-dekningsvelger.png
  portal/static/assets/documentation/tab/tab-animation.gif
  portal/static/assets/documentation/tab/tab-one.png
  portal/static/assets/documentation/tab/tab-two.png
  portal/static/assets/documentation/toggle/toggle-dekninger.png
  portal/static/assets/documentation/toggle/toggle-priser.png
Labels: 📚 documentation

#2811 docs: bloggpost for mars 2022
  portal/src/texts/blog/updates/mars-2022.mdx
  portal/static/assets/blog/updates/mars-2022/ekspander-rad.gif
Labels: 📖 blog
