Repository fremtind/jokul, pull requests merged in 2022-09, with the labels that each got.

#3037 Lekegrind
  portal/package.json
  portal/src/components/interactive-code/LiveEditor.tsx
  portal/src/components/interactive-code/LiveError.tsx
  portal/src/components/interactive-code/LivePreview.tsx
  portal/src/components/interactive-code/LiveProvider.tsx
  portal/src/layout/header/useNavigationLinks.tsx
  portal/src/pages/kom-i-gang/lekegrind.tsx
  yarn.lock
Labels: 👽portal

#3048 chore: oppdateringer uke 35
  .nvmrc
  package.json
  packages/breadcrumb-react/src/Breadcrumb.tsx
  packages/breadcrumb-react/src/BreadcrumbItem.tsx
  packages/formatters-util/src/util/registerWithMask.ts
  packages/stylelint-config-jkl/package.json
  packages/table-react/src/ExpandableTableRow.tsx
  packages/tabs-react/src/TabList.tsx
  packages/tabs-react/src/Tabs.tsx
  patches/@types+jest+29.0.0.patch
  patches/gatsby+4.22.0.patch
  patches/graphql-compose+9.0.8.patch
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies

#3056 docs: forenkle issue-templates
  .github/ISSUE_TEMPLATE/feilmelding.md
  .github/ISSUE_TEMPLATE/figma-biblioteket.md
  .github/ISSUE_TEMPLATE/funksjonalitets-nske.md
  .github/ISSUE_TEMPLATE/ny-j-kul-oppgave.md
  .github/ISSUE_TEMPLATE/rapporter-en-bug.md
Labels: ✨ enhancement

#3055 chore: action for å legge til prosjektet automatisk
  .github/workflows/issue_triage.yml
Labels: 👷‍♂️ CI & infra

#3081 fix: rydd opp noen etternølere etter compact reboot
  packages/core/README.md
  packages/core/styles/_headings.scss
  packages/loader/loader.scss
Labels: 🐝 bug, 📚 dokumentasjon

#3051 chore: rydd vekk alt unntatt preview-mapper ved deploy
  package.json
Labels: 👷‍♂️ CI & infra

#3082 feat: support fallback items on non-matching search
  packages/text-input-react/documentation/AutosuggestExample.tsx
  packages/text-input-react/src/autosuggest/Autosuggest.test.tsx
  packages/text-input-react/src/autosuggest/Autosuggest.tsx
  packages/text-input-react/src/autosuggest/BaseAutosuggest.tsx
  packages/text-input-react/src/autosuggest/Menu.tsx
  packages/text-input/_autosuggest.scss
Labels: ✨ enhancement

#3089 chore: bytt om på hvordan pakken publiseres for å unngå rename-mishaps
  packages/core/.npmignore
  packages/core/package.json
Labels: 👷‍♂️ CI & infra

#3092 chore: legg til verktøy for å automatisk linke opp hele Jøkul
  package.json
  portal/src/texts/guider/hvordanTesteLokaleEndringerEgetProsjekt.mdx
  scripts/linker.js
Labels: 📚 dokumentasjon, 👷‍♂️ CI & infra

#3110 fix: bruk riktig padding på compact Select med søk
  packages/select/select.scss
Labels: 🐝 bug, 🎨 visuell endring

#3112 fjern 'jøkul' fra "Ny oppgave" issue template
  .github/ISSUE_TEMPLATE/ny-oppgave.md
Labels: ✨ enhancement, 👷‍♂️ CI & infra

#3113 chore: oppgraderinger
  package.json
  patches/@jest+environment+29.0.3.patch
  patches/@types+jest+29.0.0.patch
  patches/gatsby+4.23.0.patch
  patches/graphql-compose+9.0.9.patch
  yarn.lock
Labels: 🔗 dependencies

#3109 fix: forenkle arvede html-attributter for å unngå feil
  packages/footer-react/src/Footer.tsx
  packages/table-react/src/DataTable.tsx
  packages/table-react/src/Table.tsx
  packages/table-react/src/TableBody.tsx
  packages/table-react/src/TableCaption.tsx
  packages/table-react/src/TableCell.tsx
  packages/table-react/src/TableColumn.tsx
  packages/table-react/src/TableColumnGroup.tsx
  packages/table-react/src/TableFooter.tsx
  packages/table-react/src/TableHead.tsx
  packages/table-react/src/TableHeader.tsx
  packages/table-react/src/TableRow.tsx
  packages/tag-react/src/Tag.tsx
  portal/src/components/Typography/Typography.tsx
Labels: 🐝 bug

#3103 Fokushåndtering i Select
  packages/select-react/documentation/SelectExample.tsx
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #10.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #11.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #4.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #5.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #6.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #7.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #8.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #9.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #2.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #3.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #4.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #5.png
  packages/select-react/src/Select.tsx
  packages/select/select.scss
Labels: ✨ enhancement, 🎨 visuell endring

#3107 fix: sett riktig størrelse på valgene i compact select
  packages/select/select.scss
  packages/text-input-react/src/autosuggest/BaseAutosuggest.tsx
  packages/text-input/_autosuggest.scss
  packages/text-input/text-input.scss
Labels: 🎨 visuell endring

#3123 Update figma-biblioteket.md
  .github/ISSUE_TEMPLATE/figma-biblioteket.md
Labels: 📚 dokumentasjon

#3124 docs: legg til slug per komponenteksempel så vi kan linke rett til dem
  doc-utils/ExampleBase.tsx
  doc-utils/component-example.scss
Labels: ✨ enhancement, 👽portal

#3127 Feat: forhindre for lange lister i Select
  packages/select-react/documentation/SelectExample.tsx
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #0.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #1.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #10.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #11.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #2.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #3.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #4.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #5.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #6.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #7.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #8.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #9.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #0.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #1.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #2.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #3.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #4.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #5.png
  packages/select-react/src/Select.tsx
  packages/select/select.scss
Labels: ✨ enhancement, 🎨 visuell endring

#3053 feat(tooltip): add tooltip
  packages/tooltip-react/README.md
  packages/tooltip-react/documentation/DevClient.tsx
  packages/tooltip-react/documentation/DevServer.tsx
  packages/tooltip-react/documentation/Example.tsx
  packages/tooltip-react/documentation/Tooltip.mdx
  packages/tooltip-react/documentation/TooltipExample.tsx
  packages/tooltip-react/esbuild.dev.mjs
  packages/tooltip-react/esbuild.prod.mjs
  packages/tooltip-react/integration/__image_snapshots__/Tooltip  renders correctly #0.png
  packages/tooltip-react/integration/__image_snapshots__/Tooltip  renders correctly #1.png
  packages/tooltip-react/integration/__image_snapshots__/Tooltip  renders correctly #2.png
  packages/tooltip-react/integration/__image_snapshots__/Tooltip  renders correctly #3.png
  packages/tooltip-react/integration/__image_snapshots__/Tooltip  renders correctly in high contrast #0.png
  packages/tooltip-react/integration/__image_snapshots__/Tooltip  renders correctly in high contrast #1.png
  packages/tooltip-react/integration/tooltip.spec.js
  packages/tooltip-react/package.json
  packages/tooltip-react/src/Tooltip.test.tsx
  packages/tooltip-react/src/Tooltip.tsx
  packages/tooltip-react/src/index.ts
  packages/tooltip-react/tsconfig-for-declarations.json
  packages/tooltip/README.md
  packages/tooltip/_index.scss
  packages/tooltip/gulpfile.js
  packages/tooltip/package.json
  packages/tooltip/tooltip.scss
  portal/package.json
  portal/static/assets/documentation/tooltip/tooltip-mndpris.png
  yarn.lock
Labels: ✨ enhancement

#3141 fix: sørg for at hopp til innhold funker som forventet
  portal/src/layout/Layout.scss
  portal/src/layout/MainContent.tsx
  portal/src/pages/404.tsx
  portal/src/pages/blog.tsx
  portal/src/pages/eksempler/feilmelding-500-med-melding.tsx
  portal/src/pages/eksempler/feilmelding-500.tsx
  portal/src/pages/eksempler/skjemavalidering.tsx
  portal/src/pages/index.tsx
  portal/src/pages/kom-i-gang/deg-og-jokul.tsx
  portal/src/pages/kom-i-gang/design.tsx
  portal/src/pages/kom-i-gang/hjelp.tsx
  portal/src/pages/kom-i-gang/introduksjon.tsx
  portal/src/pages/kom-i-gang/jobb-med-teamet.tsx
  portal/src/pages/kom-i-gang/lekegrind.tsx
  portal/src/pages/kom-i-gang/slik-er-jokul-satt-sammen.tsx
  portal/src/pages/kom-i-gang/utvikling.tsx
  portal/src/templates/DocPageLayout.jsx
Labels: 🐝 bug, 👽portal

#3145 Oppdater ukens avhengigheter
  packages/tooltip-react/package.json
  packages/tooltip-react/src/Tooltip.tsx
  patches/@jest+environment+29.1.1.patch
  patches/gatsby+4.24.0.patch
  yarn.lock
Labels: 🔗 dependencies

#3154 docs: bloggpost for september
  portal/src/components/TypograhyTable/typography-table.scss
  portal/src/texts/blog/updates/september-2022.mdx
  portal/static/assets/blog/updates/september-2022/autosuggest-ingen-treff-valg.gif
  portal/static/assets/blog/updates/september-2022/select-scroll-hint.gif
Labels: 📚 dokumentasjon, 👽portal
