Repository fremtind/jokul, pull requests merged in 2022-02, with the labels that each got.

#2695 fix: fiks aligmnent av navlinks piler utenfor flex
  packages/core/documentation/Link/NavLinkExample.tsx
  packages/core/integration/__image_snapshots__/Link  renders correctly #0.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #1.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #10.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #11.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #2.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #3.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #4.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #5.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #6.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #7.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #8.png
  packages/core/integration/__image_snapshots__/Link  renders correctly #9.png
  packages/core/integration/link.spec.js
  packages/core/links.scss
Labels: ✅ bugfix, 🔬 tests

#2635 fix: redesign feilstate for skjemafelter
  packages/checkbox-react/documentation/Checkbox.mdx
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #0.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #4.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #5.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #6.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #7.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #8.png
  packages/checkbox-react/integration/__image_snapshots__/Checkbox  renders correctly #9.png
  packages/checkbox/checkbox.scss
  packages/core/labels.scss
  packages/core/src/components/SupportLabel.tsx
  packages/datepicker-react/documentation/Datepicker.mdx
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  renders correctly #6.png
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  renders correctly #7.png
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  renders correctly #8.png
  packages/datepicker-react/integration/__image_snapshots__/DatePicker  renders correctly #9.png
  packages/field-group-react/integration/__image_snapshots__/FieldGroup  renders correctly #0.png
  packages/field-group-react/integration/__image_snapshots__/FieldGroup  renders correctly #1.png
  packages/field-group-react/integration/__image_snapshots__/FieldGroup  renders correctly #2.png
  packages/field-group-react/integration/__image_snapshots__/FieldGroup  renders correctly #3.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #4.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #5.png
  packages/message-box-react/src/FormErrorMessageBox.tsx
  packages/message-box-react/src/MessageBox.tsx
  packages/radio-button-react/documentation/RadioButton.mdx
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #0.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #1.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #2.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #3.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #4.png
  packages/radio-button-react/integration/__image_snapshots__/Radio button  renders correctly #5.png
  packages/radio-button/radio-button.scss
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #2.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #3.png
  packages/select/select.scss
  packages/text-input-react/documentation/TextInput.mdx
  packages/text-input-react/documentation/TextInputExample.tsx
  packages/text-input-react/documentation/index.tsx
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #14.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #15.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #18.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #19.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #2.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #3.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #6.png
  packages/text-input-react/integration/__image_snapshots__/TextInput  renders correctly #7.png
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextInput.tsx
  packages/text-input-react/src/autosuggest/BaseAutosuggest.tsx
  packages/text-input/autosuggest.scss
  packages/text-input/text-input.scss
  portal/src/components/form-field-anatomy/FormFieldAnatomy.tsx
  portal/src/components/form-field-anatomy/form-field-anatomy.scss
  portal/src/texts/profile/layout.mdx
  portal/src/texts/profile/logo.mdx
  portal/src/texts/profile/skjemadesign.mdx
  portal/src/texts/profile/spacing.mdx
  portal/src/texts/profile/typography.mdx
Labels: 📚 documentation, ✅ bugfix, ♿️ a11y

#2652 Implementer utvidbar tabell-rad
  packages/expand-button-react/src/ExpandButton.tsx
  packages/expand-button/expand-button.scss
  packages/react-hooks/documentation/UseIdExample.tsx
  packages/react-hooks/documentation/index.tsx
  packages/react-hooks/documentation/useId.mdx
  packages/react-hooks/package.json
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useId.ts
  packages/table-react/documentation/ExpandableTableExample.tsx
  packages/table-react/documentation/Table.mdx
  packages/table-react/documentation/index.tsx
  packages/table-react/package.json
  packages/table-react/src/ExpandableTableRow.tsx
  packages/table-react/src/ExpandableTableRowController.tsx
  packages/table-react/src/Table.tsx
  packages/table-react/src/index.ts
  packages/table-react/src/tableContext.tsx
  packages/table/table-cell.scss
  packages/table/table-row.scss
Labels: ✨ enhancement, 🔗 dependencies

#2700 fiks skrivefeil i lesbarhet
  portal/src/texts/uu/kontrast.mdx
Labels: 📚 documentation, ♿️ a11y, ⚙️ automerge

#2701 PoC: forhåndsvisning av brancher med GitHub Pages
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_close.yml
  package.json
  portal/gatsby-config.js
  portal/src/pages/hello-world.tsx
Labels: 🚇 infrastructure, 👽portal

#2680 fix: skjul ikoner fra skjermlesere
  packages/icons-react/src/IconFactory.tsx
  packages/icons-react/src/icons/ArrowDown.tsx
  packages/icons-react/src/icons/ArrowLeft.tsx
  packages/icons-react/src/icons/ArrowRight.tsx
  packages/icons-react/src/icons/ArrowUp.tsx
  packages/icons-react/src/icons/ArrowUpRight.tsx
  packages/icons-react/src/icons/Calendar.tsx
  packages/icons-react/src/icons/CheckMark.tsx
  packages/icons-react/src/icons/Close.tsx
  packages/icons-react/src/icons/Error.tsx
  packages/icons-react/src/icons/Hamburger.tsx
  packages/icons-react/src/icons/Info.tsx
  packages/icons-react/src/icons/Plus.tsx
  packages/icons-react/src/icons/Search.tsx
  packages/icons-react/src/icons/Success.tsx
  packages/icons-react/src/icons/Warning.tsx
  packages/icons-react/src/icons/types.ts
Labels: ✅ bugfix, ♿️ a11y

#2702 Ny og forbedret bildekomponent
  doc-utils/CodeBlock/CodeBlock.scss
  doc-utils/ExampleBase.tsx
  doc-utils/dev-example.scss
  packages/image-react/MIGRATION.md
  packages/image-react/documentation/ImageExample.tsx
  packages/image-react/documentation/assets/defaultSize.jpg
  packages/image-react/documentation/assets/dog-1200.jpg
  packages/image-react/documentation/assets/dog-1920.jpg
  packages/image-react/documentation/assets/dog-400.jpg
  packages/image-react/documentation/assets/dog-800.jpg
  packages/image-react/documentation/image.mdx
  packages/image-react/documentation/index.tsx
  packages/image-react/documentation/internal/props.ts
  packages/image-react/documentation/style.scss
  packages/image-react/package.json
  packages/image-react/src/Image-empty.test.tsx
  packages/image-react/src/Image.test.tsx
  packages/image-react/src/Image.tsx
  packages/image-react/src/useImageLoadingStatus.ts
  packages/image/image.scss
  packages/image/package.json
  packages/react-hooks/documentation/useElementDimensions/ElementDimensionsExample.tsx
  packages/react-hooks/documentation/useElementDimensions/element-dimensions-example.scss
  packages/react-hooks/documentation/useElementDimensions/elementDimensions.mdx
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useElementDimensions.ts
Labels: ✨ enhancement

#2726 fix(deps): bruk riktig versjon av stilpakken
  packages/image-react/package.json
Labels: ✅ bugfix

#2734 chore: patch commitizen til vårt bruk
  patches/cz-lerna-changelog+2.0.3.patch
Labels: 🚇 infrastructure

#2738 feat: legg til valg om å skru av suffixgenerering, oppgrader avhengigheter
  doc-utils/ExampleBase.tsx
  package.json
  packages/accordion-react/package.json
  packages/alert-message-react/package.json
  packages/breadcrumb-react/package.json
  packages/button-react/package.json
  packages/card-react/package.json
  packages/checkbox-react/package.json
  packages/checkbox-react/src/Checkbox.tsx
  packages/constants-util/package.json
  packages/content-toggle-react/package.json
  packages/cookie-consent-react/package.json
  packages/core/package.json
  packages/datepicker-react/package.json
  packages/datepicker-react/src/internal/hooks.ts
  packages/description-list-react/package.json
  packages/expand-button-react/package.json
  packages/feedback-react/package.json
  packages/field-group-react/package.json
  packages/hamburger-react/package.json
  packages/icon-button-react/package.json
  packages/icons-react/package.json
  packages/image-react/package.json
  packages/list-react/package.json
  packages/loader-react/package.json
  packages/logo-react/package.json
  packages/logo-react/src/Logo.tsx
  packages/logo-react/src/LogoStamp.tsx
  packages/message-box-react/package.json
  packages/radio-button-react/package.json
  packages/radio-button-react/src/RadioButton.tsx
  packages/react-hooks/package.json
  packages/react-hooks/src/useId.ts
  packages/select-react/package.json
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.tsx
  packages/stylelint-config-jkl/package.json
  packages/summary-table-react/package.json
  packages/table-react/package.json
  packages/tabs-react/package.json
  packages/tag-react/package.json
  packages/text-input-react/package.json
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextInput.tsx
  packages/text-input-react/src/autosuggest/BaseAutosuggest.tsx
  packages/toggle-switch-react/package.json
  packages/toggle-switch-react/src/ToggleSlider.tsx
  packages/validators-util/package.json
  patches/graphql-compose+9.0.7.patch
  portal/package.json
  scripts/scaffold/templates/component-react/package.json
  yarn.lock
Labels: ✨ enhancement, 🔗 dependencies

#2736 Fiks litt bugs i Select og legg til custom filter
  packages/select-react/documentation/SelectExample.tsx
  packages/select-react/integration/select.spec.js
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
Labels: ✨ enhancement, ✅ bugfix

#2742 Legg til forceCompact i MessageBox og oppdater onboarding-docs
  doc-utils/index.ts
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #2.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #4.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #5.png
  packages/alert-message-react/src/common/MessageIcon.tsx
  packages/message-box-react/documentation/FormErrorMessageBoxExample.tsx
  packages/message-box-react/documentation/MessageBox.mdx
  packages/message-box-react/documentation/MessageBoxExample.tsx
  packages/message-box-react/documentation/index.tsx
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #0.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #1.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #2.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #3.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #4.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #5.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #6.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #7.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #8.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #9.png
  packages/message-box-react/src/MessageBox.tsx
  packages/message-box/message-box.scss
  portal/src/components/Typography/FormatProvider.tsx
  portal/src/texts/getstarted/GettingStartedDev.mdx
  portal/src/texts/getstarted/PullRequestGuide.mdx
  portal/src/texts/getstarted/utvikleForJøkul.mdx
Labels: 📚 documentation, ✨ enhancement

#2743 feat: la brukere overstyre komponenten brukt av NavCard
  packages/card-react/src/NavCard.tsx
  portal/src/pages/blog.scss
  portal/src/pages/blog.tsx
Labels: ✨ enhancement, 👽portal

#2655 WIP: formateringsfunksjoner
  packages/formatters-util/README.md
  packages/formatters-util/documentation/Formatters.mdx
  packages/formatters-util/documentation/FormattersExample.tsx
  packages/formatters-util/documentation/InputMaskExample.tsx
  packages/formatters-util/documentation/index.html
  packages/formatters-util/documentation/index.tsx
  packages/formatters-util/documentation/input-mask-example.scss
  packages/formatters-util/package.json
  packages/formatters-util/src/avstand/formatAvstand.test.ts
  packages/formatters-util/src/avstand/formatAvstand.ts
  packages/formatters-util/src/fodselsnummer/formatFodselsnummer.test.ts
  packages/formatters-util/src/fodselsnummer/formatFodselsnummer.ts
  packages/formatters-util/src/index.ts
  packages/formatters-util/src/kontonummer/formatKontonummer.test.ts
  packages/formatters-util/src/kontonummer/formatKontonummer.ts
  packages/formatters-util/src/kortnummer/formatKortnummer.test.ts
  packages/formatters-util/src/kortnummer/formatKortnummer.ts
  packages/formatters-util/src/telefonnummer/formatTelefonnummer.test.ts
  packages/formatters-util/src/telefonnummer/formatTelefonnummer.ts
  packages/formatters-util/src/util/formatNumber.ts
  packages/formatters-util/src/util/parseNumber.test.ts
  packages/formatters-util/src/util/parseNumber.ts
  packages/formatters-util/src/util/registerWithMask.ts
  packages/formatters-util/src/valuta/formatValuta.test.ts
  packages/formatters-util/src/valuta/formatValuta.ts
  packages/formatters-util/tsconfig-for-declarations.json
  packages/validators-util/src/isValidKortnummer/isValidKortnummer.test.ts
  packages/validators-util/src/isValidKortnummer/isValidKortnummer.ts
Labels: ✨ enhancement, 💬 discussion

#2744 docs: forfrem bloggpost om blogging til en side, legg til RSS, og gjør menyknapper til lenker
  portal/gatsby-config.js
  portal/integration/portal-smoketest.spec.js
  portal/package.json
  portal/src/components/Header/components/FullScreenMenuItem.tsx
  portal/src/components/Header/components/MainMenu.scss
  portal/src/components/Header/components/MainMenu.tsx
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/pages/blog.tsx
  portal/src/texts/getstarted/hvordanBlogge.mdx
  yarn.lock
Labels: 📚 documentation, ✨ enhancement

#2745 feat: legg til bedre hjelpefunksjoner for masker i skjemafelter
  packages/formatters-util/documentation/InputMaskExample.tsx
  packages/formatters-util/src/index.ts
  packages/formatters-util/src/util/registerWithMask.ts
Labels: ✨ enhancement

#2748 chore: patch gulp-sass for å bruke sass-embedded
  gulpfile.js
  package.json
  packages/formatters-util/package.json
  patches/gulp-sass+5.1.0.patch
  yarn.lock
Labels: 🔗 dependencies

#2749 fix: klikk mellom menypunkter fjerner ikke innholdet lenger
  portal/src/components/Header/components/MainMenu.tsx
  portal/src/components/Header/components/MainMenuItem.tsx
Labels: 👽portal

#2754 docs: bloggpost for februar
  portal/src/texts/blog/updates/februar-2022.mdx
  portal/static/assets/blog/updates/februar-2022/form-error-state.gif
  portal/static/assets/blog/updates/februar-2022/form-label-variants.gif
  portal/static/assets/blog/updates/februar-2022/input-masks.gif
Labels: 📖 blog

#2756 legg til infomrasjon om select
  portal/src/texts/blog/updates/februar-2022.mdx
Labels: 📚 documentation, 👽portal
