Repository fremtind/jokul, pull requests merged in 2022-04, with the labels that each got.

#2840 docs: fiks småfeil etter ny onboarding
  portal/src/pages/index.scss
  portal/src/pages/kom-i-gang/deg-og-jokul.tsx
  portal/src/pages/kom-i-gang/hjelp.tsx
  portal/src/pages/kom-i-gang/utvikling.tsx
Labels: 👽portal

#2846 docs: bloggpost for april 2022
  portal/src/texts/blog/updates/april-2022.mdx
  portal/static/assets/blog/updates/april-2022/failing-high-contrast.png
  portal/static/assets/blog/updates/april-2022/working-high-contrast.png
Labels: 📖 blog

#2847 feat: uniformt API for å skjule labels visuelt, RadioButton tar children
  packages/button-react/documentation/buttons.mdx
  packages/checkbox-react/documentation/Checkbox.mdx
  packages/core/src/components/Label.spec.tsx
  packages/datepicker-react/documentation/Datepicker.mdx
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/DatePicker.tsx
  packages/field-group-react/documentation/FieldGroup.mdx
  packages/field-group-react/src/FieldGroup.test.tsx
  packages/field-group-react/src/FieldGroup.tsx
  packages/radio-button-react/documentation/RadioButton.mdx
  packages/radio-button-react/documentation/RadioButtonExample.tsx
  packages/radio-button-react/documentation/RadioButtonInputRequiredExample.tsx
  packages/radio-button-react/documentation/RadioButtonPreselectedExample.tsx
  packages/radio-button-react/src/RadioButton.tsx
  packages/radio-button-react/src/RadioButtonGroup.test.tsx
  packages/select-react/documentation/Select.mdx
  packages/select-react/src/NativeSelect.test.tsx
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
  packages/text-input-react/documentation/TextInput.mdx
  packages/text-input-react/src/TextArea.test.tsx
  packages/text-input-react/src/TextArea.tsx
  packages/text-input-react/src/TextInput.test.tsx
  packages/text-input-react/src/TextInput.tsx
  packages/text-input-react/src/autosuggest/Autosuggest.test.tsx
  packages/text-input-react/src/autosuggest/Autosuggest.tsx
  packages/text-input-react/src/autosuggest/BaseAutosuggest.tsx
  portal/src/texts/blog/updates/april-2022.mdx
Labels: 📚 documentation, ✨ enhancement

#2848 fix: fiks en bug hvor verdi 0 fikk formatValuta til å feile
  packages/formatters-util/src/valuta/formatValuta.test.ts
  packages/formatters-util/src/valuta/formatValuta.ts
Labels: ✅ bugfix
