Repository fremtind/jokul, pull requests merged in 2022-12, with the labels that each got.

#3292 fix: forbedre brukeropplevelse for tooltip
  packages/tooltip-react/package.json
  packages/tooltip-react/src/Tooltip.test.tsx
  packages/tooltip-react/src/Tooltip.tsx
  pnpm-lock.yaml
Labels: ♿️ universell utforming

#3299 docs: bloggpost for november
  .github/workflows/release_portal.yml
  portal/src/texts/blog/updates/nobember-2022.mdx
  portal/static/assets/blog/updates/november-2022/nov-dynamisk-spacing.png
  portal/static/assets/blog/updates/november-2022/nov-radiobutton-prototype-dark.png
  portal/static/assets/blog/updates/november-2022/nov-radiobutton-prototype.png
Labels: 📚 dokumentasjon

#3296 fix: use box shadow as border so it stays with the sticky content
  packages/table/_table-head.scss
Labels: ✨ enhancement, 🎨 visuell endring

#3306 fix: legg til luft over headingen
  packages/table/_table-head.scss
Labels: 🎨 visuell endring

#3249 feat(core): dynamisk spacing etter skjermstørrelse
  packages/core/documentation/Spacing/Spacing.tsx
  packages/core/documentation/spacing.mdx
  packages/core/jkl/_index.scss
  packages/core/jkl/_spacing.scss
  packages/core/styles/_spacing.scss
  portal/src/components/APIDocumentation/APIDocumentation.tsx
  portal/src/components/Documentation/Icons/index.tsx
  portal/src/components/Documentation/Picture/HeroImage.tsx
  portal/src/components/Experimental/Experimental.tsx
  portal/src/components/TypograhyTable/TypographyTable.tsx
  portal/src/components/form-components/FormComponentsExample.tsx
  portal/src/components/form-field-anatomy/FormFieldAnatomy.tsx
  portal/src/layout/header/BlogPageHeader.tsx
  portal/src/layout/portal-footer/PortalFooter.tsx
  portal/src/pages/404.tsx
  portal/src/pages/blog.tsx
  portal/src/pages/demoer/feilmelding-500-med-melding.tsx
  portal/src/pages/demoer/feilmelding-500.tsx
  portal/src/pages/demoer/skjemavalidering.tsx
  portal/src/pages/kom-i-gang/hjelp.tsx
  portal/src/pages/kom-i-gang/jobb-med-teamet.tsx
  portal/src/pages/kom-i-gang/lekegrind.tsx
  portal/src/texts/blog/dynamisk-spacing/ConversionTable.tsx
  portal/src/texts/blog/dynamisk-spacing/dynamisk-spacing.mdx
  portal/src/texts/blog/iePlussJokulErlikSant/iePlussJokulErlikSant.mdx
  portal/src/texts/blog/updates/mars-2022.mdx
  portal/src/texts/guider/hvordanEndreJokul.mdx
  portal/src/texts/profile/farger.mdx
  portal/src/texts/profile/skjemadesign.mdx
  portal/src/texts/profile/spacing.mdx
  portal/src/texts/universell-utforming/ResponsivtDesign.mdx
Labels: ✨ enhancement

#3301 feat: kbar
  packages/toggle-switch/_toggle-slider.scss
  pnpm-lock.yaml
  portal/gatsby-shared-providers.tsx
  portal/package.json
  portal/src/components/seo/Seo.tsx
  portal/src/layout/KBar.tsx
  portal/src/layout/Layout.tsx
  portal/src/layout/header/useNavigationLinks.tsx
  portal/src/layout/kbar.scss
  portal/src/layout/portal-footer/PortalFooter.tsx
  portal/src/texts/guider/hvordanBrukeJokulNyttProsjekt.mdx
  portal/src/texts/guider/hvordanKode.mdx
  portal/src/texts/guider/hvordanTesteLokaleEndringerEgetProsjekt.mdx
  portal/src/texts/guider/react-stilguide.mdx
  portal/src/texts/guider/sass-stilguide.mdx
  portal/src/texts/profile/animation.mdx
  portal/src/texts/profile/principle.mdx
  portal/src/texts/profile/skjemadesign.mdx
  portal/src/texts/profile/tone.mdx
  portal/src/texts/profile/typography.mdx
  portal/src/texts/universell-utforming/ResponsivtDesign.mdx
  portal/src/texts/universell-utforming/ScreenReader.mdx
  portal/src/texts/universell-utforming/TestGuideKeyboard.mdx
Labels: ✨ enhancement, 👽portal

#3284 feat: faner som scroller og komponenter som kan brukes der hver fane er en route
  packages/tabs-react/documentation/Example.tsx
  packages/tabs-react/documentation/Tabs.mdx
  packages/tabs-react/documentation/TabsExample.tsx
  packages/tabs-react/src/NavTab.tsx
  packages/tabs-react/src/NavTabs.tsx
  packages/tabs-react/src/TabList.tsx
  packages/tabs-react/src/index.ts
  packages/tabs/tabs.scss
  portal/src/components/portal-image/portal-image.scss
  portal/static/assets/documentation/tab/tabs-scroll.gif
Labels: ✨ enhancement, 🎨 visuell endring

#3311 fix: uu-problem og escape-håndtering av kbar
  package.json
  patches/kbar@0.1.0-beta.39.patch
  pnpm-lock.yaml
  portal/package.json
Labels: 👽portal

#3315 chore: fiks linkerscriptet for pnpm
  scripts/linker.js
Labels: 👷‍♂️ CI & infra

#3326 chore: rigg om gatsby-bygget
  portal/gatsby-node.js
Labels: 👷‍♂️ CI & infra

#3303 Ukentlig oppdatering av avhengigheter
  actions/changed-files/build/main.js
  actions/changed-files/package.json
  actions/paths-filter/build/main.js
  actions/paths-filter/package.json
  actions/paths-filter/src/main.ts
  jest.config.js
  jest/identity-mapper.ts
  package.json
  packages/formatters-util/package.json
  packages/text-input-react/package.json
  packages/tooltip-react/package.json
  pnpm-lock.yaml
  portal/package.json
Labels: 🔗 dependencies

#3328 chore: unngå dobbelt publisering av portalen
  .github/workflows/release_portal.yml
Labels: 👷‍♂️ CI & infra

#3329 chore: rekonfigurer cache keys for å unngå uendelig vekst
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_portal.yml
Labels: 👷‍♂️ CI & infra

#3325 docs: fiks feil metadata for Lister-seksjonen
  portal/src/components/UU/uu-content/liste.tsx
Labels: 📚 dokumentasjon, 👽portal

#3335 fix: gjør typen for event handlere gjenbrukbar
  packages/datepicker-react/src/types.ts
Labels: 🐝 bug
