Repository fremtind/jokul, pull requests merged in 2022-06, with the labels that each got.

#2898 feat: add masked input for numbers
  packages/formatters-util/documentation/Example.tsx
  packages/formatters-util/documentation/InputMaskExample.tsx
  packages/formatters-util/documentation/input-mask-example.scss
  packages/formatters-util/src/util/parseNumber.ts
  packages/formatters-util/src/util/registerWithMask.ts
  packages/text-input-react/documentation/TextInput.mdx
  packages/text-input-react/src/BaseInputField.tsx
  packages/text-input/text-input.scss
Labels: ✨ enhancement, ✅ bugfix

#2902 docs: dokumenter lessons learned med Webpack
  portal/src/texts/guider/hvordanTesteLokaleEndringerEgetProsjekt.mdx
Labels: 📚 documentation

#2900 fix: hold pila etter navlink inline
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly in high contrast #0.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly in high contrast #1.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly in high contrast #0.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly in high contrast #1.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly in high contrast #2.png
  packages/button-react/integration/__image_snapshots__/Buttons  render correctly in high contrast #3.png
  packages/card/card.scss
  packages/cookie-consent-react/integration/__image_snapshots__/Cookie Consent  works and looks as expected in high contrast #1.png
  packages/core/links.scss
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #6.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #7.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly in high contrast #3.png
Labels: ✅ bugfix

#2904 fix: stopp onBlur i Safari ved klikk i input så kalender
  packages/datepicker-react/src/DatePicker.tsx
  packages/datepicker-react/src/internal/Calendar.tsx
  packages/datepicker-react/src/utils.ts
  packages/select-react/src/NativeSelect.tsx
  packages/text-input-react/src/TextInput.tsx
Labels: ✅ bugfix

#2903 refactor: fjern framer-motion fra FormErrorMessageBox
  packages/alert-message-react/package.json
  packages/datepicker-react/package.json
  packages/icon-button-react/package.json
  packages/message-box-react/documentation/Example.tsx
  packages/message-box-react/documentation/FormErrorMessageBoxExample.tsx
  packages/message-box-react/documentation/MessageBox.mdx
  packages/message-box-react/package.json
  packages/message-box-react/src/FormErrorMessageBox.tsx
  packages/message-box-react/src/MessageBox.tsx
  packages/react-hooks/src/useAnimatedHeight.tsx
  packages/text-input-react/package.json
  portal/package.json
  scripts/scaffold/templates/component-react/package.json
  scripts/scaffold/templates/component/package.json
  yarn.lock
Labels: 🔗 dependencies

#2914 chore: rigg om cachingen av turborepo
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  packages/text-input-react/src/BaseInputField.tsx
  packages/text-input/text-input.scss
Labels: 👷‍♂️ CI and deployment

#2917 chore: oppdater noen resolutions
  package.json
  yarn.lock
Labels: 🔗 dependencies

#2915 Ny side om team API i portalen
  CONTRIBUTING.md
  portal/src/components/Header/useNavigationLinks.tsx
  portal/src/pages/kom-i-gang/deg-og-jokul.tsx
  portal/src/pages/kom-i-gang/design.tsx
  portal/src/pages/kom-i-gang/hjelp.tsx
  portal/src/pages/kom-i-gang/introduksjon.tsx
  portal/src/pages/kom-i-gang/jobb-med-teamet.tsx
  portal/src/pages/kom-i-gang/slik-er-jokul-satt-sammen.tsx
  portal/src/texts/blog/updates/april-2022.mdx
  portal/src/texts/blog/updates/core-10.mdx
  portal/src/texts/blog/updates/mai-2022.mdx
  portal/src/texts/blog/updates/mars-2022.mdx
  portal/src/texts/guider/hvordanBlogge.mdx
  portal/src/texts/guider/hvordanEndreJokul.mdx
  portal/src/texts/guider/hvordanKode.mdx
  portal/src/texts/profile/icon.mdx
  portal/src/texts/universell-utforming/ResponsivtDesign.mdx
  portal/static/assets/kom-i-gang/team-api.png
Labels: 📚 documentation, 👽portal

#2926 chore: forsøk en ny nøkkel for turborepo cache
  .github/workflows/pull_request.yml
  package.json
  portal/src/components/Documentation/Typography/TypograhyTable/TableCell.tsx
  portal/src/components/Documentation/Typography/TypograhyTable/TableHeader.tsx
  portal/src/components/Documentation/Typography/TypograhyTable/TypographyTable.scss
  portal/src/components/Documentation/Typography/TypograhyTable/index.tsx
  portal/src/components/TypograhyTable/TypographyTable.tsx
  portal/src/components/TypograhyTable/TypographyTableRow.tsx
  portal/src/components/TypograhyTable/index.ts
  portal/src/texts/profile/typography.mdx
Labels: 👷‍♂️ CI and deployment
