Repository fremtind/jokul, pull requests merged in 2022-08, with the labels that each got.

#2986 chore: oppdater avhengigheter
  actions/changed-files/package.json
  package.json
  packages/formatters-util/package.json
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies

#2987 chore: refactor ut react-helmet, anbefalt av Gatsby
  portal/gatsby-ssr.js
  portal/package.json
  portal/src/components/Layout/Layout.tsx
  portal/src/components/seo/Seo.tsx
  portal/src/components/seo/index.ts
  portal/src/pages/blog.tsx
  portal/src/pages/eksempler/skjemavalidering.tsx
  portal/src/pages/index.tsx
  portal/src/pages/kom-i-gang/deg-og-jokul.tsx
  portal/src/pages/kom-i-gang/design.tsx
  portal/src/pages/kom-i-gang/hjelp.tsx
  portal/src/pages/kom-i-gang/introduksjon.tsx
  portal/src/pages/kom-i-gang/jobb-med-teamet.tsx
  portal/src/pages/kom-i-gang/slik-er-jokul-satt-sammen.tsx
  portal/src/pages/kom-i-gang/utvikling.tsx
  portal/src/templates/DocPageLayout.tsx
  yarn.lock
Labels: 👽portal, 🔗 dependencies

#2992 docs: figboost
  portal/src/texts/blog/figboost.mdx
  portal/static/assets/figboost.png
Labels: 📖 blog

#2995 fix: fjern checkmark fra søkbar select og bruk pil i stedet
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #10.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #11.png
  packages/select/select.scss
Labels: ✅ bugfix

#2990 fix: fjern position sticky fra th
  packages/table-react/documentation/ExpandableTableExample.tsx
  packages/table-react/documentation/Table.mdx
  packages/table-react/integration/__image_snapshots__/Table  renders correctly #2.png
  packages/table-react/integration/__image_snapshots__/Table  renders correctly #3.png
  packages/table-react/integration/__image_snapshots__/Table  renders correctly #6.png
  packages/table-react/integration/__image_snapshots__/Table  renders correctly #7.png
  packages/table-react/integration/__image_snapshots__/Table  renders correctly in high contrast #1.png
  packages/table-react/integration/__image_snapshots__/Table  renders correctly in high contrast #3.png
  packages/table/_table-header.scss
Labels: ✅ bugfix

#3000 docs: forny siden om Sass mixins
  packages/core/documentation/mixins.mdx
Labels: 📚 documentation

#3003 fix: legg til date-fns som en dependency i datepicker-react
  packages/datepicker-react/package.json
  yarn.lock
Labels: ✅ bugfix

#3004 chore: oppdater avhengigheter
  actions/changed-files/package.json
  package.json
  portal/package.json
  portal/src/components/seo/Seo.tsx
  yarn.lock
Labels: 🔗 dependencies

#3005 fix: redesign hover og focus på select uten layout shift
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #10.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #11.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #4.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #5.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #6.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #7.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #2.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #3.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #5.png
  packages/select/select.scss
Labels: ✅ bugfix

#3007 fix: fix a bug where delete and backspace would reset caret position
  packages/formatters-util/src/util/registerWithMask.ts
Labels: ✅ bugfix

#3013 fix: reset search in select on blur
  packages/select-react/src/Select.tsx
Labels: ✅ bugfix

#3020 chore: ukens oppdateringer
  package.json
  packages/stylelint-config-jkl/package.json
  patches/gatsby+4.21.0.patch
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies

#3029 docs: unngå at innhold leses opp av skjermleser uten kontekst
  packages/alert-message-react/documentation/AlertMessageExample.tsx
  packages/message-box-react/documentation/MessageBoxExample.tsx
  portal/src/components/Experimental/Experimental.tsx
  portal/src/pages/eksempler/feilmelding-500-med-melding.tsx
Labels: ♿️ a11y, 👽portal

#3030 docs: dokumenter metode for å brekke til liste før default
  doc-utils/CodeSection.tsx
  doc-utils/ExampleBase.tsx
  packages/react-hooks/documentation/ElementDimensionsExample.tsx
  packages/react-hooks/documentation/element-dimensions-example.scss
  packages/react-hooks/documentation/elementDimensions.mdx
  packages/table-react/documentation/Table.mdx
Labels: 📚 documentation

#3034 fix: navigasjon med piltast forbi skjulte elementer
  packages/select-react/src/Select.tsx
Labels: ✅ bugfix, ♿️ a11y
