Repository fremtind/jokul, pull requests merged in 2022-05, with the labels that each got.

#2870 La Fremtind-bot oppdatere den samme kommentaren i pull requests
  .github/workflows/pull_request.yml
  portal/src/components/Typography/FormatProvider.tsx
  portal/src/components/Typography/Typography.tsx
  portal/src/components/Typography/index.ts
Labels: 👷‍♂️ CI and deployment

#2858 feat: legg til flere varianter av logostemplet
  packages/logo-react/MIGRATION.md
  packages/logo-react/documentation/Example.tsx
  packages/logo-react/documentation/Logo.mdx
  packages/logo-react/documentation/LogoExample.scss
  packages/logo-react/documentation/LogoStampExample.tsx
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #10.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #11.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #12.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #13.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #14.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #15.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #4.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #5.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #6.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #7.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #8.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #9.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #2.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #3.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #4.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #5.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #6.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #7.png
  packages/logo-react/integration/logo.spec.js
  packages/logo-react/src/LogoStamp.tsx
  packages/logo-react/src/index.ts
  packages/logo-react/src/text-paths/ForsikringLevertAvFremtind.tsx
  packages/logo-react/src/text-paths/FraSB1ogDNB.tsx
  packages/logo-react/src/text-paths/InnovasjonFraFremtind.tsx
  packages/logo-react/src/text-paths/TeknologiFraFremtind.tsx
  packages/logo-react/src/text-paths/VartEgetForsikringsselskap.tsx
  packages/logo-react/src/text-paths/VartForsikringsselskap.tsx
  packages/logo-react/src/text-paths/index.ts
  packages/logo-react/src/useTextSpinner.ts
  packages/logo/logo.scss
  portal/src/components/portal-footer/PortalFooter.tsx
Labels: ✨ enhancement

#2719 feat: legg til komponenter for skeleton loaders
  cypress/support/index.js
  packages/core/core.scss
  packages/core/mixins/_helpers.scss
  packages/loader-react/README.md
  packages/loader-react/documentation/Example.tsx
  packages/loader-react/documentation/Loader.mdx
  packages/loader-react/documentation/LoaderExample.tsx
  packages/loader-react/documentation/QuickLoaderExample.tsx
  packages/loader-react/documentation/SkeletonLoaderExample.tsx
  packages/loader-react/documentation/styles.scss
  packages/loader-react/integration/__image_snapshots__/Loader  render correctly #6.png
  packages/loader-react/integration/__image_snapshots__/Loader  render correctly #7.png
  packages/loader-react/integration/__image_snapshots__/Loader  render correctly in high contrast #3.png
  packages/loader-react/integration/loader.spec.js
  packages/loader-react/src/Loader.tsx
  packages/loader-react/src/index.ts
  packages/loader-react/src/skeletons/SkeletonAnimation.tsx
  packages/loader-react/src/skeletons/SkeletonButton.tsx
  packages/loader-react/src/skeletons/SkeletonCheckboxGroup.tsx
  packages/loader-react/src/skeletons/SkeletonElement.tsx
  packages/loader-react/src/skeletons/SkeletonInput.tsx
  packages/loader-react/src/skeletons/SkeletonLabel.tsx
  packages/loader-react/src/skeletons/SkeletonRadioButtonGroup.tsx
  packages/loader-react/src/skeletons/SkeletonTable.tsx
  packages/loader-react/src/skeletons/SkeletonTextArea.tsx
  packages/loader-react/src/useDelayedRender.ts
  packages/loader/README.md
  packages/loader/skeleton-loader.scss
  portal/gatsby-browser.tsx
Labels: ✨ enhancement

#2872 docs: lag en guide for å teste endringer lokalt
  portal/src/texts/guider/hvordanTesteLokaleEndringerEgetProsjekt.mdx
Labels: 📚 documentation

#2877 fix: bruk riktig feilfarge i dark mode
  packages/select-react/integration/__image_snapshots__/Select  renders correctly #3.png
  packages/select/select.scss
Labels: ✅ bugfix

#2885 docs: bloggpost for mai
  portal/src/texts/blog/updates/mai-2022.mdx
  portal/static/assets/blog/updates/mai-2022/logostamp-demo.png
  portal/static/assets/blog/updates/mai-2022/skeleton-demo.gif
  portal/static/assets/blog/updates/mai-2022/toggleslider-demo.gif
Labels: 📖 blog
