Repository fremtind/jokul, pull requests merged in 2022-07, with the labels that each got.

#2941 feat: add defaultTab prop to tabs
  packages/tabs-react/src/Tabs.test.tsx
  packages/tabs-react/src/Tabs.tsx
Labels: ✨ enhancement

#2946 fix: reset statisk høyde ved bruk av data-compactlayout
  packages/text-input/text-input.scss
Labels: ✅ bugfix

#2927 fix: støtt defaultValue fra react-hook-form
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
  packages/select-react/src/select-utils.ts
  portal/src/pages/eksempler/skjemavalidering.tsx
Labels: ✅ bugfix

#2955 fix: rett mangler i relasjon mellom inputfelt og hjelpetekst, listeboks-semantikk i Select
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #0.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #1.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #2.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #3.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #4.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #5.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #6.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly #7.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly in high contrast #0.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly in high contrast #1.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly in high contrast #2.png
  packages/alert-message-react/integration/__image_snapshots__/AlertMessage  renders correctly in high contrast #3.png
  packages/core/src/components/SupportLabel.test.tsx
  packages/core/src/components/SupportLabel.tsx
  packages/field-group-react/package.json
  packages/field-group-react/src/FieldGroup.tsx
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #10.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #11.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #12.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #13.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #14.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #15.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #4.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #5.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #6.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #7.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #8.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly #9.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #2.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #3.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #4.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #5.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #6.png
  packages/logo-react/integration/__image_snapshots__/Logo  renders correctly in high contrast #7.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #0.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #1.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #2.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #3.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #4.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #5.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #6.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly #7.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly in high contrast #0.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly in high contrast #1.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly in high contrast #2.png
  packages/message-box-react/integration/__image_snapshots__/MessageBox  renders correctly in high contrast #3.png
  packages/radio-button-react/src/RadioButtonGroup.tsx
  packages/react-hooks/src/useAnimatedHeight.tsx
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #2.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #3.png
  packages/select-react/integration/__image_snapshots__/Select  renders correctly in high contrast #5.png
  packages/select-react/src/NativeSelect.tsx
  packages/select-react/src/Select.tsx
  packages/select-react/src/useListNavigation.ts
  packages/text-input-react/README.md
  packages/toggle-switch-react/src/ToggleSwitch.tsx
Labels: ✅ bugfix, ♿️ a11y

#2951 docs: vis nåværende versjonsummer etter pakkelenke
  portal/gatsby-node.js
  portal/src/components/Layout/Layout.scss
  portal/src/components/Layout/components/ComponentPageHeader.tsx
  portal/src/components/Layout/components/GitHubLinks.scss
  portal/src/components/Layout/components/GitHubLinks.tsx
  portal/src/templates/DocPageLayout.tsx
Labels: 👽portal

#2956 feat: skill ut og eksporter en BaseRadioButton for avanserte scenarier
  packages/radio-button-react/README.md
  packages/radio-button-react/src/BaseRadioButton.tsx
  packages/radio-button-react/src/RadioButton.tsx
  packages/radio-button-react/src/index.ts
Labels: ✨ enhancement

#2953 chore: gi komponenter som manglet det muligheten til å gi rest props
  packages/accordion-react/src/AccordionItem.tsx
  packages/alert-message-react/src/AlertMessage.tsx
  packages/card-react/src/InfoCard.tsx
  packages/content-toggle-react/src/ContentToggle.tsx
  packages/cookie-consent-react/src/CookieConsent.tsx
  packages/cookie-consent-react/src/CookieConsentModal.tsx
  packages/cookie-consent-react/src/types.ts
  packages/core/src/components/Label.tsx
  packages/core/src/components/ScreenReaderOnly.tsx
  packages/description-list-react/src/DescriptionList.tsx
  packages/icons-react/src/IconFactory.tsx
  packages/icons-react/src/animated-icons/ArrowHorizontalAnimated.tsx
  packages/icons-react/src/animated-icons/ArrowVerticalAnimated.tsx
  packages/icons-react/src/animated-icons/HamburgerCloseAnimated.tsx
  packages/icons-react/src/animated-icons/PlusRemoveAnimated.tsx
  packages/icons-react/src/icons/ArrowDown.tsx
  packages/icons-react/src/icons/ArrowLeft.tsx
  packages/icons-react/src/icons/ArrowRight.tsx
  packages/icons-react/src/icons/ArrowUp.tsx
  packages/icons-react/src/icons/ArrowUpRight.tsx
  packages/icons-react/src/icons/Calendar.tsx
  packages/icons-react/src/icons/CheckMark.tsx
  packages/icons-react/src/icons/Close.tsx
  packages/icons-react/src/icons/Error.tsx
  packages/icons-react/src/icons/Hamburger.tsx
  packages/icons-react/src/icons/Info.tsx
  packages/icons-react/src/icons/Plus.tsx
  packages/icons-react/src/icons/Search.tsx
  packages/icons-react/src/icons/Success.tsx
  packages/icons-react/src/icons/Warning.tsx
  packages/logo-react/src/Logo.tsx
  packages/logo-react/src/LogoStamp.tsx
  packages/message-box-react/src/MessageBox.tsx
  packages/summary-table-react/src/SummaryTable.tsx
  packages/summary-table-react/src/SummaryTableRow.tsx
  packages/toggle-switch-react/src/ToggleSlider.tsx
  packages/toggle-switch-react/src/ToggleSwitch.tsx
  portal/src/texts/guider/react-stilguide.mdx
Labels: 📚 documentation, ✨ enhancement

#2961 fix: ikke overskriv name med undefined fra context
  packages/radio-button-react/src/RadioButton.tsx
Labels: ✅ bugfix

#2963 test: regresjonstest for name satt på react-hook-form-måten
  packages/radio-button-react/src/RadioButtonGroup.test.tsx
Labels: 🔬 tests

#2962 feat: add support for dismissable tag
  packages/tag-react/documentation/Example.tsx
  packages/tag-react/documentation/Tag.mdx
  packages/tag-react/documentation/TagExample.tsx
  packages/tag-react/package.json
  packages/tag-react/src/Tag.test.tsx
  packages/tag-react/src/Tag.tsx
  packages/tag/tag.scss
  scripts/scaffold/templates/component-react/documentation/Example.tsx
Labels: ✨ enhancement

#2966 docs: legg til import av underavhengigheter
  packages/table-react/README.md
Labels: 📚 documentation

#2969 fix: legg inn en author style for hidden-attributtet
  packages/core/styles/_reset.scss
Labels: ✅ bugfix

#2974 fix: fjern dobbel outline fra Tag dismiss-knapp og juster tykkelse
  packages/tag-react/integration/__image_snapshots__/Tag  renders correctly #0.png
  packages/tag-react/integration/__image_snapshots__/Tag  renders correctly #1.png
  packages/tag-react/integration/__image_snapshots__/Tag  renders correctly in high contrast #0.png
  packages/tag-react/integration/tag.spec.js
  packages/tag/tag.scss
Labels: ✅ bugfix, 🔬 tests

#2975 docs: update css references for expand-button
  packages/expand-button-react/README.md
Labels: 📚 documentation

#2972 wip: tastaturnavigasjon og skjermleseropplevelse i Select med søk
  packages/core/src/components/Label.tsx
  packages/select-react/src/Select.test.tsx
  packages/select-react/src/Select.tsx
  packages/select-react/src/select-utils.ts
Labels: ✨ enhancement, ✅ bugfix, ♿️ a11y

#2977 refactor: samle konfigurasjon av eksempler på ett sted (per pakke) så devserver og portal bruker de samme
  packages/alert-message-react/documentation/AlertMessage.mdx
  packages/alert-message-react/documentation/AlertMessageExample.tsx
  packages/alert-message-react/documentation/Example.tsx
  packages/checkbox-react/documentation/Checkbox.mdx
  packages/checkbox-react/documentation/CheckboxExample.tsx
  packages/checkbox-react/documentation/Example.tsx
  packages/content-toggle-react/documentation/ContentToggle.mdx
  packages/content-toggle-react/documentation/ContentToggleExample.tsx
  packages/content-toggle-react/documentation/Example.tsx
  packages/cookie-consent-react/documentation/Example.tsx
  packages/core/documentation/CoreExample.tsx
  packages/core/documentation/Link.mdx
  packages/core/documentation/Link/LinkExample.tsx
  packages/core/documentation/Link/NavLinkExample.tsx
  packages/expand-button-react/documentation/Example.tsx
  packages/feedback-react/documentation/Example.tsx
  packages/field-group-react/documentation/Example.tsx
  packages/field-group-react/documentation/FieldGroup.mdx
  packages/field-group-react/documentation/FieldGroupExample.tsx
  packages/footer-react/documentation/Example.tsx
  packages/hamburger-react/documentation/Example.tsx
  packages/hamburger-react/documentation/Hamburger.mdx
  packages/hamburger-react/documentation/HamburgerExample.tsx
  packages/list-react/documentation/Example.tsx
  packages/list-react/documentation/ListExample.tsx
  packages/loader-react/documentation/Example.tsx
  packages/loader-react/documentation/Loader.mdx
  packages/loader-react/documentation/LoaderExample.tsx
  packages/loader-react/documentation/SkeletonLoaderExample.tsx
  packages/logo-react/documentation/Example.tsx
  packages/message-box-react/documentation/Example.tsx
  packages/radio-button-react/documentation/Example.tsx
  packages/select-react/documentation/Example.tsx
  packages/table-react/documentation/ActionTableExample.tsx
  packages/table-react/documentation/ClickableTableExample.tsx
  packages/table-react/documentation/DataTableExample.tsx
  packages/table-react/documentation/Example.tsx
  packages/table-react/documentation/ExpandableTableExample.tsx
  packages/table-react/documentation/HeadlessTableExample.tsx
  packages/table-react/documentation/MobileListTableExample.tsx
  packages/table-react/documentation/Table.mdx
  packages/text-input-react/documentation/Autosuggest.mdx
  packages/text-input-react/documentation/AutosuggestExample.tsx
  packages/text-input-react/documentation/Example.tsx
  packages/text-input-react/documentation/TextAreaExample.tsx
  packages/text-input-react/documentation/TextInput.mdx
  packages/text-input-react/documentation/TextInputExample.tsx
  packages/toggle-switch-react/documentation/Example.tsx
  packages/toggle-switch-react/documentation/ToggleSwitch.mdx
Labels: 📚 documentation

#2976 docs: bloggpost for juni og juli
  packages/tag-react/documentation/TagExample.tsx
  portal/src/texts/blog/updates/juni-juli-2022.mdx
  portal/static/assets/blog/updates/juni-juli-2022/input-mask-junjul22.gif
Labels: 📖 blog
