Repository fremtind/jokul, pull requests merged in 2022-10, with the labels that each got.

#3172 fix: la brukeren scrolle i TextArea som starter åpent
  packages/text-input/text-input.scss
Labels: 🐝 bug

#3174 fix: sørg for at valgt alternativ vises når Select åpnes
  packages/select-react/src/select-utils.ts
Labels: 🐝 bug

#3157 fix: feil bruk av `aria-live` flere steder
  packages/button-react/package.json
  packages/button-react/src/Button.tsx
  packages/content-toggle-react/src/ContentToggle.tsx
  packages/feedback-react/src/Feedback.test.tsx
  packages/feedback-react/src/Feedback.tsx
  packages/feedback-react/src/FeedbackSuccess.tsx
  packages/feedback-react/src/followup/Followup.tsx
  packages/feedback-react/src/questions/AddonQuestion.tsx
  packages/feedback-react/src/questions/ContactQuestion.tsx
  packages/loader-react/src/Loader.tsx
  packages/loader-react/src/skeletons/SkeletonAnimation.tsx
  packages/message-box-react/src/MessageBox.test.tsx
  packages/message-box-react/src/MessageBox.tsx
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useAriaLiveRegion.ts
  packages/text-input-react/src/TextArea.tsx
  packages/tooltip-react/src/Tooltip.tsx
  turbo.json
Labels: ♿️ universell utforming

#3181 docs: endre ikke-kompakt til Default i dokumentasjonen
  doc-utils/ExampleBase.tsx
Labels: 👽portal

#3183 fix: flytt tastaturfokus ved sidenavigering
  portal/src/components/Typography/Typography.tsx
  portal/src/components/delay-text/DelayText.tsx
  portal/src/layout/Layout.tsx
  portal/src/layout/header/ContentLink.tsx
  portal/src/pages/index.tsx
Labels: ♿️ universell utforming, 👽portal

#3187 feat: la useIntersectionObserver ta inn flere elementer
  packages/react-hooks/documentation/IntersectionObserverExample.tsx
  packages/react-hooks/documentation/index.scss
  packages/react-hooks/documentation/intersectionObserver.mdx
  packages/react-hooks/src/useIntersectionObserver/useIntersectionObserver.ts
Labels: ✨ enhancement

#3186 feat: justerte fallback fonts for å redusere cumulative layout shift
  doc-utils/CodeBlock/CodeBlock.scss
  packages/core/core.scss
  packages/core/jkl/_typography.scss
  packages/webfonts/webfonts.scss
Labels: ✨ enhancement

#3192 chore: ukentlig oppdatering av avhengigheter
  package.json
  patches/@jest+environment+29.1.2.patch
  patches/gatsby+4.24.4.patch
  yarn.lock
Labels: 🔗 dependencies

#3194 fix: skjul skip link ved navigering med peker, warnings fra Gatsby
  portal/gatsby-node.js
  portal/src/components/Documentation/Picture/MediaBox.tsx
  portal/src/layout/Layout.tsx
Labels: 🐝 bug, 👽portal

#3190 fix: flytt pila til høyre i Accordion, andre småjusteringer
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #0.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #1.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #2.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly #3.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly in high contrast #0.png
  packages/accordion-react/integration/__image_snapshots__/Accordion  renders correctly in high contrast #1.png
  packages/accordion-react/src/AccordionItem.tsx
  packages/accordion/accordion.scss
Labels: ✨ enhancement

#3199 fix: fjern hovereffekt fra siste brødsmule
  packages/breadcrumb/breadcrumb.scss
Labels: ✨ enhancement

#3204 fix: core-versjon i scaffold
  scripts/scaffold/templates/component-react/package.json
  scripts/scaffold/templates/component/package.json
Labels: 👷‍♂️ CI & infra

#3205 chore: refactor portallogoen
  jest.config.js
  portal/src/layout/header/Header.tsx
  portal/src/layout/header/PortalLogo.scss
  portal/src/layout/header/PortalLogo.test.tsx
  portal/src/layout/header/PortalLogo.tsx
  portal/src/layout/header/header.scss
Labels: 👽portal

#3210 fix: only zeros is not valid fodselsnummer anymore
  packages/validators-util/src/isValidFodselsnummer/isValidFodselsnummer.test.tsx
  packages/validators-util/src/isValidFodselsnummer/isValidFodselsnummer.ts
Labels: 🐝 bug

#3215 docs: bloggpost for oktober
  portal/src/texts/blog/updates/oktober-2022.mdx
  portal/static/assets/blog/updates/oktober-2022/feedback-helplabel.png
  portal/static/assets/blog/updates/oktober-2022/unframer-tooltip.gif
Labels: 📚 dokumentasjon
