Repository fremtind/jokul, pull requests merged in 2022-01, with the labels that each got.

#2643 fix: fjern padding fra hamburger
  packages/hamburger/hamburger.scss
Labels: ✅ bugfix

#2648 fix: sett korrekt aria-hidden basert på showLoader
  packages/button-react/src/Button.test.tsx
  packages/button-react/src/Button.tsx
Labels: ✅ bugfix, ♿️ a11y

#2650 chore: revert memo eksempelkomponenten
  doc-utils/ExampleBase.tsx
Labels: ✅ bugfix, 👽portal

#2632 chore: oppdater avhengigheter
  package.json
  packages/accordion-react/package.json
  packages/alert-message-react/package.json
  packages/button-react/package.json
  packages/card-react/package.json
  packages/checkbox-react/package.json
  packages/constants-util/package.json
  packages/content-toggle-react/package.json
  packages/cookie-consent-react/package.json
  packages/core/package.json
  packages/datepicker-react/package.json
  packages/description-list-react/package.json
  packages/expand-button-react/package.json
  packages/feedback-react/package.json
  packages/field-group-react/package.json
  packages/hamburger-react/package.json
  packages/icon-button-react/package.json
  packages/icons-react/package.json
  packages/image-react/package.json
  packages/list-react/package.json
  packages/loader-react/package.json
  packages/logo-react/package.json
  packages/message-box-react/package.json
  packages/radio-button-react/package.json
  packages/react-hooks/package.json
  packages/select-react/package.json
  packages/summary-table-react/package.json
  packages/table-react/package.json
  packages/tabs-react/package.json
  packages/tag-react/package.json
  packages/text-input-react/package.json
  packages/toggle-switch-react/package.json
  packages/validators-util/package.json
  portal/package.json
  scripts/scaffold/templates/component-react/package.json
  yarn.lock
Labels: 🔗 dependencies

#2659 chore: oppdater avhengigheter uke 3
  package.json
  packages/checkbox-react/package.json
  packages/cookie-consent-react/package.json
  packages/datepicker-react/package.json
  packages/feedback-react/package.json
  packages/logo-react/package.json
  packages/message-box-react/package.json
  packages/radio-button-react/package.json
  packages/select-react/package.json
  packages/tabs-react/package.json
  packages/text-input-react/package.json
  packages/toggle-switch-react/package.json
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies

#2664 chore: dropp videoopptak under Cypress-test
  .github/workflows/pull_request.yml
  cypress.json
Labels: 👷‍♂️ CI and deployment

#2629 chore: samle workflows for release
  .github/workflows/external-contributions-sync.yml
  .github/workflows/portal.yml
  .github/workflows/release.yml
Labels: 👷‍♂️ CI and deployment

#2665 docs: endringer i issue- og PR-templates, Contributing
  .github/ISSUE_TEMPLATE/funksjonalitets-nske.md
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: 📚 documentation, 🚇 infrastructure

#2671 docs: tydeliggjør at man står fritt til å velge
  packages/core/documentation/typography.mdx
  portal/src/texts/profile/typography.mdx
Labels: 📚 documentation

#2675 fix(expand-button): changed to type=button
  packages/expand-button-react/src/ExpandButton.tsx
Labels: ✅ bugfix

#2677 fix: gjør det mulig å bruke ExpandButton uten CoreToggle
  packages/expand-button-react/documentation/ExpandButton.mdx
  packages/expand-button-react/documentation/ExpandButtonExample.tsx
  packages/expand-button-react/integration/__image_snapshots__/ExpandButton  renders correctly #4.png
  packages/expand-button-react/integration/__image_snapshots__/ExpandButton  renders correctly #5.png
  packages/expand-button-react/integration/__image_snapshots__/ExpandButton  renders correctly #6.png
  packages/expand-button-react/integration/__image_snapshots__/ExpandButton  renders correctly #7.png
  packages/expand-button-react/src/ExpandButton.tsx
Labels: ✅ bugfix

#2676 fix: sett hidden når tilstanden er _ikke_ åpen
  .github/workflows/pull_request.yml
  portal/integration/portal-smoketest.spec.js
  portal/src/components/Header/components/MainMenu.tsx
  portal/src/components/Header/components/useFullScreenMenuAnimation.tsx
Labels: 👽portal, 🔬 tests

#2670 chore: automatisk assign enhanchement-issue
  .github/workflows/issue_triage.yml
Labels: 🚇 infrastructure

#2685 chore: oppdater avhengigheter uke 5
  package.json
  packages/cookie-consent-react/package.json
  packages/message-box-react/package.json
  portal/package.json
  yarn.lock
Labels: 🔗 dependencies
