Repository fremtind/jokul, pull requests merged in 2022-11, with the labels that each got.

#3224 chore: oppdateringer sans node
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .gitignore
  nx.json
  package.json
  packages/stylelint-config-jkl/package.json
  packages/text-input-react/package.json
  patches/@jest+environment+29.2.2.patch
  patches/gatsby+4.24.4.patch
  patches/gatsby+4.24.6.patch
  patches/graphql-compose+9.0.10.patch
  portal/package.json
  turbo.json
  yarn.lock
Labels: 🔗 dependencies

#3228 chore: ikke tving shorthands for grid og flex
  packages/stylelint-config-jkl/rules/declaration.js
Labels: 👷‍♂️ CI & infra

#3237 fix: sørg for at toltip-ikonet ikke strekkes i Safari Mobile
  packages/tooltip/tooltip.scss
Labels: 🐝 bug

#3250 docs: legg til basics for å starte devserver i readme
  README.md
  package.json
Labels: 📚 dokumentasjon

#3252 chore: rydd opp i deprecation warnings fra Actions
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .gitignore
  actions/changed-files/build/main.js
  actions/changed-files/package.json
  actions/paths-filter/README.md
  actions/paths-filter/action.yml
  actions/paths-filter/build/main.js
  actions/paths-filter/package.json
  actions/paths-filter/src/main.ts
  actions/paths-filter/tsconfig.json
  pnpm-lock.yaml
Labels: 👷‍♂️ CI & infra

#3262 chore: workaround for begrenset paths-filter
  .github/workflows/release.yml
  .github/workflows/release_portal.yml
Labels: 👷‍♂️ CI & infra

#3265 fix: rett opp farger i dark mode
  portal/src/layout/header/PortalLogo.scss
Labels: ♿️ universell utforming, 👽portal

#3266 chore: legg til bygg/restore fra cache for pakker
  .github/workflows/release_portal.yml
Labels: 👷‍♂️ CI & infra

#3273 chore: gjenbruk branch preview til Cypress-tester
  .github/workflows/pull_request.yml
  actions/paths-filter/build/main.js
  actions/paths-filter/src/main.ts
  cypress.config.ts
Labels: 👷‍♂️ CI & infra

#3276 chore: don't break my auth
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  package.json
Labels: 👷‍♂️ CI & infra

#3278 chore: sørg for at lerna ikke klager ved publish til GH
  .github/workflows/release.yml
Labels: 👷‍♂️ CI & infra

#3294 feat: add sticky table header
  doc-utils/ComponentExample.tsx
  doc-utils/ExampleBase.tsx
  packages/table-react/documentation/Example.tsx
  packages/table-react/documentation/StickyTableExample.tsx
  packages/table-react/documentation/Table.mdx
  packages/table-react/src/TableHead.tsx
  packages/table/_table-head.scss
Labels: 📚 dokumentasjon, ✨ enhancement, 🎨 visuell endring
