Repository fremtind/jokul, pull requests merged in 2023-03, with the labels that each got.

#3427 docs: bloggpost for februar
  portal/src/texts/blog/updates/februar-2023.mdx
  portal/static/assets/blog/updates/februar-2023/footer-kontaktinfo-eks-dark.png
  portal/static/assets/blog/updates/februar-2023/footer-kontaktinfo-eks.png
Labels: 📚 dokumentasjon

#3428 docs: utvid kodeeksempler for ikonene
  packages/icons-react/documentation/AnimatedIconsExample.tsx
  packages/icons-react/documentation/IconsExample.tsx
Labels: 📚 dokumentasjon

#3441 Nytt error-ikon
  packages/icons-react/src/IconFactory.tsx
  packages/icons-react/src/icons/error/ErrorMedium.tsx
  packages/icons-react/src/icons/error/ErrorMediumBold.tsx
  packages/icons-react/src/icons/error/ErrorSmall.tsx
  packages/icons-react/src/icons/error/ErrorSmallBold.tsx
Labels: 🎨 visuell endring, ♿️ universell utforming

#3462 docs: rydd i litt gamle bilder
  packages/alert-message-react/documentation/AlertMessage.mdx
  packages/button-react/documentation/buttons.mdx
  portal/src/texts/profile/farger.mdx
  portal/static/assets/do-donts/alert-message-do-1.png
  portal/static/assets/do-donts/alert-message-dont-1.png
  portal/static/assets/do-donts/button-do-1.png
  portal/static/assets/do-donts/button-dont-1.png
  portal/static/assets/documentation/alert-message/alert-error.png
  portal/static/assets/documentation/alert-message/alert-info.png
  portal/static/assets/documentation/button/button-primary-loading.gif
  portal/static/assets/documentation/farger/liv_detaljside.png
  portal/static/assets/documentation/farger/tilganger_suksess.png
Labels: 📚 dokumentasjon

#3460 chore: fjern overflødig workflow
  .github/workflows/issue_triage.yml
Labels: 👷‍♂️ CI & infra
