Repository fremtind/jokul, pull requests merged in 2023-02, with the labels that each got.

#3381 feat: extend supported date format variants
  packages/datepicker-react/src/DatePicker.test.tsx
  packages/datepicker-react/src/utils.ts
Labels: ✨ enhancement

#3385 docs: add documentation for sortable table columns
  packages/table-react/documentation/SortableTableExample.tsx
  packages/table-react/documentation/Table.mdx
Labels: 📚 dokumentasjon

#3395 fix: ekspandering av TextArea fra liten størrelse, og ekspandering uten å måtte sette rows
  README.md
  doc-utils/DevServer.tsx
  package.json
  packages/accordion-react/package.json
  packages/alert-message-react/package.json
  packages/breadcrumb-react/package.json
  packages/button-react/package.json
  packages/card-react/package.json
  packages/checkbox-react/package.json
  packages/constants-util/package.json
  packages/content-toggle-react/package.json
  packages/cookie-consent-react/package.json
  packages/core/package.json
  packages/datepicker-react/package.json
  packages/description-list-react/package.json
  packages/expand-button-react/package.json
  packages/feedback-react/package.json
  packages/footer-react/package.json
  packages/formatters-util/package.json
  packages/hamburger-react/package.json
  packages/icon-button-react/package.json
  packages/icons-react/package.json
  packages/image-react/package.json
  packages/input-group-react/package.json
  packages/list-react/package.json
  packages/loader-react/package.json
  packages/logo-react/package.json
  packages/message-box-react/package.json
  packages/radio-button-react/package.json
  packages/react-hooks/package.json
  packages/select-react/package.json
  packages/summary-table-react/package.json
  packages/table-react/package.json
  packages/tabs-react/package.json
  packages/tag-react/package.json
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #14.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #15.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #16.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #17.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #18.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #19.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #20.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #21.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #22.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly #23.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly in high contrast #10.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly in high contrast #11.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly in high contrast #7.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly in high contrast #8.png
  packages/text-input-react/integration/__image_snapshots__/TextInput renders correctly in high contrast #9.png
  packages/text-input-react/package.json
  packages/text-input-react/src/BaseTextArea.tsx
  packages/text-input-react/src/TextArea.test.tsx
  packages/toggle-switch-react/package.json
  packages/tooltip-react/package.json
  pnpm-lock.yaml
  scripts/scaffold/templates/component-react/package.json
Labels: 🐝 bug

#3360 docs: småplukk på TextInput-siden
  packages/formatters-util/documentation/InputMaskExample.tsx
  packages/text-input-react/documentation/TextInput.mdx
  packages/text-input-react/documentation/TextInputExample.tsx
Labels: 📚 dokumentasjon

#3396 chore: legg til script for å commite med signatur
  package.json
Labels: 👷‍♂️ CI & infra

#3352 test: legg til tester med jest-axe for eksisterende tester som manglet det
  packages/accordion-react/src/Accordion.test.tsx
  packages/accordion-react/src/AccordionItem.test.tsx
  packages/core/src/components/NavLink.test.tsx
  packages/core/src/components/ScreenReaderOnly.test.tsx
  packages/core/src/components/ScreenReaderOnly.tsx
  packages/input-group-react/src/Label.test.tsx
  packages/input-group-react/src/SupportLabel.test.tsx
  scripts/scaffold/templates/component-react/src/Scaffold.test.tsx
Labels: 👷‍♂️ CI & infra

#3417 fix: oppdater icon-button i table
  packages/table-react/package.json
  packages/table-react/src/TablePagination.tsx
  pnpm-lock.yaml
Labels: 🐝 bug

#3419 docs: legg til import av input-group der det manglet
  packages/select-react/README.md
  packages/toggle-switch/README.md
Labels: 📚 dokumentasjon
