Repository fremtind/jokul, pull requests merged in 2024-11, with the labels that each got.

#4254 fix: legg til react-dom som dependency og inline react-is
  packages/jokul/package.json
  packages/jokul/src/components/menu/Menu.tsx
  packages/jokul/vite.build.config.mjs
  pnpm-lock.yaml
Labels: 🦙 @fremtind/jokul

#4271 feat: chips
  packages/chip-react/README.md
  packages/chip-react/documentation/Chip.mdx
  packages/chip-react/documentation/ChipExample.tsx
  packages/chip-react/documentation/DevClient.tsx
  packages/chip-react/documentation/DevServer.tsx
  packages/chip-react/documentation/Example.tsx
  packages/chip-react/esbuild.dev.mjs
  packages/chip-react/esbuild.mjs
  packages/chip-react/esbuild.prod.mjs
  packages/chip-react/package.json
  packages/chip-react/src/Chip.test.tsx
  packages/chip-react/src/Chip.tsx
  packages/chip-react/src/index.ts
  packages/chip-react/tsconfig-for-declarations.json
  packages/chip/README.md
  packages/chip/_index.scss
  packages/chip/chip.scss
  packages/chip/gulpfile.js
  packages/chip/package.json
  packages/jokul/package.json
  packages/jokul/src/components/chip/Chip.test.tsx
  packages/jokul/src/components/chip/Chip.tsx
  packages/jokul/src/components/chip/documentation/ChipExample.tsx
  packages/jokul/src/components/chip/documentation/Example.tsx
  packages/jokul/src/components/chip/index.ts
  packages/jokul/src/components/chip/styles/_index.scss
  packages/jokul/src/components/chip/styles/chip.scss
  packages/jokul/src/styles/styles.scss
  pnpm-lock.yaml
  portal/gatsby-browser.tsx
Labels: 🏔️ Jøkuluka

#4327 fix: sørg for at vi tar med undermapper når vi bygger stiler
  packages/jokul/build-styles.mjs
  packages/jokul/src/components/expander/styles/_index.scss
Labels: 🐝 Bug
